[2019-06-24 14:02] yahyasheikhnejad commented on #204
Dear @jamiebull1
of course, I can. How can I share these files? here .RAR file is not acceptable. I can send them via email.
is there any other way to share a bunch of files?

[2019-06-24 14:04] yahyasheikhnejad commented on #204
https://drive.google.com/file/d/1DPISgXgX2JG3a5EFqol2K5rKBPRY98hQ/view?usp=sharing

[2019-06-24 21:52] jamiebull1 commented on #204
@yahyasheikhnejad ok, first problem is that you need to call `idf.run` with the `expandobjects=True` keyword arg. This is required to expand your HVAC templates. There is also an underlying issue with how we're handling the error, which I'll raise as a separate issue.

[2019-06-24 21:55] jamiebull1 opened #245 "Error handling errors in python 3"
The behavior of stderr seems to have changed and it is no longer seekable. We need to write some tests for the behaviour of `parse_error` which should have caught this change.

[2019-06-24 22:28] santoshphilip commented on #245
hmm.. that was unexpected from python3

[2019-06-24 22:31] jamiebull1 commented on #245
Actually, on further testing I can't reproduce this in the test suite. I can make it happen from the command line, but not yet in a simple test. This is the issue that made me think it was a py3 change causing the failure at  https://bugs.python.org/issue20074

[code]

[2019-06-24 22:44] santoshphilip commented on #245
What is your python version ?
Your link is pointing to a version 3.3-3.4 bug.

[2019-06-24 22:59] jamiebull1 commented on #245
Yeah, I'm testing on 3.7 so it's not related. It's a strange one though. From command line I get an error at the `sys.stderr.seek(0)` line, while running from pycharm it gets one line further before failing at `sys.stderr.read()`. Both on 3.7, and only when running the test script from @yahyasheikhnejad. Trying to force the same error in a test doesn't cause any unexpected behaviorr.

[2019-06-25 09:02] yahyasheikhnejad commented on #204
Dear @jamiebull1
Thank you so much for your help and support
would you please let me know about a new issue for handling the error? (URL, or link)

[2019-06-25 18:57] yahyasheikhnejad commented on #245
I do appreciate @jamiebull1 to take care of my problem.
you mentioned, "error appeared only when running the test script from @yahyasheikhnejad".
what was the problem with the code? did I miss something?
I have already tried with other IDF files and I got the same error (returned non-zero exit status 1).
it is so wired because there were also files which work well! (how could it be?!)
I am now con

[2019-06-25 19:03] yahyasheikhnejad commented on #204
Dear @jamiebull1
I am not sure if I follow your instruction well (as you may expect) but after I applied your instruction I got this result:

ExpandObjects Started.
 Begin reading Energy+.idd file.
 Done reading Energy+.idd file.
ExpandObjects Finished. Time:     0.125
EnergyPlus Starting
EnergyPlus, Version 9.1.0-08d2e308bb, YMD=2019.06.25 19:58
**FATAL:ProcessScheduleInput: Preceding Errors caus

[2019-06-25 23:22] jamiebull1 commented on #204
The `FATAL:ProcessScheduleInput` part of the error message suggests that the problem is related to your schedules. Have a look in the .err file which should have more info.

[2019-07-04 00:03] lymereJ opened #246 "Precision issue when using eppy on a Linux machine"
If I open an IDF file with `eppy` on a Linux machine and save it, some of the numeric fields get rounded up. I don't have this issue on Windows. Is this a Linux, `Python` or `eppy` issue?

Here's an example, the original content is:
[code]

Here's the content after being saved using `eppy` on Linux:
[code]

`0.753473729169681` got changed to `0.75347372917`.

Any help would be greatly appreciated!

[2019-07-04 13:29] santoshphilip commented on #246
@lymereJ , this may be coming from how computers handle floating point numbers. There is always a lack of precision there. (there are many answers in https://stackoverflow.com that speak about this). For example see https://stackoverflow.com/questions/21079282/increasing-floating-point-precision-in-python

It is also possible that the difference is coming form how eppy formats the output. I will h

[2019-07-04 15:32] jamiebull1 commented on #246
This actually checks out as an issue. I wrote this test which passes on my machine but not anywhere else.
[code]

It looks like the only configurations that handle it without changing anything is py3.7 on mac or windows (my machine - there's something up with the CI for windows and 3.7 by the looks of it). Everything else either reduces the precision before even starting to touch eppy, or when wri

[2019-07-05 16:06] lymereJ commented on #246
@santoshphilip, @jamiebull1 - thanks for getting back to me!

Here's a little bit more background. I have two IDF files that are identical except for a tiny difference (~1E-10) in equipment power density, it doesn't make any difference when running annual simulations but I am interested in Sizing Period simulations (winter and summer design days). There's pretty big differences in results for the

[2019-07-06 11:30] jamiebull1 commented on #246
@lymereJ Seems like a big effect for a tiny difference. Since the issue doesn't arise in Python 3, and since Python 2 has less than 6 months till end-of-life, I'd suggest we call this one a `won't-fix`. Thoughts, @santoshphilip?

[2019-07-06 12:38] santoshphilip commented on #246
I agree with @jamiebull1

[2019-07-06 18:16] mattia2 opened #247 "Installing eppy with python 3.6 / 3.7"
Dear All,

apologies for the silly question but I cannot install eppy with python 3.6.4. Here you can find the error:
![pic](https://user-images.githubusercontent.com/52608217/60759785-74c65d00-a022-11e9-85b3-d970c2752da9.JPG)

How can I overcome this?

Many thanks for your support,

Mattia

[2019-07-06 22:35] santoshphilip commented on #247
Looks like a bug.
I'll look into it

[2019-07-06 22:42] santoshphilip commented on #247
That was a bug
It has been fixed in branch `i247_install`

For the moment, you can install using::

    pip install https://github.com/santoshphilip/eppy/archive/i247_install.zip

Let me know if it works

[2019-07-07 08:57] jamiebull1 commented on #247
What was the issue here, @santoshphilip? Is it something we can add a test for so we don't get a regression?

[2019-07-08 08:20] mattia2 commented on #247
Thank you very much. I was able to install eppy with py 3.6.
Any chance to install eppy with Anaconda? I tried with the same script (python 3.7.3 with Anaconda)

![Capture](https://user-images.githubusercontent.com/52608217/60794352-819d9a80-a161-11e9-8d08-9dc6bc8d624d.JPG)

Many thanks in advance,

Mattia

[2019-07-08 18:10] santoshphilip commented on #247
@mattia2 , Anaconda may need a new version (with the bug fix) on https://pypi.org
I'll try and get a new release done in a few days.

[2019-07-08 18:13] santoshphilip commented on #247
@jamiebull1 ,
The bug was in setup.py
I am not sure how to test the install process automatically.

I am chasing some deadlines right now. I'll post my notes on this when I get a moment :-)

[2019-07-08 20:36] jamiebull1 commented on #247
That's strange. The CI uses setup.py, so should have caught it. Yes, let me
know when you get a chance and I'll see if there's any improvement we can
make.

On Mon, 8 Jul 2019 at 20:13, santoshphilip <notifications@github.com> wrote:

[2019-07-09 05:25] #246 closed

[2019-07-14 15:55] santoshphilip commented on #247
made a new release in pypi.org
Now `pip install eppy` or `pip install -U eppy` will work

[2019-07-15 00:24] santoshphilip commented on #241
fixed

[2019-07-15 00:24] #241 closed

[2019-07-17 14:10] MaheshJayachander commented on #247
hi @santoshphilip , facing the same issue with conda install eppy, any updates on this matter would be helpfull.

[2019-07-17 17:48] santoshphilip commented on #247
@MaheshJayachander ,
I thought the new version I released would work with conda
Looks like it is not.

I don't have conda installed. So I can't test it here:
I assume you would do:

    conda install eppy
    # or
    conda install https://github.com/santoshphilip/eppy/archive/master.zip

Can you post the error message.

[2019-07-18 03:16] MaheshJayachander commented on #247
![conda install failure](https://user-images.githubusercontent.com/49056624/61426581-75bb9080-a938-11e9-8a7f-00cda746567b.PNG)

this is the error I am facing @santoshphilip

[2019-07-18 10:30] jamiebull1 commented on #247
Do we produce wheels for conda? As far as I'm aware it's not part of the build process. We could look at tagging it onto the CI process, but I don't think there are any difficult dependency issues that make it necessary.

When I install eppy in a conda env, I just activate the env, then `pip install eppy` as usual.

[2019-07-18 11:14] MaheshJayachander commented on #247
got it @jamiebull1 , did `pip install eppy` in anaconda prompt, got it installed.
Thank you.

[2019-07-21 09:18] mattia2 commented on #247
Thanks @jamiebull1 @santoshphilip - it works :)

[2019-07-22 00:33] santoshphilip commented on #247
I am closing this issue as **resolved**
@jamiebull1 , I'll open a new issue to work on why the tests did not catch this failure

[2019-07-22 00:33] #247 closed

[2019-07-22 00:47] santoshphilip opened #248 "tests not catching failure in setup.py"
**Problem**
in version r0.5.49
- the install was failing on user's computers
    - `pip install eppy` was failing
        - (can be tested as `pip install https://github.com/santoshphilip/eppy/archive/r0.5.49.zip`)
    - `pip install eppy` uses `python setup.py`
        - `setup.py `has an import that needs `six` to be installed
        - at this point the user is unlikely to have `six` installed

[2019-07-22 19:20] santoshphilip commented on #248
test an install that has setup.py importing six (actually import eppy that imports six)
check that continious testing fails here.

I'll do this and report back

[2019-07-22 19:29] santoshphilip commented on #248
The test has failed as expected.

I'll close this issue as resolved

[2019-07-22 19:29] #248 closed

[2019-08-06 16:22] polinasali commented on #210
Hi,
I am new to python and eppy. I am trying to run files in parallel as an example before, but get an error, what is the format structure ? Can you please help?

`from eppy import modeleditor
from eppy.modeleditor import IDF
from eppy.runner import run_functions

modeleditor.IDF.setiddname('C:\\EnergyPlusV8-9-0\\Energy+.idd')

idfsourceFolder1 = "C:\\Users\\SALI5786\\OneDrive Corp\\OneDrive - Atk

[2019-08-06 19:19] jamiebull1 commented on #210
@polinasali could you please open this as a new issue, and also post the traceback shown when you encounter the error?

[2019-08-07 07:16] polinasali opened #253 "error in parallel running"
Hi,
I am new to python and eppy. I am trying to run files in parallel as an example before, but get an error, what is the format structure ? Can you please help?
`from eppy import modeleditor
from eppy.modeleditor import IDF
from eppy.runner import run_functions
modeleditor.IDF.setiddname('C:\EnergyPlusV8-9-0\Energy+.idd')
idfsourceFolder1 = "C:\Users\SALI5786\OneDrive Corp\OneDrive - Atkins Ltd\D

[2019-08-07 08:51] jamiebull1 commented on #253
Hi @polinasali

Thanks for opening this here. Looking at your code, there are a few issues to take care of. I've made changes and left comments where I've changed things. Let me  know if there are any things which are unclear, or if you hit any more errors.

[code]

[2019-08-07 08:54] jamiebull1 commented on #210
New issue at #253

[2019-08-07 09:35] polinasali commented on #253
Thanks you!
However i'm still getting an error
`from eppy.modeleditor import IDF
from eppy.runner import run_functions

IDF.setiddname('C:/EnergyPlusV8-9-0/Energy+.idd')
#ep folder
epf_folder = "C:/Users/SALI5786/OneDrive Corp/OneDrive - Atkins Ltd/Desktop/energyplus"
idf_source_folder = "collection/output_idf1"
of_folder = "Iteration-00{i}"
name_template = "2019-07-31_Change{i}.idf"

out_folder =

[2019-08-07 09:52] polinasali commented on #253
thank you!
I changed it a bit, as I need results to be stored in the file host folder
there is no error, however the code doesn't seem to do what I thought it would
it creates a folder 00i with some results
![image](https://user-images.githubusercontent.com/53047942/62613390-45e12680-b901-11e9-8ec9-720057f3ff19.png)
the aim is to run a file from each folder and store results in  a corresponding fo

[2019-08-07 10:07] jamiebull1 commented on #253
You also need to use `format` on the output directory in the loop:

    {'output_directory': out_folder.format(i=i), 'ep_version': '8-9-0'}

[2019-08-07 10:11] polinasali commented on #253
oh yeah, it worked! Thank you very much for your help and such a quick reply!

[2019-08-07 10:14] jamiebull1 commented on #253
Glad to help. All the best with python and eppy, and we're here if you need help.

[2019-08-07 10:54] #253 closed

[2019-08-08 11:51] MaheshJayachander opened #255 "running sim loop with idf.run()"
Hi @santoshphilip , I have a small issue with running loops for `idf.run() `and formatting the output file  .
I have attached code for example,

`from eppy import modeleditor

from eppy.modeleditor import IDF

IDF.setiddname('C:\EnergyPlusV9-1-0\Energy+.idd')

epwfile = r"C:\EnergyPlusV9-1-0\WeatherData\USA_FL_Tampa.Intl.AP.722110_TMY3.epw"

idf01 = IDF(r'C:\Users\Mahesh Jayachander\Documents\Pyth

[2019-08-08 12:17] jamiebull1 commented on #255
@MaheshJayachander you can pass a different `output_directory` parameter to `idf.run()` each time around the loop which will then save the outputs to a directory. It might also be causing problems having dots in the file path, so maybe replace them with underscores.

Something like:

[code]

[2019-08-09 06:46] MaheshJayachander commented on #255
Perfect . Thank you soo much @jamiebull1 .

[2019-08-09 06:46] #255 closed

[2019-08-23 08:11] polinasali opened #256 "Error in python"
the code was running fine on a different batch of files, however in a new batch, the code is producing an error.
Can you possible suggest what the error implies
![1](https://user-images.githubusercontent.com/53047942/63577271-f39d3800-c585-11e9-8007-ab7785ab5a5b.png)
![2](https://user-images.githubusercontent.com/53047942/63577272-f435ce80-c585-11e9-8d34-7a3c9e3377b3.png)

[2019-08-23 13:07] jamiebull1 commented on #256
You need a guard on your script when using multiprocessing on Windows. To fix it, wrap your code in a `main` method, and add the guard at the bottom of the file:

[code]

Explanation can be found [here ](https://stackoverflow.com/a/18205006/1706564).

[2019-08-26 17:23] JasonGlazer opened #257 "Errors when opening two EnergyPlus example files"
Errors occur when trying to open the following example files that come with EnergyPlus 9.1.0 with eppy:

ASHRAE9012016_OutPatientHealthCare_Denver.idf
ConstSpeedBranchPumpExercise.idf'

I was using eppy 0.5.51 with Python 3.7.4

[2019-08-26 19:45] santoshphilip opened #258 "got DeprecationWarning. Does not happen in the eppy pytests"
Got this DeprecationWarning warning. See what can be done to fix it.

    test_epidf.py::test_oneidfobject
      /Users/santosh/venvs/p3witheppy_pypi/lib/python3.7/site-packages/eppy/idf_msequence.py:27: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated, and in 3.8 it will stop working
        class Idf_MSequence(collections.MutableS

[2019-09-04 17:51] fabiamiorelli opened #259 "IDD file EnergyPlus v9-1-0"
I am trying to run EnergyPlus v9-1-0 from Spyder (3.3.6) using eppy. When running a simulation I am getting a FileNotFoundError which I assume is due to a wrong version of the IDD file (Energy+V9_0_1.idd). Is there a v9-1-0 IDD file available? Is yes, where can I find it?
Thank you for any help you can provide!

[2019-09-04 20:26] santoshphilip commented on #259
In general the IDD file will be found in the install folder of Energyplus. Usually the file  is called Energy+.idd.
On my Mac it is located at
`/Applications/EnergyPlus-9-1-0/Energy+.idd`

If it still does not work, post your code snippet where you open the file. It will help to debug your script.

[2019-09-04 22:35] hnagda opened #260 "Retaining the order of idf objects and comments in eppy"
**Problem:** The current saveas() function in eppy ignores the existing order of objects in the IDF file and reorders everything as per the IDD file. Also it does not retain any E+ comments starting with '!'. This makes it difficult to compare the old IDF and the eppy-modified IDF using a simple text compare tool.

**Solution:** Add a new saveinorder() function which will retain the original order

[2019-09-05 07:56] fabiamiorelli commented on #259
I was looking for the IDD in the eppy package resources folder, instead of the EnergyPlus folder. Now it works perfectly!
Thank you very much for your help!

[2019-09-05 15:17] #259 closed

[2019-09-05 15:21] santoshphilip commented on #260
@hnagda , Do you already have a strategy for doing this ?

- do you need any changes to the data structure of eppy to do this
- I assume you will need some changes in the read, because you will need to capture the order and the comments while reading
- would you like to fork eppy, try out the changes and then do a pull request

[2019-09-09 06:40] jamiebull1 commented on #260
This is something that is requested quite often. For me it would make sense if it were the default behaviour of the save function. However that would be a breaking change for some users. Maybe an `in_order` keyword argument for the save function, which we could eventually deprecate would be a good API.

[2019-09-09 17:51] santoshphilip commented on #260
I agree on the `In_order` keyword and deprecate strategy.

Looking at my off line emails with @hnagda , he has already written code that will retain order and comments. It would be good to have that functionality in eppy

[2019-09-10 16:45] apigott opened #262 "Trouble getting output from idf.run()"
When I try idf.run() with ExampleFiles/BasicsFiles/Excercise1A.idf there doesn't seem to be an output with energy use data. My understanding is that it should be in an eplusout.sql or similar but that file isn't generated.

I have a .audit, .bnd, .dxf, .eio, .end, .err, .eso, .mdd, .mtd, .mtr, .rdd, .shd. Is there an option that I need to turn on in the idf to get the sql output?

This tutorial (h

[2019-09-10 17:09] jamiebull1 commented on #262
Do you have an output variables set in the IDF? Documentation on what to add is available [here](https://bigladdersoftware.com/epx/docs/9-0/input-output-reference/input-for-output.html#input-for-output).

[2019-09-11 19:47] nevr1106 opened #263 "Get UnsupportedOperation: seek Error from idf.run()"
I am using Anaconda python 3.7 distribution with eppy installed from pip. EnergyPlus version is 9.1.0.

Through some testing, I found out that whenever EnergyPlus produces a _severe error_ or requires _preprocessing_, eppy will produce a **UnsupportedOperation: seek** error.

For example, if my EnergyPlus model uses **GroundHeatTransfer:Control** Slab Preprocessor, the eppy idf.run() will terminat

[2019-09-11 21:52] santoshphilip commented on #263
@jamiebull1 , is this related to issue #245

[2019-09-13 18:11] nevr1106 commented on #263
So I resolved the problem at least for my model.

First, the model cannot involve preprocessor like basement or slab preprocessor.

Second, the model itself can't produce any severe error.

If these two conditions are met, the idf.run() method works just fine.

[2019-09-13 18:19] jamiebull1 commented on #263
Thanks for the update. The seek error seems to happen when handling severe errors, so that makes sense.

I'm not familiar with the preprocessors, so I guess we should also look into fixing or documenting that.

[2019-09-21 12:12] FrancisBase opened #265 "support eppy with conda"
It is not recommended to use pip above conda environment.
https://www.anaconda.com/using-pip-in-a-conda-environment/
So would like to know if you have any plans to make eppy having conda compliance.
Cheers

[2019-09-21 17:39] jamiebull1 commented on #265
@santoshphilip this would be implemented as part of the CI process. I'm looking into it for geomeppy already, so can probably do it for eppy too if that's something that you think would be a good addition.

[2019-09-21 23:51] santoshphilip commented on #265
I am not very knowledgable about this issue, since I don't use conda.
Please go ahead do it for eppy.

Maybe the install page should have instructions on installing on conda. If you tell me what needs to be there, I'll add it to the page.

[2019-09-22 08:32] FrancisBase commented on #265
Here is a good source: https://docs.conda.io/projects/conda-build/en/latest/user-guide/tutorials/index.html

[2019-09-24 20:15] santoshphilip commented on #263
this has been fixed in pull request #264

[2019-09-24 20:15] #263 closed

[2019-10-11 14:00] MaheshJayachander opened #266 "Regarding parametric run"
Hi @santoshphilip , I have been trying to run a paramteric sim with varying shgc values , but ending up with errors, coudnt solve this issue, please help me out here.

I have attached the code

[issue_santhoshphilip.txt](https://github.com/santoshphilip/eppy/files/3717914/issue_santhoshphilip.txt)

the below is the error I am facing

C:\EnergyPlusV9-1-0\energyplus.exe --weather C:\Users\Mahesh Jay

[2019-10-11 14:25] jamiebull1 commented on #266
Hi @MaheshJayachander . This is fixed in #264 which has been merged to `develop` but not yet released.

[2019-10-11 20:56] santoshphilip commented on #266
@MaheshJayachander see if you can install from the develop branch (google to see how to do that with pip or other means).
It will take me a few days to do a new release

[2019-10-13 14:03] MaheshJayachander commented on #266
sure @santoshphilip , I guess il wait for the update.
Thanks

[2019-10-13 21:43] #245 closed

[2019-10-13 22:33] santoshphilip commented on #266
version r0.5.52 has been released

[2019-10-13 22:33] #266 closed

[2019-10-14 07:18] MaheshJayachander commented on #266
Thanks a ton, @santoshphilip and @jamiebull1 .
Got it running

[2019-10-30 09:47] MaheshJayachander opened #267 "Regarding setting up parametric run"
Hi @jamiebull1 and @santoshphilip , I am currently trying to set up an parametric run with 4 different wall construction, 4 roof construction and 4 SHGC glazing variations. While setting up the parametrics from the sourced IDF where I have already made the construction and material in IDF editor.
But when I try to loop the parameters int the BuildingSurface:Detailed & FenestrationSurface:Detailed

[2019-10-30 13:19] santoshphilip commented on #267
In your code you are mixing tabs and spaces for your indent.
this may be breading your code
in python, you should use either tabs or spaces, not both.

best practice is to use 4 spaces for an indent

[2019-11-01 05:48] santoshphilip commented on #267
@MaheshJayachander did you get the code working ? I think it will work if you fix the tab and space  problem.

[2019-11-02 03:19] MaheshJayachander commented on #267
Apologies for a late response.
ya i did @santoshphilip , the code has been running, but the changes I indent to make is not been achieved successfully.
That is for eg, I wanted to change the construction name of all the wall assemblies in BuildingSurface:Detailed to particular names of construction I had made, instead the code runs, but the IDF is not created properly according to my need.
The par

[2019-11-02 04:20] santoshphilip commented on #267
Can you post the code and a sample idf file
You can use [github gist](https://gist.github.com) to do so

would be easier for me to check and respond

[2019-11-02 05:33] MaheshJayachander commented on #267
Hi @santoshphilip , I have posted the code
link for code - [https://gist.github.com/MaheshJayachander/e11e2c3e4f2f91f0e4c56f45939d68d4](url)

zip of the idf file - [parametric run idf.zip](https://github.com/santoshphilip/eppy/files/3800166/parametric.run.idf.zip)

[2019-11-02 13:42] santoshphilip commented on #267
found a quick error in the tail end of your code.
Have not checked for other issues:

your code is :

    for s, wn in zip(srf, wallnames):
        if s.Outside_Boundary_Condition == 'Outdoors':
            if s.Surface_Type == 'Wall':
                s.Construction_Name = wn

                for sr, rn in zip(srf, roofnames):
                    if sr.Outside_Boundary_Condition == 'Outdoors':

[2019-11-21 16:01] anjukan commented on #218
I am encountering the exact same issue with the .csv file failing to be generated (even though the .eso file is being generated). My system configuration is Windows Server 2012 R2 Datacenter, EnergyPlus v8.5 and eppy v0.5.46.

[2019-11-22 00:03] santoshphilip commented on #218
I'll look into it.

@jamiebull1 has a better understanding of this part of the code.
Hoping he chimes in

[2019-11-22 09:53] jamiebull1 commented on #218
@santoshphilip I'm tied up till next week, but I can take a look then

[2019-11-22 16:31] santoshphilip commented on #218
I'll see if I can figure out what is happening.

[2019-11-26 21:36] yahyasheikhnejad opened #269 "loop over fields of an object in EP"

[2019-11-26 22:09] santoshphilip commented on #269
@yahyasheikhnejad

Take a look at
https://witheppy.readthedocs.io/en/latest/witheppy.eppyhelpers.html#module-witheppy.eppyhelpers.extfields

see

    witheppy.eppyhelpers.extfields.extensiblefields2list

and

    witheppy.eppyhelpers.extfields.list2extensiblefields

It will do what you are thinking of.

you need to install witheppy using
`pip install witheppy`

[2019-11-27 10:30] yahyasheikhnejad commented on #269
Dear @santoshphilip
I appreciated your help, as always. your responsibility to answer the coming questions (even stupid ones!) is very valuable.

[2019-11-29 16:27] yahyasheikhnejad commented on #269
from eppy import *
from eppy import modeleditor
from eppy.modeleditor import IDF
import witheppy
from witheppy.eppyhelpers import extfields

IDF_file_name="VRF.idf";
EPW_file_name="USA_VA_Sterling-Washington.Dulles.Intl.AP.724030_TMY3.epw"

iddfile = "Energy+.idd"
IDF.setiddname(iddfile)
idf = IDF(IDF_file_name, EPW_file_name)
i=0
for item in Sched.fieldnames:
	if (i<10):	print(i,item)
	if (i<10):

[2019-11-29 21:53] santoshphilip commented on #269
what is `Shed.item` ?

In the code I am not able to see what is `Shed`

the `from eppy import *` looks dangerous. So you really need it ?

[2019-11-30 18:59] yahyasheikhnejad commented on #269
1- Sched=idf.idfobjects['SCHEDULE:COMPACT'][1]  # I am so sorry, forget to paste this line! above code is also edited.
2- may I know why or how `from eppy import *` can be dangerous?

[2019-11-30 22:02] santoshphilip commented on #269
see [why is import * bad](https://stackoverflow.com/questions/2386714/why-is-import-bad)

[2019-12-01 21:30] santoshphilip commented on #269
I don't think `Shed` has a field called `item`.
`Sched.item` should throw an error.

[2020-01-16 22:05] MR1107 opened #270 "File not found on executing idf.run()"
Hello,

I am new to Python and eppy. I wrote the following simple code;

from eppy import modeleditor
from eppy.modeleditor import IDF
iddfile = r"Energy+.idd"
fname1= r"ASHRAE90.1_OfficeSmall_STD2004_PortAngeles.idf"
epwfile = r"Atlanta.epw"
idf = IDF.setiddname(iddfile)
idf = IDF(fname1,epwfile)
idf.run()

The program is throwing following exception;

Traceback (most recent call last):
  File "1

[2020-01-17 03:08] santoshphilip commented on #270
which version of eppy is this ?

[2020-01-17 09:06] fabiamiorelli opened #271 "idf.run() error when changing idf file"
I am trying to run EnergyPlus v9-1-0 from Spyder (3.3.6) using eppy. After opening my Python script, the first E+ simulation I run through eppy works properly. After I modify any E+ fields (such as constructions) in the same IDF file or try to run a different IDF file than the first one I ran, I keep getting the results of the very first simulation run. If I save a new IDF through idf.saveas() and

[2020-01-17 21:02] MR1107 commented on #270
Hey Santosh,

Thank you for replying. I figured with the help of a colleague that the version of idd file that I was using was different from one that was installed on my computer.

The code worked fine after that.

Best Regards,
Mayuri

[2020-01-17 23:46] #270 closed

[2020-01-18 07:53] santoshphilip commented on #271
I think I understand what you are saying. The behavior you are describing is unexpected.

Can you restate the issue with some example code snippets - illustrating with code that worked and code did not work. I may able to see what is going wrong.

[2020-01-23 13:20] fabiamiorelli commented on #271
@santoshphilip, thank you very much for your prompt answer!
The code is always running without throwing errors, but it looks as if the results (I am interested in heating and cooling demand from the eplusout table and meters) were not updated when I change input IDF file to a simulation run, I keep seeing the same results as the first IDF that is run. The same thing happens when keeping the same I

[2020-01-27 15:10] fabiamiorelli commented on #271
Is there maybe a way to clear the idf after a simulation run? Or maybe the issue is assigning and running the idf within a function?

[2020-01-29 17:29] santoshphilip commented on #271
I am going to update the documentation with examples of doing the runs.
I'll use the issue here as a way to shape the documentation

If there is a bug in eppy, I'll run into it while testing the demo scripts. Then I'll fix it.
Sorry this is taking longer than anticipated.

[2020-01-29 20:05] santoshphilip commented on #271
I wrote a quick script where I change the run period.

- first run is from Jan-Dec
- second run is only for Jan

The outputs change for each run. See the script below

    # python3 code
    import eppy

    idfname = "1ZoneEvapCooler.idf" # from example folder
    epwname = "USA_CO_Denver-Stapleton.724690_TMY.epw" # downloaded from E+ site
    idf = eppy.openidf(idfname, epw=epwname) # easy way t

[2020-01-30 13:33] fabiamiorelli commented on #271
Thanks for your help on this, I really appreciate it!
I looked into it but unfortunately I am not able to identify where the issue comes from exactly. Something else I noticed was that if I modify IDF fields and then save the new/updated IDF and run it directly from E+ everything works fine and the results are updated/change accordingly to the changes I made to the IDF. But if I run the same IDFs

[2020-01-30 14:03] jamiebull1 commented on #271
I've noticed similar behaviour before and not managed to get to the root of
it. I seem to recall my workaround was to create a new directory for each
run, though I can't guarantee that will work.

@santoshphilip I'm afraid I have no time at all for helping out with this
at the moment, but maybe the workaround above might point you in a useful
direction?

On Thu, 30 Jan 2020 at 14:33, fabiamiorelli

[2020-01-30 17:45] santoshphilip commented on #271
@fabiamiorelli , Can you try and run the script I used [above](https://github.com/santoshphilip/eppy/issues/271#issuecomment-579935752). Make any changes needed to get it to run in your environment.

Let me know how it succeeds or fails. It may give us some insight into what is going on.

@jamiebull1 , good to hear your comment that you may have run into this problem. Let me see what I can find ou

[2020-02-26 09:32] missermann opened #272 "failed drawing of loopdiagram"
I wanted to draw a loopdiagram with the in eppy provided script but it
failed with the following message:

 Couldn't import dot_parser, loading of dot files will not be possible.
constructing the loops
Traceback (most recent call last):
  File "loopdiagram.py", line 572, in <module>
    sys.exit(main())
  File "loopdiagram.py", line 568, in main
    make_and_save_diagram(args.file, args.idd)
  Fil

[2020-02-26 22:23] santoshphilip commented on #272
loop diagram works upto version 8.5 (I had used it for a version 8.5 successfully)
Something may have changed in the way E+ builds/defines loops
I think the code will need to be updated for version 8.9

Loop diagram is a bit of a hack. (written because of desperate need)
I won't be able to get to it for a few days.

If you are comfortable with python, you may want to take a look at the code. There

[2020-03-03 00:14] mwilsoncea opened #273 "Simultaneous runs broken under windows"
I'm trying to run multiple runs within eppy as discussed[ here](https://unmethours.com/question/38548/simultaneously-run-a-number-of-independent-energyplus-simulations-on-multiple-cores-on-linux-via-a-script/?answer=38572#post-id-38572):

I've tried the test units code in the link, stripped down, and I'm still getting an error message that throws Windows under the bus. Is this a Linux only feature

[2020-03-03 07:57] jamiebull1 commented on #273
You have no main method, like the error message says.

Details here https://stackoverflow.com/a/419185/1706564

Edit your code to be set up like this:

    # your imports here

    def main():
         # your script code here
         ...

    if __name__ == '__main__':
        main()

[2020-03-03 17:47] mwilsoncea commented on #273
Ah, my bad then. Thanks a bunch for the help. Here is the working code for posterity:
[code]

[2020-03-03 17:47] #273 closed

[2020-03-04 18:17] inkmug opened #274 "eppy 0.5.46 Controller:MechanicalVentilation object seems only process the first 50 outdoor air objects"
eppy 0.5.46, python 37, energyplus v9.1.0.
I'm using eppy only to process Lights and ElectricEquipment objects in the idf file.

After processing, the output idf file won't run through. Error file shows severe errors on Controller:MechanicalVentilation.
When I compared the idf file with the original one, it seems that for "Controller:MechanicalVentilation," with >50 Design Specification Outdoor Ai

[2020-03-04 18:34] santoshphilip commented on #274
quick response here before looking into the `idd` file.

- upgrade to the latest eppy version.
- it will give you an error when you try to read your `idf` file
    - the `idd` file has only 50 objects
    - the error message will tell you how to update your `idd` file to add more objects
    - (make sure you keep a backup of your original `idd`)
- once you update your `idd`, it should work
- conti

[2020-03-22 02:09] spolloni opened #275 "closed file object preventing `deepcopy` of IDF instances"
@santoshphilip  thanks for the useful tools in this repo.

It is currently impossible to create a `deepcopy` of an `IDF` instance,  which seems pretty restrictive when wanting to create a  "base" IDF and then bifurcate from it with several different simulation use-cases.

Consider the following code:
[code]
The last line fails with the following error:
[code]

With a bit of debugging I noticed tha

[2020-03-22 02:49] santoshphilip commented on #275
I'll look into this over the next couple of days.
I'll also look into your pull request.

thanx.

[2020-03-25 18:41] daniellosg opened #277 "Add fields to an IDF object"
Hi everyone,
I'm a newbie on eppy, and i'm not even sure if this is the right place to ask this (sorry in that case), but anyway: i'm trying to add fields to an people object, so that, if i got an people object in the idf, i'd like to add the fields:

      AdaptiveASH55,                              !- Thermal Comfort Report Type
      AdaptiveCEN15251;                           !- Thermal Comfor

[2020-03-26 15:39] santoshphilip commented on #277
which version of Energyplus are you working with?
I looked into E+ version 9.1.0 and the `People` object does not have a field `Thermal Comfort Report Type`

I am seeing the field `Thermal Comfort Model 1 Type` which can have the keyword `AdaptiveASH55 `

Let me know the version number of the E+. It will make it easier for me to track down what is going on.

[2020-03-26 17:09] daniellosg commented on #277
Hi,
I'm working with Energy plus 8.9. You're correct, the fields in the idd file are Thermal Comfort Model 1 Type, Thermal Comfort Model 2 Type and so on until 5. I just achieved what i needed, however, it's probably not the cleanest way to do this, so if you knew a better way it would be great. See the code below (basically I'm adding a new people object with the same fields, and add the 5 fields

[2020-03-26 18:30] santoshphilip commented on #277
you can use the function `copyidfobject`
see documentation [here](https://eppy.readthedocs.io/en/latest/newfunctions.html#copying-adding-an-idf-object)

quickly typing our some untested code below:

    firstpeopleobject=idf1.idfobjects['PEOPLE'][0]

    # make 5 new people objects
    for i in range(5):
        newpeopleobject = idf1.copyidfobject(firstpeopleobject)

        # make a new name for

[2020-03-27 18:18] daniellosg commented on #277
Thank you so much!

[2020-03-28 16:21] santoshphilip commented on #277
I am glad it worked for you. I am going to close this issue. If you still have problems, re-open this issue.

This forum is generally used to fix bugs in eppy, contribute changes/features or request features.
That is why the it is called "issues". Eppy has an issue that has to be fixed.

Questions on how to do something in eppy are better addressed in [UnmetHours.com](https://unmethours.com/questi

[2020-03-28 16:21] #277 closed

[2020-04-01 17:04] santoshphilip opened #278 "possible DeprecationWarning in idf_msequence.py"
May not work in python3.8 if it is not fixed.
Look into this

[2020-04-19 23:03] 906476903 opened #279 "Do I have ways to directly get outputs from python instead of reading from html files?"
Do I have ways to directly get outputs from python instead of reading from html files? Because read from file is relatively slow and can we get the outputs just like the returned value of idf.run()? (for example through the socket?)

Thanks.

[2020-04-20 16:19] santoshphilip commented on #279
You still have to read the output from the disk. If you don't read the html file, you have to read something else. What file are you thinking of reading. The E+ simulation writes all outputs to the disk. You can send the output thru a socket once you read it, but you still have to read it

I agree that the html file read is really slow on large files. I wrote some functions that read it faster. Le

[2020-04-27 16:45] milagrossanz opened #280 "problem running idfdiff.py"
Hello! I've been working with eppy for a couple of months now but it seems I'm doing something wrong while trying to use the script "idfdiff". I opened the file in Jupyter Notebook and changed the path to file1, file2 and idd, but I still get the following error:

[code]

Any idea what I'm doing wrong?
Thank you so much in advance.

[2020-04-27 17:18] santoshphilip commented on #280
Let me take a look.
I have never tried it within Jupyter notebook. So I am not sure what is going on yet.

[2020-04-27 23:30] santoshphilip commented on #280
Can you show me the actual line you ran
that gave those error messages

[2020-04-27 23:45] milagrossanz commented on #280
I actually copied the code from the file idfdiff.py in useful_scripts folder and worked on it. But the problem seems to be from this point on:

[code]

The previous lines run perfectly.

[2020-04-28 03:49] santoshphilip commented on #280
I made a new branch `i280_idfdiff`
I made some changes to `idfdiff.py` in that branch

Switch to that branch and run the following code in `jupyter notebook`.

- the pathnames in the code assume that you are in eppy root directory
- It also assumes that you have E+ 7.2 installed
- You can try with some other files for whatever E+ version you have installed
- the code will display the html table in

[2020-04-28 03:53] santoshphilip commented on #280
aargh .... unit tests are failing :-(

the code I have written above should still work.

[2020-04-28 04:22] santoshphilip opened #281 "pytest are failing in master branch"
Something has changed .... try rolling back to find a non-failing release

[2020-04-28 08:27] jamiebull1 commented on #281
Issues:

`pyparsing` version needs pinning for py2 installation

https://github.com/matplotlib/matplotlib/pull/1794

`black` needs running on the changed files.
[code]

[2020-04-28 14:36] santoshphilip commented on #281
good catch.
I'll follow up and fix it.

I should have listened to you when you suggested depreciating python 2 version of eppy back in December

[2020-04-28 18:23] milagrossanz commented on #280
wow, thank you so much for the quick reply @santoshphilip.
I've tried running the code you posted, but now the error is:

`TypeError                                 Traceback (most recent call last)
<ipython-input-4-be0df9434931> in <module>
      8 # --- the diff stuff happens below
      9 thediffs = idfdiff.idfdiffs(idf1, idf2)
---> 10 csvdiffs = idfdiff.makecsvdiffs(thediffs, idf1, idf2)

[2020-04-28 18:23] #280 closed

[2020-04-28 18:40] milagrossanz commented on #280
wow, thank you so much for your help and quick response @santoshphilip ! it worked perfectly now!!

I'm a little curious why this error occurred, though. what would you recommend that I use instead of Jupyter Notebook to avoid future errors when reading the scripts? work directly in the python interpreter?

thanks again for your help!

[2020-04-28 19:51] santoshphilip commented on #280
I changed the code so that `makecsvdiffs` is different and takes only 3 args (does not need  `dtls`). This is in branch `i280_idfdiff`.

You need to switch to that branch. (now you need to figure out how to use a different branch. See if you can google a bit and figure it out)

I just noticed that you said it 'did not work' and then you said 'it worked'. So 'did it ?'

Regarding your question on `

[2020-04-28 20:00] milagrossanz commented on #280
I'm sorry, I thought I didn't send the first message, so I deleted it so others don't get confused. it did work!

and I'll continue working with notebooks, then. thanks!

[2020-05-30 19:36] airallergy opened #282 "azimuth calculation considering building orientation"
It seems that the current calculation of the surface azimuth does not consider the **North Axis** field in the **Building** Object, wouldn't it be more reasonable to take the user-defined orientation into account?

[2020-05-31 04:36] santoshphilip commented on #282
you are right. Unfortunately when it was written (long ago), we didn't think about it..
I don't want to change that function, since it might break code that people have written, and are depending on.

It would be best to write another function, that would work as you described. If you write it, I'll include it in eppy.

[2020-05-31 04:37] santoshphilip commented on #282
Let me know if you can write it. I'll tell you where to put it.

[2020-05-31 11:06] airallergy commented on #282
Yes, I can certainly try, please do show me. Also, if there's anything else, like variable naming preferences etc., kindly let me know.

[2020-06-01 05:05] santoshphilip commented on #282
I need to re-frame the issue so that you don't have to deal with some of the innards of eppy. Give me a couple of days to do that.

[2020-06-01 14:24] airallergy commented on #282
Sure thing, take your time, and let me know when you are done.

[2020-06-01 19:31] santoshphilip opened #283 "surface.azimuth does not take into account the building.North_Axis"
problem: surface.azimuth does not take into account the building.North_Axis

As a step to resolving this issue, we need a function

    def true_azimuth(building_north_axis, surface_azimuth)
        # return "the azimuth based on surface.azimuth and building.North_Axis"

The location of this function should be

- eppy
    - geometry
        - surface.true_azimuth

The unit tests should be in

- ep

[2020-06-01 19:33] santoshphilip commented on #283
This issue has been opened to resolve issue #282

[2020-06-01 19:33] santoshphilip commented on #282
to recap

Surface.azimuth = gives the azimuth of the surface based on it's coordinates only

We need another function

surface.true_azimuth = gives the azimuth based on surface.azimuth and building.North_Axis. There may be other factors to take into account, but we will ignore them for now

to do this we need a function

true_azimuth(building_north_axis, surface_azimuth)

I have opened a new issue

[2020-06-02 13:10] santoshphilip commented on #283
@airallergy, I don't know how experienced you are with contributing code. If you are unfamiliar with any of the steps like `forking, pull request or testing (using pytest)`, post you question here and I'll help out.

[2020-06-02 15:25] airallergy commented on #283
will do if I have queries, cheers @santoshphilip

[2020-06-05 01:40] airallergy commented on #283
@santoshphilip, I wonder if I need to write only the two functions you mentioned above?

if this is the case, I wonder if the two inputs (building_north_axis, surface_azimuth) are both numbers? Do I need to do something to check if there is a given building north axis otherwise set default to 0?

[2020-06-05 02:17] santoshphilip commented on #283
@airallergy,  did you post and delete a comment ?I see it in my email, but not on GitHub.
Just checking.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-06-05 03:27] airallergy commented on #283
@santoshphilip, yes I did delete a comment which is no long my questions. sorry about the confusion.

I think I have done the changes to address the issue now, could you walk me through how I should pull request? I forked, created a new branch from develop, did changes, committed locally. Then I try to publish changes to upstream which is denied, I assume I need to pulish to my forked repo first,

[2020-06-05 03:47] santoshphilip commented on #283
go to your forked copy on github at
https://github.com/airallergy/eppy

- click on the tab "Pull Request" (it is on the top part of the page)
- once you are in that tab
    - click on the button "New pull request"
- from there it may be apparent how to do it

If it does not come out right, we can delete it and do a new one

[2020-06-06 04:35] santoshphilip commented on #283
This fixes the problem of `building.North_Axis`
But `true_azimuth` should also take into account `zone.Direction_of_Relative_North`

@airallergy , do you want to open it as a new issue ?

[2020-06-06 04:35] #283 closed

[2020-06-06 09:24] airallergy commented on #283
@santoshphilip what's on your mind? I'm ok with either new issue/pull request, or just changes in the current one.

[2020-06-06 12:49] santoshphilip commented on #283
It should be a new issue. This issue has been resolved and the pull request has been accepted

Reasoning behind opening it as a new issue:
- small incremental changes are easier in open source development. (we are strangers scattered across the planet contributing code)
- It makes it easier for you to contribute
- Equally important, it makes it easier for the maintainer (me) to accept
    - Mainta

[2020-06-06 13:05] santoshphilip commented on #281
It is failing with pyparsing 1.5 in python2
It is failing in python3

The problem is somewhere else. Some observations
- fails on Travis when pushed to GitHub
- fails on my laptop in python2 and python3
- failure may be due to some setting in virtualenv or on the computer (OS has been updated)

Possible directions for investigation
- try and find a machine on which this still passes
- track it bac

[2020-06-06 13:54] santoshphilip commented on #281
Continuing investigation

Found a machine on which eppy passes tests
- passes tests on office desktop
- pip freeze from office desktop
    - install pip freeze output on laptop in a new virtualenv
- fails on laptop in new virtualenv
- try it on home desktop that has an older OS
    - install pip freeze output from "office desktop" on "home desktop" in a new virtualenv
- fails on "home desktop" in

[2020-06-07 06:36] jamiebull1 commented on #281
Have you tried in conda? I had a look yesterday, and the errors on CI are related to pyparsing versions, but I couldn't find a version that satisfied everything

[2020-06-07 09:26] airallergy commented on #283
Thanks so much for the detailed explanation.

[2020-06-07 09:27] #282 closed

[2020-06-07 09:33] airallergy opened #285 "surface.true_azimuth does not take into account the zone.Direction_of_Relative_North"
This issue has been opened to further address the issue of `surface.true_azimuth` discussed in #282 and #283, where `zone.Direction_of_Relative_North` has yet to be included in the calculation.

[2020-06-07 18:48] santoshphilip commented on #281
Ok ... I think I untangled the web of dependencies and got it to pass
This is in branch `i281_failtest_alter`

See Travis-cl at
https://travis-ci.org/github/santoshphilip/eppy/builds/695746292

fixing the dependencies took me 7 hours grrr ...

There was a test that was failing. Took me a while to track it and fix (with 2 lines of code :-(

[2020-06-07 18:48] #281 closed

[2020-06-07 18:59] santoshphilip commented on #281
now merged into develop

[2020-06-08 17:01] airallergy commented on #285
A few thoughts:

1. I see some efforts have been made concerning the data type conversion during idf reading based on idd (#107 & #188), but there seems no conversion when inputting via eppy, say if I do
[code]
the value of the building north axis stays string.

2. Another issue would be the validity of numeric data. I took a look into the data conversion codes
[code]
I assume the original string

[2020-06-09 16:11] santoshphilip opened #287 "Deprecate python2"
List the steps needed for having only python3 version of eppy:

For python2 eppy
- have a clear link were the python2 version of eppy can be downloaded or installed

for python3 eppy (non-code changes):
- do a major version number change
- change README
- update tutorial
- update all other user documentation

code changes for eppy3:
- gradually remove six
- change setup.py file
- there are some py

[2020-06-09 16:23] santoshphilip opened #288 "IDD file in tests"
IDD file in tests

- in unit testing, the IDD file is loaded once and then not changed
- This is done because IDD file takes some time to load and parse. If it is loaded for each test, the tests take too long

Some tests need a different IDD file. To do this take the following steps
- reload(modelmaker), will set the IDD file to None
- Now a new IDD file can be loaded
- after the test is run
    -

[2020-06-09 16:57] santoshphilip commented on #240
closing this issue and reopening it in #287

Maintaining python2 has become hard. Time to fully go to python3

[2020-06-09 16:57] #240 closed

[2020-06-12 09:39] wannizhang opened #289 "eppy converts numbers in scientific notation to plain decimal notation, which might be out of range when processed by E+"
It seems that when parsing numbers, eppy will convert those scientific notations (such as 1e+10) to plain decimal notations. I got a idf file with an object like this:
[code]
After parsed by eppy, it becomes
[code]
Then when it's simulated with E+, an error `** Severe  ** stoll: out of range` will occur, because the numbers have too many digits.
Not sure if this is a problem easy to fix in the sou

[2020-06-12 14:22] santoshphilip commented on #289
I see this as a critical bug.
It has to be fixed.

I need a couple of days to get to this.
And I might need some more input from you.

Can you tell me which versions of E+ this happened in.
I don't think the E+ version number is significant, But it is worth looking into, to see if anything in the IDD file changed

[2020-06-12 19:45] wannizhang commented on #289
Thank you! I'm using E+ 9.2. FYI, it happens both on Windows and Mac.

[2020-06-12 20:27] daniellosg opened #290 "Making a module based on eppy"
Hi,
I’m such a newb with Python and Eppy (apologies if I’m not using the proper programming terms), and I’ve been trying to make module with different functions to work with Eppy. Therefore, there's no bug here, but my failed attempt to make the module work the way I want. Sorry to ask it here, but i've tried in UnmetHours and i got no response.
So, you can see in the attached ([Unmethours.zip](ht

[2020-06-13 03:58] santoshphilip commented on #289
@wannizhang , Can you  paste the relevant parts of the error message here
Is it possible to figure out how many digits is E+ capable of reading looking at the error message ?

[2020-06-13 04:03] santoshphilip commented on #289
re-reading your first comment, It is clear that the limitation is E+, not in eppy.
to be practical, eppy should be coded with a workaround for that limitation.

[2020-06-13 05:48] wannizhang commented on #289
@santoshphilip Yes, I think it's a limit of E+. The .err file of E+ doesn't show the specific limit, but I tried that it allows 20 digits at most (1e19 / -1e18).
Since using scientific notations won't be out of range, I wonder if eppy can keep the scientific notations in the original file when parsing the idf.

[2020-06-13 06:53] santoshphilip commented on #289
- I can keep scientific notation
- I don't want it to be scientific notation everywhere. Makes it hard to read.
- If it is greater than x digits, I'll let it write in scientific notation.

Can you test less number of digits. Try 19, 18, 17, 16, 15. Find out where E+ stops failing. If you do that, I can update the code with some level of confidence that we are doing the right thing.

To clarify wha

[2020-06-13 09:02] wannizhang commented on #289
@santoshphilip Yeah I've tried different numbers of digits and it starts to fail at 20 digits (19 works).
Sure. It makes sense to only keep the scientific notation when the number is out of range.
Thanks!

[2020-06-13 15:07] santoshphilip commented on #289
I fixed this in branch `i289_scientific`
I put the cutoff at 18 digits (put a little safety margin there)

@wannizhang , can you do an E+ run and test
If it looks good I'll merge into `develop` branch

[2020-06-14 04:33] santoshphilip commented on #285
`eppy` is not a user interface, but a scripting language for E+
In EP editor, the user can easily make a typo. It is less likely to happen in a scripting language

- I am not comfortable doing an error check as soon as the field is input (like EP editor does) for a number of reasons:
    - the code get's complicated where it doesn't need to.
    - it will slow eppy, because checks are done every t

[2020-06-14 04:33] #285 closed

[2020-06-14 04:43] santoshphilip commented on #285
@airallergy , the code for this issue was nicely written. I learnt a few things from it.
I liked how you used the `if` statement

    0 if building_north_axis == "" else building_north_axis

and your use of the `%` operator

    return (
        building_north_axis + zone_direction_of_relative_north + surface_azimuth
    ) % 360

I had to google to find out what `%` was doing. It was just the righ

[2020-06-14 06:02] santoshphilip commented on #285
I just did the minor changes. You can see what I did if you compare commits

    3a74d119b8df40dfb708038fe85d8a3c978a6b55

and

    38cd9a7c58d61c66490f3c539582618746652d5e

[2020-06-14 06:34] airallergy commented on #285
@santoshphilip, I do agree with your concerns about the performance if implementing value checks at every input, and this is not something urgent to be addressed as far as I understand the main purpose of `eppy`. I brought this up mainly in the intention to leave it as a reference in case anyone might encounter with such issues, given that many of the `eppy` users are not expected to have much pro

[2020-06-14 13:33] santoshphilip commented on #285
On a different note, the field names in the following object may affect `true_azimuth`.

        GlobalGeometryRules,
            UpperLeftCorner,         !- Starting Vertex Position
            CounterClockWise,        !- Vertex Entry Direction
            World;                   !- Coordinate System

Especially the line `World;                   !- Coordinate System`.
Can you look into the docu

[2020-06-14 23:25] airallergy commented on #285
Well spotted! I will look into it and run some tests in a few days.

[2020-06-15 04:55] #290 closed

[2020-06-15 04:57] daniellosg commented on #290
Already answered. As soon as i changed the saveas function for save, the script worked.

[2020-06-21 00:19] #289 closed

[2020-06-21 00:19] santoshphilip commented on #289
merged into develop

[2020-06-21 00:22] santoshphilip opened #291 "use cookiecutter project template for eppy"
https://github.com/cookiecutter/cookiecutter

[2020-06-21 05:39] santoshphilip commented on #291
Done

[2020-06-21 05:39] #291 closed

[2020-06-21 11:43] airallergy opened #292 "GlobalGeometryRules for the surface azimuth calculation"
This is an issue initiated by @santoshphilip in #285

Five fields in `GlobalGeometryRules`: `Starting Vertex Position`, `Vertex Entry Direction`, `Coordinate System`, `Daylighting Reference Point Coordinate System`, `Rectangular Surface Coordinate System`.

`Starting Vertex Position` actually relates to `surface.azimuth` instead of `surface.true_azimuth`. This field seems not to matter too much as

[2020-06-21 15:41] santoshphilip commented on #292
I had to google the word `chirality`. :-)

Yes. As you said `Vertex Entry Direction` also relates to` surface.azimuth`
`surface.azimuth` does not take that into account.  This is my understanding from a quick look at the code
Let us treat that as a separate issue and ignore it here in this issue.

You are tight about `Daylighting Reference Point Coordinate System, Rectangular Surface Coordinate Sy

[2020-06-21 15:55] santoshphilip commented on #292
I have reorganized the folder structure in the `develop` branch. The `tests` folder is not in `eppy` folder. It is outside the `eppy` folder.

so the folder structure looks like::

    - tests
        - test_*.py
    - eppy
        - *.py
        - geometry
            - *.py

There are some changes to the `docs` folder too, that are not relevant to what you are working on

I am using https://gith

[2020-06-21 16:02] airallergy commented on #292
I do have noticed those relevant new commits, but thx for such detailed clarification.

[2020-06-21 22:21] airallergy commented on #292
Another thing occurs to me that currently only the detailed type of surface objects are accounted, other rectangular ones are not, like `Wall:Exterior`. These have their own `Azimuth Angle` field, and getting either their `azimuth` or `true_azimuth` seems a bit different process. I will look into it to see if there is a compatible and elegant way of implementation at some point, but won't be too s

[2020-06-22 04:56] santoshphilip commented on #292
Lets hold off on the `Wall:Exterior` for now.
Since you opened this issue, you get to close it if the result is satisfactory.

[2020-06-22 09:08] #292 closed

[2020-06-22 12:48] santoshphilip opened #294 "simplify test_true_azimuth() in test_function_helpers.py"
**Problem:** test_true_azimuth is more complicated than it needs to be
**Solution:** simplify and parametrize the test using @pytest.mark.parametrize

@airallergy, I opened another issue to make some explanations.
Opening an issue and modifying was easier than explaining using comments in a discussion

I have made two changes in response to this issue

### First change

unit tests have more than o

[2020-06-22 12:53] santoshphilip commented on #294
@airallergy, this issue is addressed in branch `i294_parametrize`.
Please check to see if it meets the intent of the tests as you wrote them.
(I made the changes pretty quickly - so it needs a review)

If it looks OK, let me know and I'll merge into the `develop` branch

[2020-06-22 13:13] airallergy commented on #294
@santoshphilip, that makes a lot of sense about the idea of unit tests, thanks for the detailed explanation.

I have not seen these changes in `i294_parametrize`, are they still in progress?

[2020-06-22 13:22] santoshphilip commented on #294
`i294_parametrize` should be there now

[2020-06-22 13:24] santoshphilip commented on #294
hold on ... I forgot to commit

[2020-06-22 13:26] santoshphilip commented on #294
OK ... I have pushed it to GitHub.
give it a few minutes for the automated testing (Travis) to run

[2020-06-22 13:49] airallergy commented on #294
All look good to me

[2020-06-22 14:05] #294 closed

[2020-07-29 05:30] mwilsoncea opened #295 "removeidfobject removes every other object in a for loop"
I have an idf file with several of the same object, say Schedule:Year or FenestrationSurface:Detailed and I want to remove them all. So I use the code:
`fenestrations = idf1.idfobjects['FenestrationSurface:Detailed']
syears = idf1.idfobjects['Schedule:Year']

for f in fenestrations:
    print('removing ' +f.Name)
    idf1.removeidfobject(f)
for s in syears:
    print('removing ' +s.Name)
    idf1.

[2020-07-29 12:54] santoshphilip commented on #295
Some quick comments

You are trying go through a loop while removing items from it. This is inherently problematic
Let me illustrate with a simple python loop.

    l = [1,2,3,4,5]
    print(l)
    for i in l:
        l.remove(i)
    print(l)

will print out:

    [1, 2, 3, 4, 5]
    [2, 4]

As you see it does not remove all the items.
You are in a similar situation with your code.

[2020-07-29 15:17] mwilsoncea commented on #295
Ah, I had no idea. Thank you. Apparently making a copy of the list, then iterating the copy to remove from the original works well:
`for i in list(fenestrations):
    print('removing ' +i.Name)
    idf1.removeidfobject(i)`

[2020-07-29 15:17] #295 closed

[2020-08-03 12:35] KBDebnath opened #296 "readvars=True, is not generating output meter CSV files"
Hi,
I have been trying to simulate with EP+ by using EPPY. It is generating outputs but not the meter output CSV files.
IDF file:
[01_IDF.zip](https://github.com/santoshphilip/eppy/files/5015953/01_IDF.zip)
Python Code:
[03_00.txt](https://github.com/santoshphilip/eppy/files/5015941/03_00.txt)
Outputs:
![image](https://user-images.githubusercontent.com/8495757/89182710-186b9f00-d58e-11ea-83f5-5fcc

[2020-08-03 22:17] santoshphilip commented on #296
Can you run the file with EPLaunch (on windows) and see if it gives the same results.
I am not on Windows right now, so I can't check that.

[2020-08-09 00:28] JunruShen opened #297 "Unable to find field Component_1_Branch_Control_Type"
Eppy 0.5.52  E+ version: 8.9

I was trying to set up new plant loop using the example code in Eppy documentation; however I got the following error message.

![image](https://user-images.githubusercontent.com/62531366/89722262-66244500-d99c-11ea-8638-5e2ad276a56f.png)

Can you please take a look into this issue? Thanks!

[2020-08-11 10:25] KBDebnath commented on #296
Hi, Sorry for the late reply. I did run it with EPLaunch. It did produced the CSV file.

[2020-08-11 13:01] santoshphilip commented on #296
Thanx. Le me see what I can track down on this.

[2020-08-19 16:06] MaheshJayachander opened #298 "Regarding 'OutOfMemoryException' error while executing python-eppy scripts"
Hi @santoshphilip
I have been working on a 30 storey retrofit project in the DesignBuilder software.  I have written a small eppy script into the DB model basically giving some input values for which DB doesn't provide the input feature. Once I run the simulation I get an 'OutOfMemoryException' error and the simulation runs without executing the script.
I kindly request to throw some light on this

[2020-08-19 16:08] MaheshJayachander commented on #298
@jamiebull1

[2020-08-22 21:05] Lantonshen opened #299 "difference between eppy and EnergyPlus Python API 0.1"
I have used eppy for 6 months. And it provided me great helps for my research and still.  Not long time ago, the new version of EnergyPlus issued with Python API 0.1. What do you guys think about it? Up till now, I did not touch it yet. Can anyone compare the differences between them? What can we do for eppy in the future?
Yang

[2020-08-24 03:32] intelligent-222 opened #300 "Unable to run model in multiprocess or parallel"
Hi,

I have problem with running EPPY and multiprocess.Pool in parallel. I have an objective function that I want to minimize and I need to run an idf for 100 times to find a mean that I will use in my objective function. My problem is, when I tried multiprocess. Pool the code gave me an error related to ep_version and when I append ep_version to my (idf, epw) list I got error that list objective

[2020-08-24 03:47] santoshphilip commented on #300
I think I understand what you are trying to do.
Let me take a closer look.

[2020-08-24 03:53] santoshphilip commented on #300
If you are online now, stay online. I might have some questions as I look thru this (I am looking thru now)

[2020-08-24 04:16] intelligent-222 commented on #300
Sure, thank you

[2020-08-24 04:24] santoshphilip commented on #300
There may be a quick way round this.

Take a look at the package zeppy <https://github.com/pyenergyplus/zeppy>
Look at the documentation at <https://zeppy.readthedocs.io/en/latest/>
Specifically look at the following pages
- https://zeppy.readthedocs.io/en/latest/tutorial_docs/simple_zeppy.html
- https://zeppy.readthedocs.io/en/latest/tutorial_docs/eplus_zeppy.html

I wrote this at the start of th

[2020-08-24 04:25] santoshphilip commented on #300
I am asking about the time zone, since I am in Pacific time and it is late here

[2020-08-24 04:37] intelligent-222 commented on #300
EST. Canada. Be honest with you I have reviewed even second page of google search to find the potential solution and I also tried zeppy. let me try it again but I believe there was an error related to identifying parallel pipe command.

meanwhile, could you please let me know if it is possible to get csv file as output from multirunner command. worst case scenario, I can use that function to creat

[2020-08-24 04:41] santoshphilip commented on #300
OK it is far later in the night for you.

I need to go to bed now.
I'll take a look at this in the morning and see how to get the csv files.

This has to work

[2020-08-24 04:43] intelligent-222 commented on #300
Great, thank you and appreciate your time and consideration. I am going to give a try to zeppy again to see if it runs on my notebook.

Stay safe and good night,

[2020-08-24 04:51] santoshphilip commented on #300
Good Night.

If zeppy does not work - don't try too hard.
(better if I make it work - there is some magic going on behind the scenes in zeppy :-)
Zeppy is very much an alpha version software.

Can you send me
- the IDF file
- link to weather file
- what you are changing in the IDF file (the script that does the changing)
- I know what you are extracting from the csv (from you initial post)
- how m

[2020-08-24 04:54] santoshphilip commented on #300
The zeppy documentation is made from a notebook
see
zeppy/docs/tutorial_docs/

and it worked

[2020-08-24 05:11] intelligent-222 commented on #300
my first attempt using zeppy.zmq_parallelpipe gave me the following error:
module 'zeppy' has no attribute 'zmq_parallelpipe'

and my second attempt using ppipes.ipc_parallelpipe(EPRUN, IDFS, nworkers=4) gave me
ZMQError: Protocol not supported

[2020-08-24 05:22] intelligent-222 commented on #300
Regarding to your request:

the IDF file : how can I send it to you privately not as public post?
link to weather file : Same as above?
what you are changing in the IDF file (the script that does the changing): to make it easier let's assume I am not changing anything and I just want to run one idf for 100 times in parallel and extract specific information from each run through the csv results.
I

[2020-08-24 05:52] intelligent-222 commented on #300
Here is my last try to replicate your code in eplus_zeppy.ipynb

![zeppy](https://user-images.githubusercontent.com/70038498/91008444-692e5080-e5ac-11ea-8a4c-91abbc82be8a.JPG)

[2020-08-24 05:52] intelligent-222 commented on #300
ZMQError: Protocol not supported

[2020-08-24 17:09] santoshphilip commented on #300
see if this code works for you (it worked on my machine)
I'll check my messages during the day.
So let me know if it works

You may have to change pathnames for the files

    """multiprocessing runs"""

    import os
    from eppy.modeleditor import IDF
    from eppy.runner.run_functions import runIDFs

    def make_options(idf):
        idfversion = idf.idfobjects['version'][0].Version_Identifie

[2020-08-24 18:59] intelligent-222 commented on #300
I made changes to the path and run the code as follow. Also, I assigned same idf file runs list. here is the results and errors:

"""multiprocessing runs"""

import os
from eppy.modeleditor import IDF
from eppy.runner.run_functions import runIDFs

def make_options(idf):
    idfversion = idf.idfobjects['version'][0].Version_Identifier.split('.')
    idfversion.extend([0] * (3 - len(idfversion)))

[2020-08-24 19:04] intelligent-222 commented on #300
Thank you Santoshphilip. I changed the path and run the file as follow. there is an error that I couldn't figure out what it that. Also, I assigned same idf to my run list instead of two different.

"""multiprocessing runs"""

import os
from eppy.modeleditor import IDF
from eppy.runner.run_functions import runIDFs

def make_options(idf):
    idfversion = idf.idfobjects['version'][0].Version_Identi

[2020-08-24 19:10] intelligent-222 commented on #300
Error:

RemoteTraceback                           Traceback (most recent call last)
RemoteTraceback:
"""
Traceback (most recent call last):
  File "c:\users\anaconda3\envs\elective\lib\site-packages\eppy\runner\run_functions.py", line 357, in run
    check_call(cmd)
  File "c:\users\anaconda3\envs\elective\lib\subprocess.py", line 363, in check_call
    raise CalledProcessError(retcode, cmd)
subpr

[2020-08-24 19:26] intelligent-222 commented on #300
I believe the problem is related to the issue that windows and notebook have with multiprocessing.  please refer to the following link:
stackoverflow.com/questions/47313732/jupyter-notebook-never-finishes-processing-using-multiprocessing-python-3

https://github.com/jupyter/notebook/issues/1703

[2020-08-24 19:47] santoshphilip commented on #300
Can you test it outside of jupyter notebook ?

    python  script.py

[2020-08-24 20:25] santoshphilip commented on #300
I ran it successfully in `jupyter notebook`

remove

    if __name__ == '__main__':
        main()

and just run

    main()

[2020-08-24 20:27] santoshphilip commented on #300
my `jupyter notebook` terminal looked like this:

    (eppy3) santoshphilip@Santoshs-MacBook-Air eppy % jupyter notebook
    [I 13:26:08.839 NotebookApp] Serving notebooks from local directory: /Users/santoshphilip/Documents/coolshadow/github/eppy
    [I 13:26:08.840 NotebookApp] Jupyter Notebook 6.1.3 is running at:
    [I 13:26:08.840 NotebookApp] http://localhost:8888/?token=fbb68106aa772170ebd

[2020-08-24 20:28] santoshphilip commented on #300
You won't see the output in the notebook, since it is running in a separate process

[2020-08-24 20:51] santoshphilip commented on #300
If you are running 100 files, you have to use generators

    """multiprocessing runs"""

    # using generators instead of a list
    # when you are running a 100 files you have to use generators

    import os
    from eppy.modeleditor import IDF
    from eppy.runner.run_functions import runIDFs

    def make_options(idf):
        idfversion = idf.idfobjects['version'][0].Version_Identifier.spli

[2020-08-24 21:04] intelligent-222 commented on #300
I am a bit confused and trying to digest the process. I ran the file as you mentioned by just running main() and same error came up.
![main](https://user-images.githubusercontent.com/70038498/91096248-b69dd280-e62b-11ea-9ffd-22f523662a73.JPG)

let me see if I can convert the notebook into script and run it from command line.

[2020-08-24 21:19] intelligent-222 commented on #300
Also, I want to open the csv file and extract some data from each run and append them to the target list.

[2020-08-24 21:24] santoshphilip commented on #296
Sorry it took so long.
I had a hard time tracking down the error

In your file I changed:

    Version,
        8.9.0.001;                !- Version Identifier

to

    Version,
        8.9.0;                !- Version Identifier

I have `EnergyPlus-8-9-0` installed on my machine.
It now generates the csv files

**I have no idea why it works now**
I think your code will work if you make this chang

[2020-08-24 21:31] santoshphilip commented on #300
while fixing this issue, I just fixed #296
This is a long shot.
Take look and see my last comment there (I am grasping at straws here)

[2020-08-24 21:43] intelligent-222 commented on #300
I am wondering why my notebook can run the following code without any error and create 8 folders with results(except csv file). it seems that the process and functions are similar. the only thing is that regarding muptiprocessing issue with notebook I have imported multiprocess package and used Pool function from that package and it works well. Is it possible to use multiprocess instead of multipr

[2020-08-24 22:08] santoshphilip commented on #300
What is curious is that my `notebook` runs the code successfully and yours does not.
I have the latest `jupyter notebook` installed `Jupyter Notebook 6.1.3`

What is your install ?

Right now I am feeling confident that the code is working fine.
The question is "why is not running on your machine ?"
I am a little reluctant to make a fix specific to your machine
Can you test on another machine
also

[2020-08-25 00:14] intelligent-222 commented on #300
Sure, I will test and let you know the results. thank you again for all your time and consideration. I still believe that the problem is the issue that windows and notebook has with multiprocessing package. my jupyter notebook version is 6.1.3.

I ran it through my command line using python and same error appeared again. (I used the last version which implemented generators.
![command](https://use

[2020-08-25 00:26] intelligent-222 commented on #300
to avoid any confusion, I am using the following code

import os
from eppy.modeleditor import IDF
from eppy.runner.run_functions import runIDFs

def make_options(idf):
    idfversion = idf.idfobjects['version'][0].Version_Identifier.split('.')
    idfversion.extend([0] * (3 - len(idfversion)))
    idfversionstr = '-'.join([str(item) for item in idfversion])
    fname = idf.idfname
    options = {

[2020-08-25 00:30] intelligent-222 commented on #300
It is probably a big request, I think if I can or you could help me to use multiprocess.Pool instead of multiprocessing.Pool in the runIDFs or multirunner functions everything would be fine.

as you mentioned I am going to send my notebook (with generator and without) to my friend and ask him to run the code as well.

[2020-08-25 01:22] intelligent-222 commented on #300
Here is my friend's results and the same error:
<img width="463" alt="code" src="https://user-images.githubusercontent.com/70038498/91111970-dcd56980-e64f-11ea-9e8a-5ca2cec230f3.PNG">
<img width="423" alt="error1" src="https://user-images.githubusercontent.com/70038498/91111985-e363e100-e64f-11ea-956d-a025f18c5406.PNG">
<img width="486" alt="error2" src="https://user-images.githubusercontent.com/7

[2020-08-25 05:43] santoshphilip commented on #300
OK. I see why it is failing

    # File is from the Examples Folder
    idfname1 = "/Users/EPPY/GA/practice1.idf"
    # copy of previous file
    idfname2 = "/Users/EPPY/GA/practice1.idf"

You are running the same file `practice1.idf`  for `idfname1` and `idfname2`
E+ won't let you do that

use a different file for `idfname2`

[2020-08-25 11:59] intelligent-222 commented on #300
Thank you. I just changed the name to Practice 2 and it works. As I mentioned in my first post, the whole purpose of using parallel run for my project is to conduct a a loop of 100 runs with multiprocessing. since I use some random components in my idf, I would like to run it for 100 times and check the mean of a few output variables.

MyObjectList=[]

for i in range (100):
    idf.run(expandobjec

[2020-08-26 01:43] santoshphilip commented on #300
I consider this issue as fully resolved.
In effect eppy is able do the E+ simulation by multiprocessing on multiple processers. The Sample code above illustrates how it is done.

The rest of my comments are on what you are going to do with this functionality.

You would like to do the following:
- Run multiple simulations
- Gather output data from the simulations
- Post process the output data fro

[2020-08-26 02:03] intelligent-222 commented on #300
Thank you very much. Based on your informative explanation, I believe the issue is closed and solved. I will open new issue for zeppy since I found that package very useful as well. Also, I still believe it would be great if you can add csv file to the output of abovementioned multirunner function. Thank you for all your time and help.

[2020-08-26 02:03] #300 closed

[2020-08-26 03:48] santoshphilip commented on #299
Can you close this if it is done

[2020-08-26 03:56] santoshphilip commented on #300
I would appreciate your help in getting this working in `zeppy`.
What you are trying to do is the perfect use case for `zeppy`. I would like to use it as a real example in the documentation (We can modify so that we don't use your actual file). Right now the example in `zippy` is a toy example.
It will also be a good proof of concept - that is works for a  real problem that is not trivial

[2020-08-26 04:58] Lantonshen commented on #299
sure.

[2020-08-26 04:58] #299 closed

[2020-08-26 19:42] intelligent-222 commented on #300
That would be great. I will provide you with my idf and objective function as well as the process, we can go through and run it with zeppy that I strongly believe would help not only me but also other project similar to my project. right now I completed my code to create copies of idf and then feed them to the multiporcess run. Also, finished the part related to reading multiple csv and extract ob

[2020-08-27 06:17] Lantonshen opened #301 "when I ran eppy, eplusout.csv is missing, but HTML is there. [No such file or directory: 'C:/Users/shenyang1991/annual dynamic simpleglazing/parameter simulation/eplusout.csv']"
1. I ran the same IDF by E+ Launch, it can have csv file.
2. The IDF outputs include two parts, one is Output:variables; the other is Output:Table:monthly and Output:Table:yearly. When I did through E+ Launch. I can get both. (I set column separator of  table as HTML)
3. I also tried expidf as the input file. It also had the same problem.
4. Should I upgrade eppy?

Thanks

[2020-08-27 06:23] Lantonshen commented on #301
![Capture](https://user-images.githubusercontent.com/49128765/91399591-d7b91b80-e803-11ea-9178-58bcd31a4b3e.PNG)

[2020-08-27 18:29] santoshphilip commented on #301
similar issue in #296
See proposed solution. there is a chance it may apply.

[2020-08-28 16:38] santoshphilip commented on #301
any luck with this ?
I think it happens when the version number in the IDF and IDD don't match. (but ia ma not sure)
Can you send me the code snippet from IDD and IDF

[2020-08-28 21:30] Lantonshen commented on #301
Thanks for taking care the questions. IDF and IDD are the same version. I always run my codes in the local disk. When I move it to DropBox, it had this problem. It is strange. So I moved it back. And now it can work.
Thanks.

[2020-08-31 00:36] santoshphilip opened #302 "update idf.run docs based on issue 300"
examples for multiprocessing runs for idf were developed in #300
Include them into documentation

[2020-08-31 00:51] santoshphilip commented on #287
Make version 6.0.0 release as python3 only
- update setup.py
- Note the following in the README.rst
    - This is a python3 only release
    - python2 is not supported from this release onwards
    - give link to the last python2 version
        - in pipy
        - in GitHub
    - update the continuous testing scripts so that they are python3 only

[2020-08-31 00:52] santoshphilip commented on #287
In release version 6.0.0
- the tutorial is not yet updated
- say this in the README.rst

[2020-08-31 20:28] samuelduchesne opened #303 "Eppy suffers from performance issues for larger IDF models"
I have found out that loading some of the heftier models can take a while to load.

I am investigating possible fixes

[2020-09-01 00:54] santoshphilip commented on #303
ha ! I was not aware of that.
I know that the IDD takes time to load. Did not know that about the IDF.
Are you running a profiler on it, to see where it is taking time?

Let us know what you discover

[2020-09-01 23:14] santoshphilip commented on #301
Do you want to close this

[2020-09-01 23:20] Lantonshen commented on #301
sure.

[2020-09-01 23:20] #301 closed

[2020-09-02 23:14] samuelduchesne commented on #303
Yes, I'm running yappi to figure out which function is taking a lot of time. Then I use line_profile to profile line by line.

I found out that "only_legalcharrs" is very heavy, especially since it can be called millions of times.

https://github.com/santoshphilip/eppy/blob/98e58583dce6c0fcec9c7b1ff1142bae0a67ddc7/eppy/bunchhelpers.py#L17-L20

# Possible solution

A simple fix is to encode and dec

[2020-09-03 10:30] santoshphilip commented on #303
Apparently CI is unhappy
https://ci.appveyor.com/project/santoshphilip/eppy/builds/34998766

I am making some changes in response to #287 that will fix some of that unhappiness. I'll merge those changes in a couple of days.

[2020-09-03 17:09] samuelduchesne commented on #303
Another lag is created by these two decorators: `make_idd_index` and `extractidddata` which essentially translates into 3 calls to `extractidddata`. Rewriting this function would speed up significantly the `idfreader1` function.

https://github.com/santoshphilip/eppy/blob/98e58583dce6c0fcec9c7b1ff1142bae0a67ddc7/eppy/EPlusInterfaceFunctions/parse_idd.py#L143-L379

[2020-09-03 17:26] santoshphilip commented on #303
I suspected `make_idd_index` was a culprit.

I used `make_idd_index` as a way of speeding up searches thru the file.
- like finding walls in a zone
- the idea behind it was to have something like indexing in databases (mongodb was the inspiration)
- I don't think it speeded things up much.

removing it is an option

regarding `embedgroupdata`, I have look into it to see what `embedgroupdata` does

[2020-09-03 17:29] santoshphilip commented on #303
Do you have a sample large file I can play with.

I also want to test it with [eppy3000](https://github.com/pyenergyplus/eppy3000). So far `eppy3000` has turned out to be 5-10 faster than `eppy`

[2020-09-03 17:48] Lantonshen opened #305 "can .expidf file be used for eppy?"
when I use these lines:
iddfile = "C:/Users/shenyang1991/EnergyPlus8.7/EnergyPlusV8-7-0/Energy+.idd"
IDF.setiddname(iddfile)
idfname = "... .expidf''

It cannot work. So every time I just change .expidf to .idf Is it a bug?
Thanks

[2020-09-03 17:49] santoshphilip commented on #303
I updated branch `develop` with some changes.
It may fix some of your CI issues.

[2020-09-03 19:46] samuelduchesne commented on #303
Yes I need to check that out! Happy to see you are moving to epjson

[2020-09-03 19:48] samuelduchesne commented on #303
latest changes on #304 seem to pass all tests.

I implemented a regex instead of encode/decode. It is not as fast, but at least follows the same behavior as the original `onlylegalchars` function.

[2020-09-03 19:50] samuelduchesne commented on #303
#304 also merges the 2 decorators inside the `extractidddata`, which prevents calling it 3 times.

[2020-09-06 19:10] anjukan opened #306 "Running idf.run() causes a CalledProcessError and EnergyPlusRunError"
Hi @santoshphilip and @jamiebull1 ,

Hope you are well. I'd just like to report an issue I am having with idf.run() causing an E+ CalledProcessError and EnergyPlusRunError. I am using eppy v0.5.52, python 3.7.6 and EnergyPlus v8.5.0.

My test code is as follows:
[code]

Running this code gives the following error message:
[code]

The idf runs fine when using both EP Launch and the command line. I

[2020-09-07 02:07] santoshphilip commented on #306
ack your message.
Your code looks good at first glance.

I'll test later today and see what comes up

[2020-09-07 18:59] santoshphilip commented on #305
eppy does not care about the file name. It should read `*.expidf` and be fine, since it is a legal IDF file.

I am not sure it would would when you do `idf.run()`.

[2020-09-07 19:02] santoshphilip commented on #305
I did not get a notification when you opened this issue. I just saw it by chance. Weird :-(

[2020-09-15 18:19] yahyasheikhnejad commented on #218
Hello everyone
I have the same problem. I am using EP 9.1, I have the Output:Variable objects in my IDF file, the eplusout.eso file is generated well and contains all the predefined variables;
I used the following line to run IDF file:

Output_Var_Dir='C:/Yahya/EP/FinalFormat'
idf.run(expandobjects=True, output_directory=Output_Var_Dir, readvars=True, output_suffix="L")

I received these messages

[2020-09-15 21:50] yahyasheikhnejad commented on #218
@zhengzhuang3 and @anjukan would you please let me know if your problem was solved already?

[2020-09-16 01:46] zhengzhuang3 commented on #218
Dear Yahya,
    No. Last time I skipped this error and ran the idf files by hand.
Thank you.
________________________________
发件人: Yahya <notifications@github.com>
发送时间: 2020年9月16日 5:50
收件人: santoshphilip/eppy <eppy@noreply.github.com>
抄送: ZHENG Zhuang <zhuazheng3-c@my.cityu.edu.hk>; Mention <mention@noreply.github.com>
主题: Re: [santoshphilip/eppy] problems of CSV files generation in idf.run(readv

[2020-09-16 08:07] yahyasheikhnejad commented on #218
Dear Zheng (@zhengzhuang3 )
thank you so much for your reply, I was wondering why did you give up?
As my code run the EP automatically, it is not possible for me to do it manually.
I read all the comments and messages (#217, #218, #196) but I do not understand what was the solution to this problem, and why suddenly communications were terminated without reaching any final solution.
The last messag

[2020-09-16 11:48] anjukan commented on #218
Hi @yahyasheikhnejad , no I have still not managed to find a resolution for this issue. In fact, with python 3.7.6, I am struggling to even run idf.run() in the first place (see issue #306 ). I have managed to get by with running the IDF manually for now but am still seeking a resolution to this. Unfortunately this issue is beyond my knowledge of eppy at this point.

[2020-09-16 12:47] yahyasheikhnejad commented on #218
Hi @anjukan , thanks for your reply.
well, I think I should wait for @santoshphilip and/or @jamiebull1 to say something....
I hope they could reply soon.

[2020-09-16 12:50] yahyasheikhnejad commented on #218
Dear  @santoshphilip and/or @jamiebull1
should I open a new issue for this problem?

[2020-09-16 15:28] santoshphilip commented on #218
yes. please open it as a new issue.
I'll close this issue and point people to the new issue.

when you open the new issue, do the following
1. have a clear problem description.
    - The description should be standalone without having to point to other issues
2. give us enough information to recreate the issue.
    - give sample files if needed

[2020-09-16 17:29] yahyasheikhnejad commented on #218
Dear @santoshphilip
thank you for your reply
Ok, sure. I will do it ASAP.
thank you for your help and support

[2020-09-16 21:34] yahyasheikhnejad opened #307 "eppy does not produce eplusout.csv"
I am using EP 9.1, Python 3.6.4., eppy (0.5.46).
I have the Output:Variable objects in my IDF file, the eplusout.eso file is generated well and contains all the predefined variables;
The file of "eplusout.eso" is attached:
[eplusout.zip](https://github.com/santoshphilip/eppy/files/5234993/eplusout.zip)

I used the following line to run IDF file: (attached the IDF file)
[IDF file.txt](https://githu

[2020-09-21 16:20] santoshphilip commented on #307
I am working on this issue and on #306
Let us see what we find out

[2020-09-21 16:34] santoshphilip commented on #306
sorry it took so long to get to this. I am on it now.

[2020-09-21 17:11] santoshphilip commented on #306
OK. I think I found the problem. It may be in your code. I tested the following code and it worked.

    """resolving issue #306"""
    # import sys
    #
    # pathnameto_eppy = 'C:/ProgramData/Anaconda3/envs/tf/lib/site-packages/eppy'
    # sys.path.append(pathnameto_eppy)

    import eppy
    from eppy import modeleditor
    from eppy.modeleditor import IDF

    try:
    	IDF.setiddname('/Appli

[2020-09-21 17:15] santoshphilip commented on #306
I think that in your code

`output_directory = r"pyEp/Ref/"`

this directory does not exist
Your code may work if you make this directory

[2020-09-21 17:16] santoshphilip commented on #307
I may have fixed #306

[2020-09-21 17:38] santoshphilip commented on #307
I am little mystified why you are not getting the csv file

I ran the following code (your code modified to run on my machine)

    """fixing the issue #307"""

    import eppy
    from eppy import modeleditor
    from eppy.modeleditor import IDF

    IDF_file_name="./store/sample.idf" # this is your input file with no changes
    EPW_file_name='/Applications/EnergyPlus-8-5-0/WeatherData/USA_CA_Sa

[2020-09-21 18:11] yahyasheikhnejad commented on #307
Dear @santoshphilip
Long story short, by many try and errors, I have found that for running IDF file, I must add "expandobjects=True" within the command line of idf.run(). then I noticed that the changes that I made in IDF file cannot applied on IDF file (or changes in IDF file are not saved in IDF file) and consequently running EP via eppy results in the same results. Then again by try and error

[2020-09-21 18:41] santoshphilip commented on #307
I agree about making an update to eppy, although I am not fully understanding what you say in your comment.

If you can articulate it with another example, I'll understand how to update eppy to fix this problem.
One thing I noticed is that
- You have to save the idf file in eppy before doing idf.run() -> better if eppy did it on it's own before a run. This is a potential update I can make.

other

[2020-09-21 19:02] yahyasheikhnejad commented on #307
for sure I will do my best.
I must add that after any changes in the IDF file I saved IDF file, but the abovementioned problem was still there!
I had to delete ".expidf" so that new changes could be implemented. (I do not know why!)
I hope I could soon come back with more useful information and data...
Thanks once more for your help and support Mr. Santosh Philip.

[2020-09-21 21:36] anjukan commented on #306
Hi @santoshphilip , thank you for getting back to me. I just had a chance to try this and unfortunately this does not resolve the issue. I still get the same error trying a new folder called "out_folder" as your example above or even removing this key variable completely on the idf.run() call.

[2020-09-22 02:55] santoshphilip commented on #306
@anjukan
Can you run the following code and tell me what result you get::

    import os
    ptho = "C:/Users/AnjukanK/Documents/Anjukan/Anaconda Projects/PyEp_gym/pyEp/Ref"
    result = os.path.exists(ptho)
    print(f'result = {result}')

[2020-09-22 10:07] anjukan commented on #306
Hi @santoshphilip, I just tried that, I get the following:

result = True

[2020-09-22 15:04] santoshphilip commented on #306
I want to test out a different suspicion.
(You may see what I am trying to do here)

Case1: run this from command line

    C:/EnergyPlusV8-5-0\energyplus.exe --weather C:\EnergyPlusV8-5-0\WeatherData\ITA_Rome.162420_IWEC.epw --output-directory C:\Users\AnjukanK\Documents\Anjukan\Anaconda Projects\PyEp_gym\pyEp\Ref --idd Energy+.idd --expandobjects --readvars --output-suffix C C:\Users\AnjukanK\Do

[2020-09-22 15:35] santoshphilip commented on #306
What I asked you to do in the previous comment is not going to be useful in debugging :-(
So don't do it

[2020-09-22 15:38] santoshphilip commented on #306
I may have to get on a Windows machine and test with conditions close to your machine.
You are using Anaconda that I am very unfamiliar with.
Let me see it I can recreate the problem without Anaconda first.

[2020-09-22 18:23] anjukan commented on #306
Sure @santoshphilip , appreciate it. I'll be responsive anyway if you require anything further from me.

[2020-09-27 20:18] sajithjay commented on #218
Looking forward to updates on the .csv output and reading back possibility for Eppy. Thanks for the efforts on this.

[2020-09-27 23:57] santoshphilip commented on #218
Heh ! I am feeling the pressure :-)

[2020-10-10 07:23] JunruShen commented on #297
Hi Santoshphilip,

Thanks to your great work, Eppy is getting more and more popular. I do
believe that in the future, there will be more people using the HVAC loop
builder. Eppy is a great tool to be used on parametric simulation study. It
would be great if we can set up the hvac system using Eppy, therefore I
highly encourage you to fix the bug!

Thanks,

Junru

On Sun, Aug 23, 2020 at 3:56 AM sa

[2020-10-15 22:36] santoshphilip commented on #297
Thanks for the encouragement @JunruShen
I'll fix that bug.
If I don't get to it, you are welcome to badger me on it. :-)

Santosh

[2020-10-15 22:44] santoshphilip commented on #306
I am not able to get access to a Windows machine. Not able to recreate this error.
(Works fine on my end on Unix/mac)

Can anyone test it our and recreate this problem ?
@lafrech , @jamiebull1 , @samuelduchesne, @daren-thomas,  @jasonglazer

[2020-10-23 22:19] intelligent-222 opened #309 "eplusout.expidf not found"
I am running EP8-9 on linux and when I run my code I received the following error. I have searched online and it seems that no one else has same issue. can you please help me. I am restricted to use EP 8-9 since the High Performance Computer that I've been working on supports this version only. The code is running well on my windows OS. I appreciate if anyone can help me with this issue.

here is

[2020-10-24 00:30] santoshphilip commented on #309
Is there a chance you can run the file using EPLaunch on that computer

[2020-10-24 00:32] santoshphilip commented on #309
couple of other questions
- Can you share the code snippet that does the run
- What version of eppy is this

[2020-10-24 01:32] intelligent-222 commented on #309
Dear Santosh, Thanks for your reply. I am very new to linux and I am not sure if I can run the EP through terminal. I can give it a try when I figure out how to run EP launch

[2020-10-24 01:35] intelligent-222 commented on #309
![103](https://user-images.githubusercontent.com/70038498/97064912-b82a3f00-1577-11eb-89c6-586ce80412df.png)

[2020-10-24 01:36] intelligent-222 commented on #309
![105](https://user-images.githubusercontent.com/70038498/97064925-c9734b80-1577-11eb-8b19-fb38ba8e052c.jpg)

[2020-10-24 01:36] intelligent-222 commented on #309
![102](https://user-images.githubusercontent.com/70038498/97064931-db54ee80-1577-11eb-86d2-ea7428c6b6af.png)

[2020-10-24 02:17] santoshphilip commented on #309
My mistake. You cannot run EPLaunch on Linux.

[2020-10-24 02:20] santoshphilip commented on #309
can you try

     idf.run(expandobjects =True)

I will be checking messages for the next couple of hours.

[2020-10-24 03:29] intelligent-222 commented on #309
Still same error. Let me explain and provide you with the file location and their contents to make sure I did everything right:

EP folder
[speed-submit] [/speed-scratch/USER] > ls
EP-8-9  EP-Input      eplusout.err  hello.py       template.sh  test.py
EP-9-2  eplusout.end  EP_versions   PythonEPPy.sh  test2.py

EP-8-9 folder:
[speed-submit] [/speed-scratch/USER/EP-8-9] > ls
Basement

[2020-10-24 04:03] santoshphilip commented on #309
I am not seeing where the problem is coming from.
This may have to wait until tomorrow.

[2020-10-24 04:15] intelligent-222 commented on #309
Sure. Good night

[2020-10-24 15:38] santoshphilip commented on #309
I did the following on linux with energyplus8.9 and it worked.
Can you try it out

make a virtual env.

    python3 -m venv ~/venvs/eppy_pypi
    source ~/venvs/eppy_pypi/bin/activate

    pip install -U pip
    pip install eppy

Make a working directory

    mkdir test_expidf
    cd test_expidf

run this script:

    from eppy.modeleditor import IDF

    iddfile = "/usr/local/EnergyPlus-8-9-0/Ene

[2020-10-24 17:37] htmehdi commented on #309
Hi Santoshphilip,

Thank you for your reply. I tried to build the virtual environment and it gives me a stupid error. as I mentioned I am new to the Linux environment. Also, the HPC that I am working on is a little bit complicated and it has multiple layers. I will work on it today and will get beck to you soon. Unfortunately, I have limited access regarding installing and sometimes need admin acc

[2020-10-24 17:53] htmehdi commented on #309
I did all the following and same error:

pip install -U pip
pip install eppy

mkdir test_expidf
cd test_expidf

**  Fatal  ** Input file path /nfs/speed-scratch/USER/test_expidf/eplusout.expidf not found

these two files are created in test_expidf

eplusout.end  eplusout.err

[2020-10-24 19:20] intelligent-222 commented on #309
Hi Santoshphilip,

Thank you for your reply. I tried to build the virtual environment and it gives me a stupid error. as I mentioned I am new to the Linux environment. Also, the HPC that I am working on is a little bit complicated and it has multiple layers. I will work on it today and will get beck to you soon. Unfortunately, I have limited access regarding installing and sometimes need admin acc

[2020-10-24 19:22] intelligent-222 commented on #309
I did all the following and same error:

pip install -U pip
pip install eppy

mkdir test_expidf
cd test_expidf

from eppy.modeleditor import IDF
iddfile="/speed-scratch/USER/EP-8-9/EnergyPlus-8-9-0/Energy+.idd"
epwfile="/speed-scratch/USER/EP-8-9/EnergyPlus-8-9-0/WeatherData/USA_CA_San.Francisco.Intl.AP.724940_TMY3.epw"
fname="/speed-scratch/USER/EP-8-9/EnergyPlus-8-9-0/ExampleFiles/HVACTemplate-5

[2020-10-24 20:00] santoshphilip commented on #309
looks like your EnergyPlus is not installed in the standard location. Can you check:

    ls /usr/local/EnergyPlus*

Tell me what you get

[2020-10-24 20:53] santoshphilip commented on #309
I take back my previous comment.
on Linux, idf.run() should work even if EnergyPlus is in an non-standard location

[2020-10-25 04:21] santoshphilip commented on #309
even if you are not an admin, you can install a virtualenv by doing

    python3 -m pip install --user virtualenv

and then do

    python3 -m venv ~/venvs/eppy_pypi
    source ~/venvs/eppy_pypi/bin/activate

    pip install eppy

try it and see if it works.

[2020-10-25 16:08] santoshphilip commented on #302
Problem: no documentation for multiprocessing runs
Solution: added documentation for multiprocessing runs in ./docs/runningeplus.ipynb

[2020-10-25 16:08] #302 closed

[2020-10-25 16:32] santoshphilip commented on #309
You may want to install [VirtualBox](https://www.virtualbox.org) on your Windows machine.
Install [Linux](https://ubuntu.com/download/desktop) on VirtualBox.
Make your local linux install the same as that on your remote machine

it would be easier to figure out linux issues on a local machine rather than mess with the remote machine

In any case you are going to have a learning curve on it

[2020-10-25 16:44] #267 closed

[2020-10-25 16:46] santoshphilip commented on #271
fixed issue #302
Now we have documentation on the doing multi-runs

[2020-10-25 16:46] #271 closed

[2020-10-25 20:21] santoshphilip commented on #307
Problem: idf.run() will run the file on disk. What if you make changes and don't save. It will run the file before changes
Solution: idf.save_run() and idf.saveas_run() along with an unchanged idf.run()

[2020-10-25 20:23] santoshphilip opened #310 "idf.run() will run the file on disk"
Problem: idf.run() will run the file on disk. What if you make changes and don't save. It will run the file before changes
Solution: idf.save_run() and idf.saveas_run() along with an unchanged idf.run()

This was raised in issue #307

[2020-10-25 20:37] santoshphilip commented on #310
hmmm...

    idf.run() # calls
    self.saveas("in.idf")

test this to see what is actually happening.
So apparently there is no need to save the file before you run it

[2020-10-25 23:02] santoshphilip commented on #310
Just did some tests.
Apparently you don't have to save the file.
eppy will simulate the idf with all the changes you have made even if you don't save it

I just opened a bogus issue :-(

[2020-10-25 23:02] #310 closed

[2020-10-25 23:03] santoshphilip commented on #307
the problem mentioned in the previous comment does not happen.

And I am unable to recreate any of the problems @yahyasheikhnejad has mentioned here.
I should look through it carefully again and see if I am missing something.

[2020-10-25 23:05] santoshphilip commented on #307
OK ... it has to do with the expanded file.
try to do some tests were the expidf should get changed.

[2020-10-26 03:28] santoshphilip commented on #307
I have tried everything. I am unable to recreate this problem.
I give up.
I am going to close this issue

[2020-10-26 03:28] #307 closed

[2020-10-26 03:32] santoshphilip commented on #306
I just noticed this in the documentation from @jamiebull1

It says:

Note 1: idf.run() works for E+ version >= 8.3 Note 2: idf.run(readvars=True) has been tested only for E+ version >= 8.9. It may work with earlier versions

@anjukan This is a long shot. Can you try running without readvars=True
I don't think it should make a difference. But it is worth a shot.

[2020-10-26 10:10] anjukan commented on #306
Hi @santoshphilip , I can confirm that removing readvars = True and running makes no difference to the error.

[2020-10-26 10:27] fracarl opened #311 "Troubles in running Eppy from Grasshopper"
Good morning,
I wrote a code to run energy analysis from Python 3.8 in Spyder (Anaconda3) and it works. In a few words, my code modifies the idf file and then launches the analysis in EnergyPlus. I was trying to use this code in grasshopper using GH_CPython code (with this path C:\Users\Pc\anaconda3\python.exe) but I'm facing different problems, it would be great to have help from you.

I have cre

[2020-10-26 14:42] fracarl commented on #311
I have solved the error due to numpy (changing the python path with C:\Users\Pc\anaconda3\envs\rhinoremote\python.exe) and now the the traceback is the following:

Traceback (most recent call last):
File "C:\GH_CPython\PythonFileWritten_1.py", line 28, in
idf.run(readvars=True, expandobjects=True,output_directory=os.path.join(folderpath,"Output"))
File "C:\Users\Pc\anaconda3\envs\rhinoremote\lib\s

[2020-10-26 14:50] santoshphilip commented on #311
I can see what is happening.
I am not seeing **_why_** yet

EnergyPlus always does the simulation on a file called `in.idf`
So eppy saves your file as `in.idf` in the working directory (or wherever the script is running)

Somehow eppy does not have permission to write `in.idf` in that location.
You are working in multiple environments (condo, Rhino, mkl-service). one of them is not getting this pe

[2020-10-26 14:51] santoshphilip commented on #311
I sent my response before I saw your reply. Ha!

[2020-10-26 14:55] santoshphilip commented on #311
can you do a test purely in Rhino (without condo, numpy mkl-service)
test `idf.run()` with a sample file

[2020-10-26 14:57] santoshphilip commented on #306
thanks.Not having access to a Windows machine in no helping me here :-(. 
Let's blame the lockdown for that.
    On Monday, October 26, 2020, 03:11:03 AM PDT, Anjukan Kathirgamanathan <notifications@github.com> wrote:

Hi @santoshphilip , I can confirm that removing readvars = True and running makes no difference to the error.

—
You are receiving this because you were mentioned.
Reply to this ema

[2020-10-26 16:33] fracarl commented on #311
Thank you for your reply and sorry for my mistakes but it is my first time on github! And it is also the first time that I work in Python etc. therefore I am still a bit stranger to these environments.

I wrote the code in spyder because it is the easiest way I found to use Eppy and then I decided to move it in Grasshopper for this reason I am using also conda (probably I am wrong but it is the on

[2020-10-26 16:50] santoshphilip commented on #306
another long shot.

can you remove all the backslashes in your code and make them from slashes

    epwname = 'C:/EnergyPlusV8-5-0\WeatherData/ITA_Rome.162420_IWEC.epw'
    # becomes
    epwname = 'C:/EnergyPlusV8-5-0/WeatherData/ITA_Rome.162420_IWEC.epw'

Tell me what happens

[2020-10-26 18:25] intelligent-222 commented on #309
Dear Santosh,

After deep review of the process, the HPC team has suggested me to run code twice and perform the following process. Based on your expertise, how can I fix the issue and skip the moving and renaming process that embedded into the HPC team suggestion. Here is what they have told me to run the following code:

rom eppy.modeleditor import IDF
iddfile="/speed-scratch/USER/EP-8-9/EnergyP

[2020-10-26 19:21] intelligent-222 commented on #309
Dear Santosh,

after deep review of the process, the HPC team has suggested me to run code twice and perform the following process. Based on your expertise, how can I fix the issue and skip the moving and renaming process that embedded into the HPC team suggestion. here is what they have told me to run the following code:

rom eppy.modeleditor import IDF
iddfile="/speed-scratch/USER/EP-8-9/EnergyP

[2020-10-26 19:26] intelligent-222 commented on #309
Finally we found a better solution. I should create a tmp folder and define it for python as follow. I test this and it works. still dont know exactly what was the reason of the issue but it works. I would like to share it with you to have your valuable comment:

As long as the file system that eppy uses for tmp is the same as what "speed-scratch" uses then there is no problem. I just have to tell

[2020-10-26 19:35] intelligent-222 commented on #309
Here is the temporary solution the we have found before the one tha tI have mentioned above:

after deep review of the process, the HPC team has suggested me to run code twice and perform the following process. Based on your expertise, how can I fix the issue and skip the moving and renaming process that embedded into the HPC team suggestion. here is what they have told me to run the following cod

[2020-10-26 20:56] anjukan commented on #306
No luck with that either sorry :/

[2020-10-26 22:22] santoshphilip commented on #309
there may be a way of doing it without two runs.
I'll post on it soon.

### on posting code or errors :
to report your error/code in a fixed width format
put a blank line at the start
leave 4 spaces before each line of the error message
it will make it easier to read
error/code will show up as

error/code

    from eppy.modeleditor import IDF
    iddfile="/speed-scratch/USER/EP-8-9/EnergyPlus-8-9-

[2020-10-27 22:05] santoshphilip commented on #309
Can you try running the script below.
Change pathnames for your circumstances.
I think it might work with 1 run.
Let me know what happens

    """single run EPLaunch style"""

    import os
    from eppy.modeleditor import IDF
    from eppy.runner.run_functions import runIDFs

    def make_eplaunch_options(idf):
        """Make options for run, so that it runs like EPLaunch on Windows"""
        i

[2020-10-28 17:42] fracarl opened #312 "Eppy does not override analysis results"
Hi I am trying to create a loop of EnergyPlus analyses using Eppy. If I modify the idf and run the analysis the first time it works correctly; subsequently if I change again the idf and run the analysis in the same folder, the results are not updated. I mean that the idf is correctly updated but the .csv and .htm output files remain those of the first simulation (even if the simulation seems to ha

[2020-10-28 17:50] JoLo90 commented on #312
Hi fracarl, maybe the csv file wasn't closed (by you or your script) before running again ?

[2020-10-28 18:00] fracarl commented on #312
No I think this is not the problem; I have tried both closing the files and without opening (but only reading results from Python) but after the first run it does not update the values inside the output files.

[2020-10-29 03:55] santoshphilip commented on #312
I'll look into it.
I have not been able to recreate this problem yet. I have had other people complain about this too

Santosh

[2020-10-29 03:56] santoshphilip commented on #312
@fracarl can you share the code snippet that ran the file.
I'll try to recreate the problem.

[2020-11-01 19:12] fracarl opened #313 "Changing idf objects fields in a loop"
Hi, I was trying to modify idf objects inside a loop in order to repeat the same function changing the name of the object field in every run of the loop.
I would like to create a counter i that helps me repeat the compilation of different fields. I have to fill different transmittance fields of the same idf objects, and I was thinking of creating a while loop where each field is automathically fil

[2020-11-01 20:14] santoshphilip commented on #313
from the tutorial

    building = idf1.idfobjects['BUILDING'][0]
    print(building.Name)

    # you can do the same by
    print(building['Name'])

builidng is a dictionary.
Name is key in the dictionary

Does this help to solve your problem

[2020-11-02 14:21] fracarl commented on #313
Yes you're right thank you very much!

[2020-11-02 14:21] #313 closed

[2020-11-05 15:16] santoshphilip commented on #306
I made some additions to the documentation. Can you look at these three links and try out the code. Let me know how it works out (or does not work). Modify the code as needed.

- [Running in parallel processes](https://eppy.readthedocs.io/en/latest/runningeplus.html#Running-in-parallel-processes)
- [Running in parallel processes using Generators](https://eppy.readthedocs.io/en/latest/runningeplus.

[2020-11-08 16:10] santoshphilip opened #314 "master is failing travis"
- make a branch `branchname`
- replace `master` in `.travis.yml` with `branchname`

This will recreate the problem in `branchname`
test this
Then solve the problem in `branchname`

[2020-11-08 21:58] anjukan commented on #306
Hi @santoshphilip, thanks for that. I tried both the idf.run() on its own and through the 'make_eplaunch_options' function. I get the same errors as reported in the original post with both options.

I upgraded eppy to v0.5.53 and tried both the example 1ZoneEvapCooler and my own idf.

[2020-11-09 16:14] santoshphilip commented on #309
I am glad it worked out.
I'll go ahead and close the issue

[2020-11-09 16:14] #309 closed

[2020-11-11 05:41] santoshphilip commented on #306
:-(

[2020-11-13 10:44] fracarl opened #315 "Idf.save() is not working correctly in a loop"
Good morning,
I am trying to create a loop to change some fields of the idf but I am facing few problems. In particular, the same code runs correctly if I use it alone a couple of times in a dedicated cell but if I use it in a while loop it does not change the idf (but however the simulation results are correct and updated).
This is the code:

    Tground = idf.idfobjects['Site:GroundTemperature:B

[2020-11-13 20:02] santoshphilip commented on #315
Can you show me the loop code.

[2020-11-16 10:52] fracarl commented on #315
Yes of course:

    while i<10:

    output = pd.read_csv(os.path.join(folderpath,"Output","eplusout.csv"))

    bottom = output.filter(regex='BOT')

    Jan = round(sum(bottom.loc[0])/len(bottom.loc[0]),2)
    Feb = round(sum(bottom.loc[1])/len(bottom.loc[1]),2)
    Mar = round(sum(bottom.loc[2])/len(bottom.loc[2]),2)
    Apr = round(sum(bottom.loc[3])/len(bottom.loc[3]),2)
    May = round(sum(bo

[2020-11-17 03:11] santoshphilip commented on #315
Can you run your script again and try the following as CASE1

    idf.save()
    # add this line
    idf.saveas(f'idf_savedas_{i}')

Then try this as CASE2

    idf.save()
    # add this line
    idf.savecopy(f'idf_copy_{i}')

let me know what the inputs and outputs look like

By the way, I am not seeing the indent within the while loop.
Your code should look like:

      while i<10:

          ou

[2020-11-18 02:22] santoshphilip opened #316 "This is a test issue"
I am not understanding the tutorial. Can you help me with ****

[2020-11-18 02:36] #316 closed

[2020-11-24 04:32] santoshphilip opened #317 "idf.runandget(getdata)"
This may be useful function to have:
`idf.runandget(getthis)`
Where`getthis` indicates what data to get, such as a the 1st table in the HTMLtablereport.

[2020-11-26 08:55] souliane opened #318 "More "functional" model editor"
It would be great if the general usage could be more "functional" instead of "imperative".

For instance, instead of doing:
[code]
One could do:
[code]
Or even:
[code]
Here I imagine a new method Idf_MSequence.get() that returns the single element or raise an exception if there's no or more than 1 element (similarly, we could have Idf_MSequence.first() and Idf_MSequence.last()) + EpBunch.copy().

[2020-12-02 15:01] santoshphilip commented on #318
I have been staring at your comment for some time.
I am unfamiliar with functional programming (I have just started learning Haskell for a different project)

So I am not quite able to plan out how to proceed on this.
I am not very clear on how to use this.

Many of the other users of eppy would have the same reaction :-(

The real question is - Can eppy be made more powerful by including function

[2020-12-02 16:59] souliane commented on #318
Please don't bother too much about it, it was just an idea... and to be honest my experience with real functional programming is very limited.

I was just thinking that some methods could be slightly modified, for example copyidfobject() could return the created object because after creating it, I probably want to set some attribute values.

Also it is usually safer (against programming errors) to

[2020-12-02 16:59] #318 closed

[2020-12-03 08:24] souliane commented on #318
I just realized that I can pass attributes to initialize the object with when calling IDF.newidfobject() and that there's a method IDF.getobject() already existing. Those are typically the kind of stuff I was talking about! Sorry for having not looked in details :-p

[2020-12-03 15:58] santoshphilip commented on #318
I take that as an indication that the documentation is lacking.
The documentation is long overdue for an update.
I keep throwing any new functionality into https://eppy.readthedocs.io/en/latest/newfunctions.html
Not everyone looks there. Maybe I should mention it in the README and in the tutorials.

[2020-12-04 08:55] souliane commented on #318
I missed it indeed. What about providing an auto-generated documentation as a complement to the current one?
You can for example use pdoc, it's as simple as that:

pip3 install pdoc3
pdoc --html --skip-errors eppy

And you get for free something like that: https://pdoc3.github.io/pdoc/doc/pdoc/#pdoc.Class
This way people could get a quick listing at the public methods and their signatures - which

[2020-12-04 20:43] orcunkoraliseri opened #319 "Multiple Processing with eppy gives error"
I have tried multiple processing with eppy from the link below, _Running in parallel processes using Generators._
But I confronted with _EnergyPlusRunError_.  Is there any solution about it? Thank you.
- https://eppy.readthedocs.io/en/latest/runningeplus.html
_runIDFs_ generates _idfs_ but can not start simulations. Therefore, there is not any _.err_ file.

The system cannot find the path specifie

[2020-12-04 20:56] santoshphilip commented on #318
sphinx does auto documentation.
I somehow broke it. Haven't got around to fixing it.

[2020-12-04 21:10] santoshphilip commented on #319
first look, I am not seeing where the problem is coming from.
I need to dig a little deeper.

[2020-12-04 21:10] jamiebull1 commented on #319
Have you tried running from the command line?

`C:/EnergyPlusV8-9-0\energyplus.exe --weather D:\ATI\WeatherData\TUR_AN_Esenboga.171280_TMYx.2004-2018.epw --output-directory D:\ATI\Code --expandobjects --readvars --output-prefix Ankara_Residential D:\ATI\Code\multi_runs\idf_1\in.idf`

[2020-12-04 21:10] santoshphilip commented on #319
Can you post your code snippet that triggered the error

[2020-12-04 21:41] orcunkoraliseri commented on #319
Thank you for your quick answer.

Actually, it is the same code that you shared on the documentation, under the _Running in parallel processes using Generators_ part. I just changed the `idd` (as E+ 8-9-0), `idf`, `epw`. I searched for the problem first on the web, then I found a solution. It proposes to change `Popen (shell=True)` in `subprocess` at `runIDFs` function. Then, I confronted with the

[2020-12-04 23:24] santoshphilip commented on #319
as @jamiebull1 mentioned in a previous comment - can you try the command line in his comment.
Trying to isolate where the problem is coming from.

[2020-12-05 08:37] orcunkoraliseri commented on #319
I tried on Anaconda prompt. The function can not locate the `idf `file

[code]

[2020-12-05 15:50] santoshphilip commented on #319
I assume the anaconda prompt is a python prompt. (Not familiar with anaconda)
I am seeing python in your error message above.

Can you open a `CMD` window.  (You are not using python this)
you can find the `CMD` by using the search button on the left corner of your Windows machine
https://www.lifewire.com/how-to-open-command-prompt-2618089

and run

    C:/EnergyPlusV8-9-0\energyplus.exe --weather

[2020-12-05 19:58] orcunkoraliseri commented on #319
Thank you for your concern. I tested on `command line` then the same problem happened. I found the problem with this issue.
- https://github.com/santoshphilip/eppy/issues/237
The problem was the directory of `Energyplus`. You mentioned before but I did not realize in the first place @jamiebull1.
 I installed E+ on `C:/EnergyPlusV8-9-0`. The `runIDFs` function can see the `E+`.

[2020-12-06 00:51] santoshphilip commented on #319
@orcunkoraliseri , your last comment was not clear.
Did you fix the problem ?
How did you do it.
OR
There is still a problem
- E+ not not running from command line (no eppy or python involved)
- idf.run() not running (problem is in eppy)

Can you clarify.

I may want to update eppy to give clearer error messages.
I am getting a lot issues opened on idf.run()  :-(

[2020-12-06 15:24] orcunkoraliseri commented on #319
Thank you for asking. I solved the problem with `runIDFs`. The problem was the location of the EnergyPlus. It should be in the` C:` directory. My Energyplus was in `D:`. That is why `runIDFs` can not see the .`idd` file. Then, I installed the EnergyPlus in `C:` and the problem is solved. I guess you can close this issue. Thank you for your help.

[2020-12-07 14:13] #319 closed

[2020-12-16 15:40] santoshphilip commented on #279
couple of developments:

- I have tracked down the code that does the fast read of the html file. I'll include it in eppy (I'll open a new issue on this)
- I am developing and experimental function `runandget(idf, result_selector)` which will run a simulation on idf file and return selected results. This is being developed for use in [zeppy](https://github.com/pyenergyplus/zeppy). This is issue #3

[2020-12-16 15:40] #279 closed

[2020-12-16 15:42] santoshphilip commented on #233
updated documentation on how to run multprocess runs:

https://eppy.readthedocs.io/en/latest/runningeplus.html#Running-in-parallel-processes

[2020-12-16 15:42] #233 closed

[2020-12-16 15:46] santoshphilip opened #320 "eppy.results.readhtml is very slow. Write similar function using generators"

[2020-12-21 16:06] santoshphilip commented on #306
@anjukan , I ran into the same error in my work.
I tracked it down to version number of the `idd` not matching the version number in the `idf`

Can you test with the full path name in this way:

    IDF.setiddname('C:/EnergyPlusV8-5-0/Energy+.idd')

Now your full script would look like this:

    import sys

    pathnameto_eppy = 'C:/ProgramData/Anaconda3/envs/tf/lib/site-packages/eppy'
    sys.pa

[2020-12-23 22:21] TfedUD opened #321 "hvacbuilder.makeplantloop BadEPFieldError"
using eppy 5.53:
    following eppy HVAC loop tutorial:
        hvacbuilder.makeplantloop(idf, loopname, sloop, dloop)    # BadEPFieldError as follows: # perhaps problem in chair not equipment:

`BadEPFieldError                           Traceback (most recent call last)
<ipython-input-3-7ea5dd7ab977> in <module>
      3 sloop = ['sb0', ['sb1', 'sb2', 'sb3'], 'sb4'] # supply side of the loop

[2020-12-28 16:03] TfedUD commented on #321
..... setting pathnameto_eppy = 'localGitRepOfEppy' and idd to V7_0_0_036.idd in resources.. like in tutorial:  fixed issue.  Problem in chair, not equipment.

[2020-12-28 16:03] #321 closed

[2020-12-29 04:10] santoshphilip commented on #321
I thought I replied to this. My reply seems to have vanished.

It works unto Energyplus version 7.0
It fails for the later versions.
This need to be fixed

Did you also open and close an issue in unmethours.com
I saw the same  question this morning, and now i can't find it.

[2020-12-29 04:31] TfedUD commented on #321
Yeah I was having some issues; I tried to answer my own question with a
'yeah so I setup my env correctly and properly followed the tutorial and it
works now'; but answers nor comments for some reason were showing up when I
tried to 'hey guys I just wasn't paying enough attention'.

I'm a Navy aircraft mechanic, got CPHC Certified this year; and have only
been doing things in the matrix for about

[2020-12-29 05:12] santoshphilip commented on #321
Wow ! how did you wind up using eppy.
It is such a specific and narrow niche. Do you use EnergyPlus in your work

I am completely self taught from before there was an internet :-)
There is so much more resources now. Some pointers below , if you need them.

Good resources for python are

https://www.reddit.com/r/Python/
and
https://www.reddit.com/r/learnpython/
See the side barin https://www.reddi

[2020-12-29 16:32] TfedUD commented on #321
Thank you!
Rhino/Grasshopper via ladybug.tools was the into into energy plus; and as the rabbit hole goes deeper the path led to eppy.

[2020-12-31 18:25] santoshphilip commented on #317
This is now fully working.
Consider moving it to the repository `witheppy`

remove the experimental folder.
that is the whole reason for the existence of witheppy

[2021-01-02 03:11] santoshphilip commented on #317
moved to witheppy

[2021-01-02 03:11] #317 closed

[2021-01-07 10:28] oisindoherty3 opened #322 "Trouble extracting envelope summary report post-simulation"
Good morning,

I'm running a simulation on a terraced house idf file, which I seek to extract the U-Values for the exterior walls and windows, along with the roof and floor post-sim, as I am building period-built archetypes and wish for these values to be representative.

which runs perfectly on v8.9.0 on both eppy and EP-Launch, however when I try to access the output tables I'm unable to use Pan

[2021-01-07 11:11] oisindoherty3 commented on #322
I was able to access the tables using Pandas to read the "eplustbl.htm" file, I will close this issue as result. Regards, Oisin

[2021-01-07 11:11] #322 closed

[2021-01-07 13:23] santoshphilip commented on #322
@oisindoherty3 , just FYI, https://unmethours.com/questions/ is good place to post such questions too.

[2021-01-10 22:40] santoshphilip commented on #320
fixed issue #320

Problem: eppy.results.readhtml is very slow. Write similar function using generators
Solution: functions in eppy.fasthtml use lazy evaluation to get the tables quickly. This has been documented in user documentation

[2021-01-10 22:40] #320 closed

[2021-01-25 11:48] milagrossanz commented on #257
Hello everyone! I'm jumping on this opened issue, as I came across the same problem.

@santoshphilip when you say that this can be fixed by updating the idd file" do you mean manually?

Because I've tried adding the fields to the object in the Energy+.idd and the Energy+V8_9_0.idd (this is the version I'm working with) by opening the files in a notepad and it doesn't seem to work. I mean, the same

[2021-01-25 16:17] santoshphilip commented on #257
just making sure that you added to the right `idd` file. You mention three files.
1. Because I've tried adding the fields to the object in the Energy+.idd
2. and the Energy+V8_9_0.idd (this is the version I'm working with)
3. iddfile = "C:/Users/milag/PycharmProjects/pythonProject/venv/Lib/site-packages/eppy/resources/iddfiles/Energy+V8_9_0_2.idd"
    - iddfile in 3. is in your code

From your cod

[2021-01-25 16:56] milagrossanz commented on #257
Sorry for the confusion, I was actually mentioning and modifying only two idd files.
I renamed the 2nd to "Energy+V8_9_0_2.idd" after I modified it.

Thanks for your help, @santoshphilip. Your comment about the semicolon made me realize my mistake. The idd didn't seem to be updating because I added the fields after the semicolon, so it didn't make much difference.

[2021-01-25 17:55] santoshphilip commented on #257
In the best of worlds, `eppy` should automatically make that change to the `idd`.

There is not much motivation to make that change,  since the `Energy+.idd` is being phased out and replaced with `Energy+.schema.epJSON` files.

At one point EnergyPlus will no longer use the `idd` file. The new `Energy+.schema.epJSON` file does not have this issue of not having enough fields - it works differently.

[2021-01-25 17:55] #257 closed

[2021-02-10 12:30] milagrossanz opened #323 "Error running eppy.results.fasthtml"
I'm trying to use the eppy.results.readhtlm since I'm working with a large E+ model, but I'm running into the following error:

[code]

The same error occurs if I try using `fasthtml.tablebyindex()` instead.
As this is a new function, there are no reported problems related to this and I couldn't find the answer to my question.
I appreciate any help on this matter!

[2021-02-10 13:59] santoshphilip commented on #323
change your code in the following way

    fname = f"C:/Users/milag/Desktop/Ane/simulaciones/P0S1.0tbl.htm"
    filehandle = open(fname, 'r') # removed .read()

    namedtable = fasthtml.tablebyname(filehandle, "Site and Source Energy")

remove the read()
the read is happening inside `fasthtml.tablebyname`

[2021-02-11 09:29] milagrossanz commented on #323
thank you, @santoshphilip! it worked perfectly.

now I have a problem running the `readhtml` function, trying to read the same large htlm file. I will take this opportunity to ask this here since its in the same "results" cathegory.

I have to use this function because I want to read tables that are named the same, but have different data for different zones. (Report: ZoneHeatingSummaryMonthly). I

[2021-02-12 03:54] santoshphilip commented on #323
I think this a bug.
Something has changed in the table file and the function is not able to read one of the cells.

If your file is not sensitive, can you upload it.
that would be the quickest way to debug it

[2021-02-12 08:45] milagrossanz commented on #323
of course! thanks for the help

[html.zip](https://github.com/santoshphilip/eppy/files/5970547/html.zip)

[2021-02-12 08:49] milagrossanz commented on #323
of course, here is the file.
thanks for the help!

[html.zip](https://github.com/santoshphilip/eppy/files/5970565/html.zip)

[2021-02-12 14:58] santoshphilip commented on #323
I think I see where it tripped up.

You have two names in your IDF file that are turning up in the HTML file

    SAINT-GOBAIN GLASS SGG DIAMANT 6MM <DIAMANT 6MM.SGG>
    SAINT-GOBAIN GLASS SGG STADIP SILENCE CLEAR 44-1 <STADIP SILENCE CLEAR 44-1.SGG>

Part of the name looks like an HTML tag `<DIAMANT 6MM.SGG>`.
Eppy gets confused. Even my browser gets confused. My browser thinks it is:

    SAINT

[2021-02-15 04:31] santoshphilip commented on #323
This is actually a bug in Energyplus

**Problem**

- The EnergyPlus objects can have legal names in the following format `Special glass <thickness is 3mm>`
-  Energyplus itself has no problems with such names
- This name turns up in the HTML output file.
    - In the HTML file the part name`<thickness is 3mm>` looks like an HTML tag.
    - The browser tries to make sense of it and fix it so that s

[2021-02-15 04:35] santoshphilip commented on #323
There is now easy way to fix this name in `eppy`
I'll update eppy so that it does not crash when it runs into this issue.
eppy will mangle the offending name, just like the browser does.

A quick fix for you file will be to use names that don't have the `<` and `>` symbols

[2021-02-15 17:00] santoshphilip commented on #323
I am going to open a new issue that describes this problem.
(since it is different from what this issue was opened for)

[2021-02-15 17:00] santoshphilip opened #324 "some idf object names will break the HTML output"
**Problem**

- The EnergyPlus objects can have legal names in the following format `Special glass <thickness is 3mm>`
-  Energyplus itself has no problems with such names
- This name turns up in the HTML output file.
    - In the HTML file the part name`<thickness is 3mm>` looks like an HTML tag.
    - The browser tries to make sense of it and fix it so that something can be displayed
    - This r

[2021-02-15 22:20] santoshphilip commented on #323
I made a new release of eppy.
Your file should work with that release.

If it works, go ahead and close this issue

[2021-02-15 22:20] #324 closed

[2021-02-16 10:20] milagrossanz commented on #323
thank you @santoshphilip! it works perfectly now.

[2021-02-16 10:20] #323 closed

[2021-02-16 17:59] santoshphilip commented on #324
This error has been opened as an issue in NREL/EnergyPlus/issues/8542

[2021-02-16 18:00] santoshphilip commented on #323
This error has been opened as an issue in NREL/EnergyPlus/issues/8542

[2021-02-17 16:47] santoshphilip commented on #315
There is a possibility that the save can save in the wrong place if
- you change the directory after opening the file
- save after the directory change.

I'll test this out in this issue

[2021-02-19 14:36] LucaNicoliYT88 opened #325 "socket error"
Ciao,

I am trying to execute an example with eppy, but i have a lot of problems due to some "socket error".

   ** Severe  ** ExternalInterface: Did not find file "socket.cfg".
   **   ~~~   ** This file needs to be in same directory as in.idf

I think I correctly installed E+ and bcvtb, but i am not able to understan how can fix this problem.
The process seems to start correctly, but always end

[2021-02-19 20:03] santoshphilip commented on #325
socket error ??
eppy does not use sockets at all.

Can you show a sample of the script. I might be able to see something in it.
Also send me the full error file

the following will also help
- eppy version
- python version
- python environment - (conda, spyder) -> anything that is not the standard python install from python.org
- Energyplus version
- Operating system version

[2021-02-22 03:11] santoshphilip commented on #315
The above comment is correct. idf.save will perform incorrectly if you change the directory.
I am going to fix that in this issue

[2021-02-22 04:35] santoshphilip opened #326 "idf = IDF(fname) will fail if type(fname) is <class 'pathlib.PosixPath'>"
This will fail:

    import eppy
    from eppy.modeleditor import IDF

    from pathlib import Path

    data_folder = Path("./eppy_temp")
    fname = data_folder / 'a.idf'

    idf = eppy.newidf('9.3.0')
    idf.saveas(fname)

    print(type(fname))

    idf1 = IDF(fname)
    idf1.printidf()

[2021-02-22 04:37] santoshphilip commented on #315
fixed issue # 315

:Problem: idf.save uses relative path. if the dir is changed, it can save in the wrong place
:Solution: use absolute path in idf.save

[2021-02-22 04:37] #315 closed

[2021-02-22 07:53] santoshphilip commented on #326
fixed issue #326

:Problem: idf = IDF(fname) will fail if isinstance(fname, filepath.Path)
:Solution: update code to read filepath.Path

[2021-02-22 07:53] #326 closed

[2021-02-22 08:19] LucaNicoliYT88 commented on #325
Sample of the script:

from eppy.modeleditor import IDF

iddfile = "C:\\EnergyPlusV8-8-0\\Energy+.idd"
IDF.setiddname(iddfile)

idfname = "C:\\Users\\a464559\\Desktop\\test\\LargeOfficeFUN.idf"
epwfile = "C:\\Users\\a464559\\Desktop\\test\\USA_CA_San.Francisco.Intl.AP.724940_TMY3.epw"

idf = IDF(idfname, epwfile)
idf.run()

Environment list:

·         eppy version: 0.5.56;

·         python versi

[2021-02-22 08:23] LucaNicoliYT88 commented on #325
Sample of the script:

[code]

Environment list:
•	eppy version: 0.5.56;
•	python version: 3.7;
•	python environment - (conda, spyder): executed in pycharm IDE;
•	Energyplus version: 8.8.0;
•	Operating system version: Windows 10.

I attached the error written automatically in ‘eplusout.txt’ and the errors print on IDE in ‘log_IDE.txt’

[2021-02-22 15:04] santoshphilip commented on #325
If your IDF file is not sensitive, can you share it ?
The error file indicates that an IDF object called `ExternalInterface` is triggering the error.
I am unfamiliar with this object. It would help if I could see your file.

[2021-02-22 15:07] santoshphilip commented on #325
Your script looks perfectly simple.

Some comments on your script
- in python you do not need to use backslash in the pathname.
- instead of `idfname = "C:\\Users\\a464559\\Desktop\\test\\LargeOfficeFUN.idf"`
- you can do `idfname = "C:/Users/a464559\\Desktop/test/LargeOfficeFUN.idf"`
- python is smart enough to do the right thing for your operating system.
- it makes your code cleaner

[2021-02-22 15:09] LucaNicoliYT88 commented on #325
Sure, no problem.
It is a standard idf for some test.

[test_idf.zip](https://github.com/santoshphilip/eppy/files/6022850/test_idf.zip)

[2021-02-22 15:20] santoshphilip commented on #325
Got it.
I am looking into it now

[2021-02-22 15:56] santoshphilip commented on #325
I got the same error while running it

     ** Severe  ** ExternalInterface: Did not find file "socket.cfg".

I did a search on unmethours.com - searching for `socket.cfg`

https://unmethours.com/questions/scope:all/sort:activity-desc/page:1/query:socket.cfg/

This is a problem that has come up many times (even without `eppy`)
It doesn't look like an eppy specific problem

You should consider post

[2021-02-27 18:32] intelligent-222 opened #327 "U-factor hyphen raised issue in python"
Hi Santoshphilip,

Hope you are doing well. I am trying to update U-factor value in my python code and because of hyphen "-" in the variable name, python raised issue which make sense. I went through your Eppy document and found that it is possible to access ufactor through eppy classes and objects. I was wondering if I can replace the following line with eppy address to solve the issue.

I use th

[2021-02-27 21:05] santoshphilip commented on #327
try

    Windowmaterial.U_Factor=1.6

[2021-02-27 21:16] santoshphilip commented on #327
The above comment is wrong. The following is correct

    Windowmaterial.UFactor=1.6

this is how I usually track the field names down

    import eppy
    idf = eppy.newidf('9.0.1')
    wind = idf.newidfobject("WindowMaterial:SimpleGlazingSystem")
    print(wind.fieldnames)

    # --

    wind.UFactor = 1.6
    print(wind)

prints out:

    ['key', 'Name', 'UFactor', 'Solar_Heat_Gain_Coefficient'

[2021-02-28 16:15] intelligent-222 commented on #327
Thanks Santoshphilip.

The solution works well. Great help and support as usual.

I will close the issue.

[2021-02-28 16:15] #327 closed

[2021-03-13 00:16] santoshphilip commented on #325
I am going to close this, since it doesn't look like an `eppy` specific issue

[2021-03-13 00:16] #325 closed

[2021-03-14 15:08] santoshphilip commented on #323
the issue [NREL/EnergyPlus/issues/8542](https://github.com/NREL/EnergyPlus/issues/8542) has been fixed and closed

[2021-03-14 23:00] santoshphilip opened #328 "function to merge multiple idfs"
the need for this functionality was raised in unmethours.org
https://unmethours.com/question/52746/built-in-method-to-merge-idfs-with-eppy/

Consider writing a function to do this.

[2021-03-14 23:12] santoshphilip commented on #328
possible API's

    idf_merged = idf.merge(idf1, idf2)  # merge or idfconcatenate or concatenate
    idf.merge(idf1, idf2) # merge into idf
    idf_merged = eppy.mergeidf(idf1, idf2, idf3)
    idf_merged = eppy_or_idf.merge(pathtoidf1, pathtoidf2 ...)

maybe best to keep it simple as:

    idf = eppy.mergeidf(idf1, idf2, idf3)

fastest merge would be looping thru the idfobject dictionaries.
If the

[2021-03-15 01:44] bbrannon4 commented on #328
I agree that the simple option of
`idf = eppy.mergeidf(idf1, idf2, idf3)`
probably makes the most sense.  Concatenate implies that the idf objects would stay int he same order (i.e. idf1, then idf2, etc), but the intent here (or at least my hope from the unmet hours post) is a method that will sort the final combined model in idfeditor pretty format.  It also retains the original idfs as opposed t

[2021-03-15 01:44] bbrannon4 commented on #328
Thanks for considering adding it

[2021-03-15 02:15] santoshphilip commented on #328
Would you like to do it ?
If you are unfamiliar with the process, I can assist.

I think it would be interesting for you, and you get to be on the author list :-)

[2021-03-15 02:21] santoshphilip commented on #328
I agree that `idf = eppy.mergeidf(idf1, idf2, idf3)` is a good API.
If there are speed issues or memory issues, we can update as needed. I can't resist quoting Donald Knuth here.

"_premature optimization is the root of all evil (or at least most of it) in programming_." - Donald Knuth

[2021-03-18 08:50] souliane opened #329 "true_azimuth is not implemented for sub-surface"
"FenestrationSurface:Detailed" objects expose a "true_azimuth" property,  but calling it you get an exception "BadEPFieldError: unable to find field Zone_Name".

Example:

[code]
I use eppy version 0.5.53.

[2021-03-18 13:57] santoshphilip commented on #329
I'll take a look

[2021-03-18 15:40] santoshphilip commented on #329
@airallergy , Would like to take a look at this. This is mostly your code. I had forgotten what we did here. I think there were some limitations to true azimuth.

[2021-03-23 15:07] MaximilianAzendorf opened #330 "idf.run does not restore sys.stderr properly"
When calling 'idf.run()' while having overwritten `sys.stderr` (e.g. in the context of a test runner), `sys.stderr` gets temporarily overwritten by `run()` in `run_functions.py` and then, instead of remembering the old object and placing it back,  gets set to `sys.__stderr__`, which is not the desired behaviour and breaks e.g. the pycharm test runner.

[2021-03-23 16:36] santoshphilip commented on #330
thanks @MaximilianAzendorf
I'll review soon and merge soon.

[2021-03-23 16:42] santoshphilip commented on #330
a test is failing for some obscure reason. I don't think it is your change. something else is happening

[2021-04-13 11:52] revathij opened #332 "Issue in printidf function"
Hi Santosh,

I have tried to install the eppy with the energy plus version of 9.3 and tried to run the below code.

from eppy.modeleditor import IDF
from eppy import hvacbuilder

from io import StringIO
iddfile = "/usr/local/EnergyPlus-9-3-0/Energy+.idd"
IDF.setiddname(iddfile)

fname1 = "/usr/local/EnergyPlus-9-3-0/ExampleFiles/UnitHeaterGasElec.idf"
idf1 = IDF(fname1)
idf1.printidf()

idf = IDF(

[2021-04-13 12:55] santoshphilip commented on #332
@revathij ,

Sorry about that. It is broken
`hvacbuilder.makeplantloop` and  `loopdiagram.py` are broken since after E+ 8.4

`hvacbuilder.makeplantloop` is low priority for being fixed.
`loopdiagram.py` is likely to be fixed soon.

I probably need to explain why it broken.
 `<start rant>`
The details of who E+ are built is badly documented. (to be honest, it is undocumented). One has to open up th

[2021-04-14 12:44] santoshphilip commented on #332
I am withdrawing my `rant` in the previous comment.
I found the document "PlantApplicationGuide.pdf" in the E+ documentation. This may give me enough clarity on the Plant loops. (I believe the air loops are a little different)

There is a good chance we may get to a fix for this.
It may take some time.

[2021-04-14 17:58] nevr1106 commented on #332
This might have something to do with EnergyPlus installation itself.

I have been using E+ 9.3.0 for two years. Everything works well with eppy. However, I have to install a 9.3.0 version last month on a new machine, which was downloaded from Github. That's when I start to have this issue.

When I switch back to the E+ installed two years ago, this error will disappear.

[2021-04-14 20:11] santoshphilip commented on #332
Is the issue with `printidf()` only ?
Does it happen if you just read a file and then try to print it ?

[2021-04-14 20:16] nevr1106 commented on #332
Nope. In my case, it is triggered by eppy.modeleditor.IDF( ).

[2021-04-14 20:54] santoshphilip commented on #332
So this is happening with the same version of E+ ie. version 9.3.0
Different time of download

What platform are on (operating system) ?

If I can't recreate the problem, I may need your help in testing.

[2021-04-15 01:02] nevr1106 commented on #332
@santoshphilip @revathij

Sorry, I just realized that the installation of E+ has nothing to do with eppy. As long as there is a Energy+.idd file, eppy should work just fine.

The problem is with the new version of **decorator** module. It seems there are some major changes from 4.x.x to 5.x.x for the decorator package.

After I downgrade decorator from **5.0.6** to **4.4.2**, this error disappears

[2021-04-15 03:05] santoshphilip commented on #332
thanks ... good job finding that error.
I can take steps from here.

[2021-04-16 09:58] Chandangsharma opened #333 "readhtml and fasthtml not working"
[PKNSOffice_3Table.zip](https://github.com/santoshphilip/eppy/files/6324120/PKNSOffice_3Table.zip)
Attached EnergyPlus output file (PKNSOffice_3Table.html) can not be read either through readhtml and fasthtml. Can anyone please suggest workaround for this issue?

[2021-04-16 11:38] TfedUD commented on #333
import pandas as pd

tables = pd.read_html('table_data.html')
print('Tables found:', len(tables))
df1 = tables[0] # Save first table in variable df1
df2 = tables[1] # Saving next table in variable df2

print('First Table')
print(df1)
print('Another Table')
print(df2)

https://stackabuse.com/reading-and-writing-html-tables-with-pandas/

On Fri, Apr 16, 2021, 05:58 Chandan Sharma ***@***.***> wrote:

[2021-04-16 14:18] Chandangsharma commented on #333
Thanks @TfedUD . Tried the above solution. Program gets stuck forever in line tables = pd.read_html('table_data.html').
Can you run the html file or suggest any other workaround? Thanks again.

[2021-04-16 19:52] santoshphilip commented on #333
Wow ! That is a large file 27.8 MB and 70,000 lines.
My browser is not able to open it
I can open it in a text editor.

I can see `readhtml` breaking, since it tries to load the file into memory.
I would expect `fasthtml` to work, since it reads the file a line at a time.

Can you post the code you used for `fasthtml` that did not work. I'll try to see what is going on.

[2021-04-16 20:13] santoshphilip commented on #333
My browser finally opened it. It took some time.

[2021-04-17 04:57] Chandangsharma commented on #333
Thanks @santoshphilip . Please find the `fasthtml` code in the attachment. readhtml and fasthtml both are not working. Thanks for any inputs.
[read_html.zip](https://github.com/santoshphilip/eppy/files/6328648/read_html.zip)

[2021-04-17 15:18] santoshphilip commented on #333
I updated your code. It works now.

readhtml and fasthtml take different arguments.
This is not clear in the documentation.

Please raise any questions about the updated code. I want to use your response as a way of improving the documentation

    # Python program to caculate Overall Thermal Transfer sub_value (OTTV) using EnergyPlus

    import os
    import sys
    from eppy.results import read

[2021-04-17 15:24] santoshphilip commented on #332
@nevr1106 , Would you like to make a pull request and fix this problem
In requirements.txt make this change

    decorator
    # becomes
    decorator==4.4.2

I could make the change too, but why don't you do so.

[2021-04-17 16:30] santoshphilip opened #334 "eppy is not reading or writing Japanese characters"
Unable to give a zone name in Japanese.
Well ... first test if E+ can run a IDF that has Japanese characters.

[2021-04-18 14:25] santoshphilip opened #335 "idf.run() works only if full pathname for IDD is given"
the documentation works OK.
- [main tutorial](https://eppy.readthedocs.io/en/latest/Main_Tutorial.html#Quick-Start) gives the relative IDD path.  This works fine since idf.run() is not called here
- The [running eppy](https://eppy.readthedocs.io/en/latest/runningeplus.html) documentation gives the full IDD path, so idf.run() works

fix this so that idf.run() can work with relative IDD path

[2021-04-19 04:04] Chandangsharma commented on #333
@santoshphilip New code is working. Thanks. It is really slow though. Maybe be that is the limitation of python reading large html files. Could you please point what was changed in the new code?

[2021-04-19 06:09] santoshphilip commented on #333
fasthtml.tablebyname takes file_handle as an argument
Your code was reading the file_handle before sending it to fasthtml.tablebyname()
You were misled because readhtml needs text as the argument. So you have to do a read() before calling the readhtel function

another thing to note is that the file_handle created each time fasthtml.tablebyname is called.
This is because fasthtml.tablebyname exhau

[2021-04-21 08:38] revathij commented on #332
@santoshphilip , @nevr1106

Thanks for the reply.
I have uninstalled and installed the decorator. However I am getting different error.

from eppy.modeleditor import IDF
from eppy import hvacbuilder

from io import StringIO
iddfile = "C:/EnergyPlusV9-3-0/Energy+.idd"
IDF.setiddname(iddfile)

# make the topology of the loop
idf = IDF(StringIO('')) # makes an empty idf file in memory with no file na

[2021-04-21 13:46] santoshphilip commented on #332
@revathij that entire module (hvacbuilder) is broken for the newer versions of E+ (greater than 8.4 i think). I am looking into how to fix it in a robust way. I want to make sure that it doesn't break every time a new version of E+ is released.

So for the near future anything you do with hvacbuilder or loopdiagram will not work :-(
Everything else will work

[2021-04-22 03:32] revathij commented on #332
@santoshphilip ,

Thanks a lot

[2021-05-05 16:24] airallergy commented on #329
Sorry for the late reply, I have been extremely busy lately. @souliane, can you confirm if or not `.azimuth` works on your end?

I managed to run a few tests myself and found that this error does exist because the codes were trying to identify the zone name of the surface in order to get the zone orientation. But subsurfaces do not directly linked to its zone, but its parent surface instead, meani

[2021-05-05 17:19] santoshphilip commented on #329
@airallergy , It needs a solution to track the parent surface.
I had put some thought into this a long time ago (a generic method for finding any parent)

I'll start to take a look into this.
For the moment, let us say that `azimuth` does not work for subsurfaces.

[2021-05-06 21:59] souliane commented on #329
Hello, `.azimuth` is working for me, but I have tested with only 1 model.

[2021-05-06 22:54] airallergy commented on #329
@souliane, thanks for your reply, can you provide us a minimal working example idf file to run some tests? You can change `.idf` to `.txt` in your filename and then simply drag and drop it into the dialog box.

[2021-05-12 15:03] airallergy commented on #329
@santoshphilip, may I ask what your current thinking on this is? I happened to run into some work just now that needs to track some sub sub objects to their zone name, a lot of loops seem a bit messy to do so.

[2021-05-13 06:43] santoshphilip commented on #329
@airallergy I have some ideas on this. Would like some feedback.
Give me a few days to think it thru so that I can present it with some clarity.

[2021-05-15 17:09] santoshphilip opened #337 "Finding the surface that a window belongs to"
Finding the surface that a window belongs to

Energplus file is made up of discreet objects. Some objects refer to other objects in their field names. These references can result un useful data structures. For instance:

- Geometry of Zone, Surface, subsurface is in a tree structure
- Mechanical systems are in a [graph structure](https://en.wikipedia.org/wiki/Graph_(discrete_mathematics))

Let us

[2021-05-15 17:12] santoshphilip commented on #329
@airallergy , I opened a new issue #337 to work this this topic. Take a look

[2021-05-19 11:08] morronini opened #338 "runIDFs exits without .err in Linux container, works on Windows"
Hi, trying to use runIDFs on a Docker container.

The application runs in a python script on my local Windows 10 machine without error, calling EnergyPlus in the local directory. When the directory is zipped up into a Linux docker container with all the necessary dependencies, the runIDFs function is throwing an error. No .err file is generated, but variable "cmd" is the exact same between the two

[2021-05-20 05:19] santoshphilip commented on #338
My first guess is that is is not finding the energyplus installation. It expects the expects Energyplus to be installed in the standard location.

Where is Energyplus installed in the Linux container?
In Linux the Standard locations `/usr/local/EnergyPlus-{version}`

[2021-05-20 07:15] morronini commented on #338
Thanks for the response! I just copied the full install folder into the directory which was made into a container. I've changed the install_paths function to return the exact location.

Here is the error: "subprocess.CalledProcessError: Command '['/app/EnergyPlusV9-4-0/energyplus.exe', '--output-suffix', 'C', '--output-prefix', 'measure2', '--expandobjects', '--output-directory', '/app/runfolder',

[2021-05-20 09:21] santoshphilip commented on #338
Can you give me your previous error before you made this change.
I want to make sure we are fixing the right problem

[2021-05-20 10:01] santoshphilip commented on #338
can you also post your python code snippet where you call `runIDFs` functions. The code before and after the changes (if any) that you have made.

I am flying a little blind here, since I don't  dockers much. But we may still be able to debug this.

[2021-05-20 11:55] morronini commented on #338
Here is the previous error before the change:

File "app.py", line 3398, in <module>
main(folder, input_sheet)
File "app.py", line 3337, in main
runIDFs(runs, num_CPUs)
File "/app/eppy/runner/run_functions.py", line 111, in runIDFs
pool.map(multirunner, prepared_runs)
File "/usr/local/lib/python3.6/multiprocessing/pool.py", line 266, in map
return self._map_async(func, iterable, mapstar, chunksize

[2021-05-20 14:43] santoshphilip commented on #338
I may be display my ignorance of docker containers here:

- looks like you are copying a windows Energyplus binary into a Linux container
- a Windows Energyplus will not run in Linux
- you need to install energyplus in the Docker container
    - do a search to find out how to install an energyplus in a docker container

[2021-05-20 17:04] morronini commented on #338
Thanks for that comment! And it's also possible that you're displaying my ignorance of docker containers. Than's for the help! I'll get back to you if it seems to be actually an eppy problem.

[2021-05-20 17:04] #338 closed

[2021-05-20 19:07] santoshphilip commented on #338
post a message here even if you get it working. I would like to know that all is well.

You may be interested in looking at [this functionality](https://witheppy.readthedocs.io/en/latest/runandget.html) on running E+ and extracting specific results. It is still experimental, but could be useful

[2021-05-29 19:28] Cyy-fresh1994 opened #339 "Issue with using IDF in eppy with Jupyter notebook in Anaconda"
We are trying to use eppy to run a basic .idf file, however, we got the errors for only reading the .idf file. We are very new to eppy, any help is very appreciated.

The code is as follows:

pip install eppy
import os
import sys
pathnameto_eppy = "C:/Users/chuyiyi/Music/EnergyPlus-9-4-0"
sys.path.append(pathnameto_eppy)
from eppy import modeleditor
from eppy.modeleditor import IDF
iddfile = "C:/U

[2021-05-29 20:20] santoshphilip commented on #339
I think this is a bug. There is a fix in the works.
I'll try release it in a day or so.

[2021-05-29 20:34] Cyy-fresh1994 commented on #339
Thank you. Please let me know after this is fixed

[2021-05-31 16:07] santoshphilip commented on #339
@Cyy-fresh1994

Try this as a quick fix and let me know if it works. Do:

    pip uninstall decorator
    pip install decorator==4.4.2

Now try and run the same code that failed. If it fails again, post the  full error message

[2021-05-31 16:20] santoshphilip commented on #332
@nevr1106 , I made a [comment](https://github.com/santoshphilip/eppy/pull/336#issuecomment-851582488l) at your pull request #336
Can you take a look and respond when you get a chance

[2021-05-31 18:14] Cyy-fresh1994 commented on #339
@santoshphilip
That fixed the error. Thank you.

But I had another issue during running the code. Please see the following:

The code is:
import pandas as pd

Thermostat_data = pd.read_csv("D:/Energyplus_model_calibration/Thermostat_setpoints_and_temperature.csv")
Temperature_measured=Thermostat_data[["Date_final","Current Temp C_final"]].reset_index(drop=True)

Temperature=Temperature_measured[["

[2021-05-31 22:24] santoshphilip commented on #339
@Cyy-fresh1994 , This looks like a pandas issue.
I am unfamiliar with pandas. So I won't be of much help

You may be better off asking on a pandas forum (not sure where that is)
Or you can ask at unmethours.com
at unmethours you should frame it as an Energy question

You can also ask at stackoverflow
https://stackoverflow.com/questions/tagged/pandas
This is a forum for programing questions.

[2021-06-23 16:40] debrudra opened #340 "IDF function could not read idf file"
Hello. I am trying to open an idf file using EPPY but I am getting the error "TypeError: unsupported operand type(s) for //: 'int' and 'NoneType'. Any help on this would be greatly appreciated

Attached is the section of the code:
import sys

pathnameto_eppy = 'C:/Users/debrudra/Pictures/EnergyPlus9-4'
sys.path.append(pathnameto_eppy)

from eppy import modeleditor
from eppy.modeleditor import IDF

[2021-06-23 21:44] santoshphilip commented on #340
I am having a hard time reading the code, because it is not showing up as code. If you indent a code block by 4 spaces, it will show up as code. For example:

    import sys

    pathnameto_eppy = 'C:/Users/debrudra/Pictures/EnergyPlus9-4'
    sys.path.append(pathnameto_eppy)

    from eppy import modeleditor
    from eppy.modeleditor import IDF

    basefilepath="C:/Users/debrudra/Downloads/Proty

[2021-06-23 22:27] debrudra commented on #340
Thank you very much. I forgot to assign the idd file. It is working now.

[2021-06-23 23:12] #340 closed

[2021-07-20 06:08] tibbe opened #341 "Document how to list the valid fields"
The thing that slows me down the most when using eppy is errors like this:

[code]

In this case I should have written `Schedule_Type_Limits_Name`. The annoying thing is that eppy knows which are the possible valid values! It would be great if either the exception message included a list of valid field names or there was a way to query the possible keys for a give type e.g.

[code]

[2021-07-20 15:24] santoshphilip commented on #341
@tibbe , That is a really good idea ... putting it in the error message.

Would you like to take a stab at coding it ?
I can probably do it faster than you can, but it would be better for you to do it, since you would be "scratching your itch".

Having said that, some objects have a lot of field names. It would not be good to spit them all out in the error message. Maybe put out a truncated list i

[2021-07-20 15:43] tibbe commented on #341
The code snippet above seems to require that you first create an actual object ("building" in this case) before you can query it for its keys. Are the keys stored elsewhere as well, without the need to create an "instance" first?

[2021-07-20 15:50] tibbe opened #342 "Unclear how to use run() with a new IDF file"
I'm trying to use `run()` in combination with creating a new file and I can't figure out the right combinations of invocations to make this work. Here's what I tried:

[code]

This gives the output:
[code]

Note that I didn't name my file "in.idf"!

File structure:
[code]

[2021-07-20 16:19] tibbe commented on #342
I also tried some other combinations, such as a `epw=` argument to run and not using `new()` and just `IDF(...)` but that led to other errors.

[2021-07-20 16:47] santoshphilip commented on #342
try doing a `idf.save()` or `saveas()` before idf.run(), just to make sure the file is on the disk. EnergyPlus expects a file on the disk.

Try this before we look at other possibilities.

[2021-07-20 16:57] santoshphilip commented on #341
Yes. You have an actual `building` object.

this is the usual use case:
- You have an idfobject (`building` here)
- You want to see it's field values
- you want to add field values to it
- you want to change it's field values

to do the above that you need to see what the fields names are.
- you can use `building.fieldnames` to see the field names
- if you are in `jupyter notebook` or `ipython` yo

[2021-07-20 16:58] santoshphilip commented on #341
The fields names are stored in the IDD object. I have to look at the eppy code to see how to get at it.

[2021-07-20 17:16] santoshphilip commented on #342
just as a sanity check, can you open an example file and do `idf.run()` on it.

[2021-07-20 17:40] tibbe commented on #341
My use case is to use eppy to construct a new IDF file from scratch, not modify an existing one. Thus there are no existing objects and I need an API like `model.get_valid_keys` that just takes e.g. `"Schedule:Compact"` as an argument so I can figure out how to create an object to begin with. I will have a look at the IDD object to see what I can figure out.

[2021-07-20 17:43] tibbe commented on #341
To be concrete I'm trying to do something like this:

[code]

Sometimes I get the arguments to `newidfobject` wrong e.g. because the mapping to valid Python keyword arguments isn't always obvious (e.g. I discovered how "-" is mapped by trial and error). Sometimes it's just a typo that takes a while to discover.

[2021-07-20 17:51] tibbe commented on #342
I've updated the example above to include `save` and made it completely standalone (just cut-n-paste the whole thing into a file). Same problem. `run` still assumes the name is "in.idf", even though it's "test.idf".

Reloading the file after it has been written fails too:
[code]

Again the generated command uses the wrong filename:
[code]

[2021-07-20 18:10] tibbe commented on #342
I'm trying to triage if there were changes between the version I'm running:
[code]

and the current master but I can't find a tag for 0.5.56. All tags seem older. Do you know which SHA that release corresponds to?

I can now see where "in.idf" comes from. This is from `run`:

[code]

`saveas` also has a side-effect of mutating `self.`, which doesn't seem ideal because it makes run has the side eff

[2021-07-20 19:13] santoshphilip commented on #341
OK. I got what you are trying.
And I see the issue you are running into.

Let me put some thought into this.

[2021-07-20 19:14] santoshphilip commented on #342
Let me try some variations of your code and see if I can get it to run.
Will give you an update

[2021-07-20 19:18] santoshphilip commented on #342
Does it generate a *.err file?
Can you post that here.

[2021-07-20 19:26] santoshphilip commented on #342
Energyplus runs the `in.idf` file.
eppy makes an `in.idf` file for energy plus to run

[2021-07-20 19:35] santoshphilip commented on #342
The following worked on my machine. (I am running Minimal.idf from the example file)
Can you check if it runs on yours (use the Minimal.idf file)

    from eppy import modeleditor
    from eppy.modeleditor import IDF

    # change these path names for your machine
    iddfile = "/Applications/EnergyPlus-9-3-0/Energy+.idd"
    fname = "/Applications/EnergyPlus-9-3-0/ExampleFiles/Minimal.idf"
    ep

[2021-07-20 19:48] tibbe commented on #342
I think I have tracked down the issue. My IDD path wasn't absolute so energyplus failed with:

[code]

I didn't see the error because how `check_call` is used (it hides all the output from the process). I will send a pull request to improve the error output in that case. I will later send a second pull request to fix the file path issue.

[2021-07-20 20:29] santoshphilip commented on #342
hmmm.. IDD path does not have to be absolute, it can be relative. See code in tutorial https://eppy.readthedocs.io/en/latest/Main_Tutorial.html#Quick-Start

    from eppy import modeleditor
    from eppy.modeleditor import IDF
    iddfile = "../eppy/resources/iddfiles/Energy+V7_2_0.idd"
    fname1 = "../eppy/resources/idffiles/V_7_2/smallfile.idf"

    IDF.setiddname(iddfile)
    idf1 = IDF(fname1

[2021-07-20 20:56] tibbe commented on #342
I'm close to figuring it out. I got side-tracked by looking into how subprocess output gets forwarded. I run in a Jupyter notebook which has stdout/stderr set up differently so I don't see normal output from stdout it seems. I'm looking into a general solution that works everywhere.

[2021-07-20 21:24] tibbe commented on #342
Fix for the IDD path issue: https://github.com/santoshphilip/eppy/pull/343

The subprocess stdout/stderr is really try if we both want to support streaming output (i.e. the subprocess inheriting the parent process' stdout/stderr file descriptors) and IPython/Jupyter notebooks at the same time. I've opted leaving that issue alone for now but it can lead to hard to debug issues when running in IPyth

[2021-07-23 01:16] ocampogarcia opened #346 "TypeError: make_idd_index() missing 1 required positional argument: 'debug' when working on Visual Studio Code on Anaconda."
Hi there,

I am new to eppy, and I have not been able to find out what is going on when I use the IDF method from the eppy package. The code and the error are below. I would really appreciate your help as soon as possible. Thanks in advance!

Python 3.8.8
Windows 10

Code:
BN = 'MathTower'
iddfile = os.getcwd() + "/openStudio/Energy+.idd"
epwfile = os.getcwd() + "/MeasuredData/weather/weather.epw"

[2021-07-23 01:30] santoshphilip commented on #346
This error came up in issue #332 and in issue #336

You have an older version of the package `decorator` installed.
some of the older versions of decorator are buggy.
See if you can upgrade that package

`pip install -U decorator` will upgrade it.
(not sure how the upgrade is done in Anaconda)

[2021-07-23 01:30] santoshphilip commented on #346
I am offline for the next 3 hours.
Let me know if the fix works. I'll check later

[2021-07-23 01:37] ocampogarcia commented on #346
Thank you so much for the prompt response. It worked.

[2021-07-23 03:44] santoshphilip commented on #346
glad it got fixed.
You should close the issue, since you opened it.

[2021-07-23 03:46] #346 closed

[2021-07-23 03:47] ocampogarcia commented on #346
Worked perfectly. Thanks!

[2021-07-24 13:09] santoshphilip commented on #335
pull request #343 fixes this

[2021-07-24 13:09] #335 closed

[2021-07-24 13:25] santoshphilip opened #349 "Copyright text needed for changes merged from pull request #343"
@tibbe, add your name to the copyright at the top of files
- `./eppy/run_fun/runner/fun_functions.py`
- ./LICENSE

[2021-07-24 13:26] tibbe commented on #349
Done in https://github.com/santoshphilip/eppy/pull/347 and https://github.com/santoshphilip/eppy/pull/348.

[2021-07-24 13:30] #349 closed

[2021-07-28 11:12] lafrech opened #350 "saveas defaulting to latin-1 raises UnicodeEncodeError on utf-8 files"
Hi.

I'm working on utf-8 .idf files. When using `runIDFs`, I get the following error:

[code]

(I'm working on linux and AFAIK the original .idf file was generated on Windows using latest Design Builder.)

From what I gathered, the issue here is that `prepare_run` calls `idf.saveas` without specifying any encoding, so it defaults to `"latin-1"`:

https://github.com/santoshphilip/eppy/blob/2d10381

[2021-07-28 14:15] tibbe opened #351 "multiprocessing.Pool.map isn't lazy enough"
`multiprocessing.Pool.map` evaluates the whole iterator before starting processing, as can be seen [here](https://github.com/python/cpython/blob/08870d0443a488d8baaa14d24b4e59d7891b2aa5/Lib/multiprocessing/pool.py#L359) and [here](https://github.com/python/cpython/blob/08870d0443a488d8baaa14d24b4e59d7891b2aa5/Lib/multiprocessing/pool.py#L474). The offending code is:

[code]

This means all `IDF`s

[2021-07-28 14:17] tibbe commented on #351
A compromise could be to check if we get a list in `runIDFs` and if so use `map` and otherwise use `imap`.

[2021-07-30 09:39] RicardoGomesIST opened #353 "idf is not running on Jupyter lab"
Hi,
I am new at eppy, and I am trying to run one energyplus file from jupyter lab.
I am working on:
windows 10
Energy plus version  8.7.0 (installed at C:\)

my code:
[code]
when I run:

`idf.run()`

It returns that I don't have the error file. But the error file should not be created as conventional run from eplaunch?
I ran the file (EPlauch) with that weather file and it runs without severe erro

[2021-07-30 22:15] santoshphilip commented on #353
I am not seeing the line:

    IDF.setiddname(iddfile)

Maybe that is the problem.

Review the tutorial https://eppy.readthedocs.io/en/latest/Main_Tutorial.html#Quick-Start
and
https://eppy.readthedocs.io/en/latest/runningeplus.html

if the documentation in the above two links is not clear, let me know. I'll look into updating it

[2021-07-30 22:21] santoshphilip commented on #350
It is likely that `latin-1` encoding is no longer valid.

I want to maintain backward campatibility as long as possible. People do use older versions for many reasons. Sometimes it is just running old files again. (this happens to me often enough)

Can you look and see if there is a viable pathway, keeping backward compatibility if possible

I have not looked carefully at your code yet. Will do so

[2021-07-30 22:35] lafrech commented on #350
I thought recent IDFEditor versions would open even old files so I assumed it was safe to drop compatibility with (very) old versions.

Alternatives:

- Add `encoding` kwarg to `prepare_run`. Not so elegant but works.
- Add a global (e.g. `eppy.modeleditor.DEFAULT_ENCODING`) the user could customize.

[2021-07-31 01:31] santoshphilip commented on #350
my recollection is that the IDFEditor will open only IDF files of it's version. The IDD file is hard wired to the IDFEditor. So it will complain if it gets a different version for the IDF..

Give me a few days to look at the code. I may use you as a sounding board for this.

[2021-08-02 10:09] RicardoGomesIST commented on #353
Yes... that was missing and now it runs. Thank you
However, it does not present the variables or meter output files as from EP- launch.
Tried

`idf.run(output_directory='')`

 supposing that should run to the main folder but it is not that.

I read your tutorials and they are great. Super detailed

[2021-08-02 14:18] santoshphilip commented on #353
try this link on EPLaunch and eppy

https://eppy.readthedocs.io/en/latest/runningeplus.html#Make-idf.run()-work-like-EPLaunch

[2021-08-04 09:13] littejuice opened #354 "can not change north_axis"
every time I change  north_axis by
 building = model.idfobjects['BUILDING'][0]
building.North_Axis = 90.0
errors occur
![image](https://user-images.githubusercontent.com/52489770/128155279-36d03d06-cc54-4380-a376-4033a293bdde.png)
but I can run it on EPlauch

[2021-08-04 13:19] santoshphilip commented on #354
wow ! never seen an error like that before.
Can you show me what the `Building` object looks like in your changed IDF file.

[2021-08-04 13:26] littejuice commented on #354
I change the parameters as the instructions suggested

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "santoshphilip/eppy"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2021年8月4日(星期三) 晚上9:19
***@***.***&gt

[2021-08-04 15:45] santoshphilip commented on #354
Does this problem occur with any other changes
or
is it only with `building.North_Axis=90.0`

Two things will help me track down the issue.
1. post more details of the script - including the line where you call run() [model.run()]
2. post a piece of the new IDF file that gave the run error (if you have the new IDF)

[2021-08-05 00:58] littejuice commented on #354
yes, it is only with the change.
the whole codes as followed:
from eppy import modeleditor
from eppy.modeleditor import IDF

f2=r"C:\EnergyPlusV8-9-0\ExampleFiles\1ZoneDataCenterCRAC_wPumpedDXCoolingCoil.idf"
model = IDF(f2)

model.printidf()
building = model.idfobjects['BUILDING'][0]
building.North_Axis=90
print(type(building.North_Axis))
model.saveas(r"D:\test\Untitled.idf")

idfname=r"D:\test\U

[2021-08-05 04:49] santoshphilip commented on #354
See the problem. you are missing the code:

    IDF.setiddname(iddfile)  # include this line

Your code should look like the following

    iddfile = c:/pathname/to/iddfile/Energy+.idd
    IDF.setiddname(iddfile)
    model = IDF(f2)

see tutorial <https://eppy.readthedocs.io/en/latest/Main_Tutorial.html#Quick-Start> for this
Let me know if it worked

[2021-08-05 05:00] littejuice commented on #354
I made a mistakes when I copy the codes
the whole codes as followed:
from eppy import modeleditor
from eppy.modeleditor import IDF
iddfile =r"C:\EnergyPlusV8-9-0\Energy+.idd"
IDF.setiddname(iddfile)

f2=r"C:\EnergyPlusV8-9-0\ExampleFiles\1ZoneDataCenterCRAC_wPumpedDXCoolingCoil.idf"
model = IDF(f2)

model.printidf()
building = model.idfobjects['BUILDING'][0]
building.North_Axis=90
print(type(build

[2021-08-05 06:09] santoshphilip commented on #354
I modified the pathnames in your code and ran it.

    from eppy import modeleditor
    from eppy.modeleditor import IDF
    iddfile =r"/Applications/EnergyPlus-8-9-0/Energy+.idd"
    IDF.setiddname(iddfile)

    f2=r"/Applications/EnergyPlus-8-9-0/ExampleFiles/1ZoneDataCenterCRAC_wApproachTemp.idf"
    model = IDF(f2)

    # model.printidf()
    building = model.idfobjects['BUILDING'][0]
    buil

[2021-08-05 06:30] littejuice commented on #354
I do it as your suggestions, but it does not work.
from eppy import modeleditor
from eppy.modeleditor import IDF
iddfile =r"C:/EnergyPlusV8-9-0/Energy+.idd"
IDF.setiddname(iddfile)

f2=r"D:/test/origin1_orig.idf"
model = IDF(f2)

# model.printidf()
building = model.idfobjects['BUILDING'][0]
building.North_Axis=90
print(type(building.North_Axis))
model.saveas(r"D:/test/Untitled.idf")

idfname=r"D:/

[2021-08-05 14:06] santoshphilip commented on #354
Can you send me the file `Untitled.idf`.
(you can attach it by dragging and dropping into the GitHub window)

[2021-08-06 02:02] littejuice commented on #354
发送自 Windows 10 版邮件应用

发件人: santoshphilip
发送时间: Thursday, 5 August 2021 22:07
收件人: santoshphilip/eppy
抄送: littejuice; Author
主题: Re: [santoshphilip/eppy] can not change north_axis (#354)

Can you send me the file Untitled.idf.
(you can attach it by dragging and dropping into the GitHub window)
—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub,

[2021-08-06 02:44] santoshphilip commented on #354
Looks like you tried to send the file thru email (I did not get the attachment)
You need to use the GitHub website to post your reply  and attach the file
go to <https://github.com/santoshphilip/eppy/issues/354> to do this

An alternative is to paste the entire text of the `Untitled.idf` file into you reply email

[2021-08-06 02:47] littejuice commented on #354
!- Windows Line endings

Version,
    8.9;                      !- Version Identifier

SimulationControl,
    No,                       !- Do Zone Sizing Calculation
    No,                       !- Do System Sizing Calculation
    No,                       !- Do Plant Sizing Calculation
    Yes,                      !- Run Simulation for Sizing Periods
    Yes;                      !- Run Simulat

[2021-08-31 16:28] Cyy-fresh1994 opened #359 "Errors when reading a idf file downloaded from "eppy_Resources" folder"
I downloaded an example .idf file from "../eppy/resources/idffiles/V_7_0/5ZoneSupRetPlenRAB.idf" following the eppy tutorials. But I got errors when IDF read this file. The IDF works fine with other .idf files but not this one. So I am wondering whether it is because of something in the .idf itself?

The code is as follows:

from eppy import modeleditor
from eppy.modeleditor import IDF

iddfile =

[2021-09-20 18:33] souliane opened #360 "File opened but never closed in idfreader.py"
The file that is opened here:

https://github.com/santoshphilip/eppy/blob/2d10381bf0b8f4dbc8bee17ce10cd61f77365517/eppy/idfreader.py#L39

is never closed.

[2021-09-20 18:39] souliane opened #361 "MutableSequence import will raise DeprecationWarning"
This won't work with newer python versions from 3.8:

https://github.com/santoshphilip/eppy/blob/2d10381bf0b8f4dbc8bee17ce10cd61f77365517/eppy/idf_msequence.py#L27

The correct way to import MutableSequence is now from collections.abc (and not from collections).

[2021-09-20 20:00] santoshphilip commented on #361
good catch.
I'll look into this

[2021-10-03 16:20] santoshphilip commented on #359
Sorry it took me a while to get to this. I had been traveling and I did not get an email notification for this issue :-(
I'll take a look. Maybe too late for what you are doing.

[2021-10-03 23:39] santoshphilip opened #362 "is eppy running tests on Travis-CI"
Travis-CI changed their URL from travis-ci.org to travis-ci.com
It is not clear if eppy is running the tests using travis-ci.com

[2021-10-10 07:57] waynetsu opened #363 "How to get the value of each time-step during the running progress"
I finally get it done to run an idf file of a simple model  and get the output with the help of Eppy.

However, I have no idea how to get a specific value (e.g. longwave radiation and the outside surface temperature) of a specific surface (e.g. the roof surface) in each time step.

It's not the value from the output variables, because what I want to get is the value during the running process, in

[2021-11-03 12:48] DimitrisMantas opened #364 "Make the Quiet Mode Actually Quiet"
Hello everyone,

Whenever I use run(..., verbose="q"), the output to the console is actually `EnergyPlus Completed Successfully.`

This is potentially unwanted behavior in cases where one might use eppy in conjunction with another program that also prints stuff to the console. For example, if you're running E+ multiple times with different .IDF files to optimize a specific variable, then you might

[2021-11-03 16:43] santoshphilip commented on #364
@DimitrisMantas , Can you take a look at the code and see if there is an easy way to turn this off
OR redirect it to a separate log file.

You can make a pull request or let us know your findings

[2021-11-04 23:03] DimitrisMantas commented on #364
Hi, @santoshphilip,

Thank you for immediate response!

I'll be sure to take a look at the issue.

[2021-11-07 13:31] santoshphilip opened #367 "Documentation on Contributing needs updating"
The documentation on [Contributing](https://eppy.readthedocs.io/en/latest/contributing.html#get-started) is stale.

-  It describes steps for python 2, Eppy is now python 3.
- It is not explicit that the pull request should be for branch `develop` not  branch `master`
- The travis link is broken

[2021-11-07 13:47] santoshphilip opened #368 "docstrings in modeleditor.py ask for of ALL_CAPS"
docstrings in modeleditor.py ask for of ALL_CAPS
Eppy no longer needs the objects type to in in ALL_CAPS. Confirm that this is the case and update the doc strings

[2021-11-07 14:03] santoshphilip opened #369 "copyright line needed for @lymereJ"
@lymereJ , I just merged your pull request #357

You need to put your name on the copyright line with the year.
Do this in the following files
- modeleditor.py
- test_modeleditor.py
- LICENSE

make a pull request for this.

[2021-11-07 17:49] santoshphilip commented on #364
I did some testing with the code in your pull request.
It works fine (I like how you have coded it)

I discovered that the older versions of E+ (8.5 for instance) do not print out the line `EnergyPlus Completed Successfully`.   I am going to merge your pull request. See further comments at the pull request #365

You opened this issue for a specific use case that you had.
it would be good to captur

[2021-11-07 18:54] DimitrisMantas commented on #364
Sure, I completely agree with updating the documentation to reflect the proposed changes and can definitely write something up. Where should I post it?

[2021-11-09 16:01] #369 closed

[2021-11-25 21:07] santoshphilip opened #372 "have the documentation point to witheppy"
`witheppy` has a number of useful functions. Users of eppy don't know about it. Would be good to have the eppy documentation point to the `witheppy` repository and documentation

[2021-12-04 15:32] santoshphilip commented on #364
@DimitrisMantas I referred to this issue in unmethours.com
https://unmethours.com/question/64004/is-it-possible-to-remove-the-energy-plus-simulation-log-while-running-it-from-eppy/

You can respond in unmethours.com with an answer (solution: is your pull request)

Shall we close this issue. (You should do the closing). A new issue can be opened if documentation is critical

[2021-12-04 16:43] DimitrisMantas commented on #364
Alright. I'll be closing the issue and will keep a heads up to write some relevant documentation in case the proposed changees make it into the main branch at some point.

[2021-12-04 16:43] #364 closed

[2021-12-04 18:29] santoshphilip commented on #364
Once it gets into the develop branch, it will get into the master branch for sure :-)
    On Saturday, December 4, 2021, 08:43:19 AM PST, Dimitris Mantas ***@***.***> wrote:

Alright. I'll be closing the issue and will keep a heads up to write some relevant documentation in case the proposed changees make it into the main branch at some point.

—
You are receiving this because you were mentioned.

[2021-12-04 22:17] #330 closed

[2021-12-05 02:56] santoshphilip commented on #364
@DimitrisMantas , I am glad to see that the changes you made are useful to other people,
unmet hours is an interesting forum. It is like [Stackexchange.com](https://stackoverflow.com)

See this question on https://stackoverflow.com about python lists comprehension.
https://stackoverflow.com/questions/51861577/python-list-function-or-list-comprehension/51861670

There are comments and answers.
The

[2021-12-09 17:04] santoshphilip commented on #362
Travis has stopped it's free usage for OSS projects.
Using only appveyer now

[2021-12-09 17:04] #362 closed

[2021-12-10 06:27] santoshphilip commented on #361
Fixed

    :Problem: DeprecationWarning: Using or importing the ABCs from 'collections'
    :Solution: import from 'collections.abc'

[2021-12-10 06:27] #361 closed

[2021-12-10 06:34] santoshphilip commented on #368
changed the doctoring

[2021-12-10 06:34] #368 closed

[2021-12-10 06:36] #333 closed

[2021-12-10 14:59] santoshphilip opened #373 "make new release with HISTORY.rst file updated"
release r0.5.57 was an emergency release.
HISTORY.rst file was not fully updated in this release.
update the release file with all the changes made.

[2021-12-10 23:13] santoshphilip commented on #373
fixed issue #373

:Problem: The HISTORY.rst file does not track all changes
:Solution: update HISTORY.rst with info from `git log`

[2021-12-10 23:13] #373 closed

[2021-12-10 23:13] #360 closed

[2021-12-10 23:13] #351 closed

[2021-12-10 23:14] #342 closed

[2021-12-11 14:00] souliane commented on #329
I am sincerely sorry I didn't reply earlier and didn't send the sample IDF to reproduce the bug (I will spare you the details...).

But I think it is reproducible on any `FenestrationSurface:Detailed`, because it looks like the interface that exposes `true_azimuth` is not implemented at all for `FenestrationSurface:Detailed`.

For my project, I dealt with it this way: https://gitlab.com/souliane/b

[2021-12-11 14:24] souliane opened #374 "Some implementation ideas"
Hi,

This is not an issue but just a suggestion - feel free to close if you thing this is out of the scope of eppy.

I think it would be great to add to eppy some higher level methods. I mean with a lesser level of details, to do things similar to OpenStudio measures (but in Python), in opposition to lower level manipulation that require people to know their way through the IDF.

I implemented suc

[2021-12-12 01:59] santoshphilip commented on #374
@souliane , Thank you pointing this out to me. I am reading through the links.
There is a lot going on here.
I need to read it carefully to grok it all.

I totally agree that there is a need to higher level methods.
I think there is a lot in your code that can contribute in that direction. (I still need to look thru it carefully)
I'll leave this issue open and comment further as I understand more

[2021-12-12 19:16] souliane commented on #374
The license is BSD 3-Clause. I can change it if it can make things easier.

I didn't know about witheppy 👍

[2021-12-14 15:29] TRasmus1422 opened #375 "readvars falling if you run, RunIDFs script from a bat file"
Hello, I have run into a problem with running my script with runIDFs. Then I start the script internally I can get the readvars to output an CSV file, but then I start the script from a bat file, will the function readvars not run. The main issue seems to be that then I run the script from a bat file is readvars dependent on a rvi file which is not created in the folder "\multi_runs\idf_0\in.rvi".

[2021-12-14 17:05] santoshphilip commented on #375
I'll take a look.

[2021-12-14 17:20] santoshphilip commented on #375
The zip file is not self-contained.
It has:
- python script with main() that does not take any argument
- a bat file that sends an argument to the script

what I mean is that, I cannot easily recreate the problem

send me a zip file with
- script -> this script runs
- bat file -> the bat file calls the script, but breaks

Make it easy for me to recreate the problem (I'll change path names as neede

[2021-12-14 17:27] santoshphilip commented on #375
Couple of other comments

- there is a slim chance that this is a bug in eppy
- more likely, it a coding error in the script or bat file.

In either case I should be able to find it. Will let you know (once you send me your new zip file :-)

If you think it is a coding error in your script, <[unmethours.com](https://unmethours.com/questions/)> is a better place to post. More people will see it and

[2021-12-15 10:09] borlum commented on #272
@missermann did you ever look into a fix? I have just stumbled on this, and could see the benefit of this working on E+ version > 8.5.

[2021-12-15 10:25] TRasmus1422 commented on #375
Thanks for all the comments, have I updated the Zip file for easier testing and I will move my question to unmethours.com and post my question where.

Thanks for taking the time to give feedback and guidance :-)

[2021-12-15 15:46] santoshphilip commented on #375
I am not seeing the new zip file
Did you forget to attach ?

[2021-12-15 15:49] santoshphilip commented on #272
I have not gotten to it yet.
If you are familiar with how loops are built, can you take a look (compare 8.5 example with one later)
there is a chance that the fix is simple

[2021-12-15 15:53] TRasmus1422 commented on #375
The attached file is here. Two scripts one which you can run directly with no error and one script you should start via the bat file. The bat file paths still need to be updated based on where you save them.
[eppy_error.zip](https://github.com/santoshphilip/eppy/files/7720840/eppy_error.zip)

[2021-12-15 16:04] santoshphilip commented on #375
got it.

[2021-12-16 07:41] borlum commented on #272
No worries - if I find the time, I will take a look at it. Kudos on eppy. Super helpful for querying E+ models and manipulating them from Python.

[2021-12-20 02:07] santoshphilip commented on #375
Sorry, I got sidelined by an inane bug to took several days to track down.

When I worked on the shell script on my computer I got this::

	location_folder = "location/Users/santoshphilip/Documents/coolshadow/temp/Speed_01_sh1"
	print(location_folder + "/CPH/EnergySim/CPH.epw")

	output >> /CPH/EnergySim/CPH.epwphilip/Documents/coolshadow/temp/Speed_01_sh1

this did not make sense in any universe

[2021-12-20 11:30] TRasmus1422 commented on #375
I think I have located the problem. Then comparing the options output can a difference be seen.

Running the python script directly:
C:/EnergyPlusV8-9-0\energyplus.exe --weather C:\Python\Speed_01\CPH\EnergySim\CPH.epw
--output-directory C:\Python\Speed_01\CPH\EnergySim\Unlimited\smallOffice__WFR15__N__MSF6014__2Layer__PXN\EnergyPlus
--expandobjects --readvars --output-prefix smallOffice__WFR15__N

[2022-01-06 21:03] santoshphilip commented on #374
@souliane , MIT license is a better fit for eppy and witheppy.
Can you contact me thru santosh_philip@yahoo.com

I have been thinking about this over the vacation and want to discuss a couple of things with you.

[2022-01-14 12:16] AsutoshBoro opened #376 "Not an issue, but curious about some capabilities of Eppy(or energy+) for a Particular HVAC design"
Dear Santosh,

I think eppy is a great platform to design cases in energy+, so congrats on developing that.
I am a researcher in Energy Sciences and I am working on a heating system called ATES(Aquifier Thermal energy storage). Its a ground water storage system that can supply heat and cold water to buildings depending on it heating and cooling demand. And it is required to design all the system i

[2022-01-14 13:22] AsutoshBoro opened #377 "Error on HVAC simple loop design tutorial"
I was trying out your simple tutorial in : https://eppy.readthedocs.io/en/latest/HVAC_Tutorial.html#Building-a-Plant-loops

I get an error saying  " BadEPFieldError: unable to find field Component_1_Branch_Control_Type"

Error in for the line : hvacbuilder.makeplantloop(idf, loopname, sloop, dloop)

The code is :
import sys
from eppy import modeleditor
from eppy.modeleditor import IDF
from eppy.mo

[2022-01-17 02:50] santoshphilip commented on #377
Both HVAC loop builder and HVAC Diagram maker are broken.
I think they broke for the later versions of E+

I have not got to fixing it. ( although it may be an easy fix.)
I am hoping someone else fixes it :-)

I am putting together a longer response to the question you raise in issue #376

[2022-03-14 14:44] mohammad-zeyad opened #378 "error in main module"
the code is

import sys

pathnameto_eppy = "C:/Users/USER/AppData/Local/Programs/Python/venv/Lib/site-packages/eppy"
sys.path.append(pathnameto_eppy)
from eppy import modeleditor
from eppy.modeleditor import IDF
iddfile = "C:/Users/USER/AppData/Local/Programs/Python/venv/Lib/site-packages/eppy/resources/iddfiles/Energy+V8_9_0.idd"
fname1 = "C:/Users/USER/AppData/Local/Programs/Python/venv/Lib/site

[2022-03-14 14:58] santoshphilip commented on #378
Can you show me the program you ran. 

    On Monday, March 14, 2022, 07:44:16 AM PDT, Mohammad Zeyad ***@***.***> wrote:

after running my program it shows

C:\Users\USER\AppData\Local\Programs\Python\venv\Scripts\python.exe C:/Users/USER/AppData/Local/Programs/Python/venv
C:\Users\USER\AppData\Local\Programs\Python\venv\Scripts\python.exe: can't find 'main' module in 'C:/Users/USER/AppData/Local

[2022-03-14 17:16] santoshphilip commented on #378
Give me a day or two. I am traveling and don’t have my computer. 
At first glance, I am not see where the problem is coming from.
Are you using python2 or python3 ?

    On Monday, March 14, 2022, 08:05:25 AM PDT, Mohammad Zeyad ***@***.***> wrote:

the code is

import sys

pathnameto_eppy = "C:/Users/USER/AppData/Local/Programs/Python/venv/Lib/site-packages/eppy"
sys.path.append(pathnameto_eppy)

[2022-03-14 21:10] mohammad-zeyad commented on #378
I used python 3.7

I tried to install the main package in the command prompt, but it shows an error

//
Command Prompt Window

C:\Users\USER>pip install main
Defaulting to user installation because normal site-packages is not writeable
Collecting main
  Using cached main-0.1.tar.gz (1.1 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: main
  Building wheel for m

[2022-03-15 01:56] santoshphilip commented on #378
You should do 
pip install eppy
(pip install main will not work)
Try that and let us know how it goes. 
Santosh. 
    On Monday, March 14, 2022, 02:11:07 PM PDT, Mohammad Zeyad ***@***.***> wrote:

I used python 3.7

I tried to install the main package in the command prompt, but it shows an error

//
Command Prompt Window

C:\Users\USER>pip install main
Defaulting to user installation because norm

[2022-03-15 10:22] mohammad-zeyad commented on #378
Yes, I installed eppy before. After that, it shows the error in the main package.

[2022-03-16 12:39] mohammad-zeyad commented on #378
I solved my issue. Thanks for your kind support.

[2022-03-16 12:41] #378 closed

[2022-03-16 12:50] santoshphilip commented on #378
how did you solve it ?
What was the problem.

It would be useful to know in case it comes up again.

[2022-03-16 13:14] mohammad-zeyad commented on #378
Yes sure.

Actually, I put my main.py file inside the venv folder. I just put the main.py file outside the venv folder. Also, I have an error in my code. I just remove that error.

[2022-03-16 14:03] FrederikSeeberg opened #379 "Extracting E+ simulation results generated with run() in python without saving files locally"
Hi,

Not an eppy-issue, but I hope you might have inputs for the challenges I am facing using eppy and E+.

I am developing a script that can (i) transfer BIM data from Revit to an IDF file using Eppy. (ii) Simulate the file with the initiation of eppy or witheppy and (iii) read the results from the simulation and map it back into a data structure. It is intended to be a service in a web platform,

[2022-03-16 16:12] santoshphilip commented on #379
If I understand you right, you want the E+ results to be in memory and not on the disk.

from my best understanding:
- Energyplus does the simulation. (eppy just asks E+ to do the simulation)
- E+ does the simulation using text files. The input is a text file on disk. The output is a text file on disk
- there is no way to avoid the files on disk if you are doing a E+ simulation.

You may want to o

[2022-03-16 16:28] FrederikSeeberg commented on #379
Thank you very much for your very elaborate (and fast) response, @santoshphilip.

Based on your feedback I think you got the question just right. From my work with E+, I have the same understanding as you, with regard to the input/output of  E+ simulations. I will raise a question on Unmethours - there might be a workaround. If not, I have already implemented the solution you suggested towards the

[2022-04-11 13:23] cloubu opened #380 "Upper case Object"
Hi, thanks for eppy is wonderfull!
I don't know if I did something wrong or it's correct,  but when I'm using EnergyPlus 8.5 I have some problems regarding upper case words I think but I'm not sure. To explain better: when I create/edit a file with new objects like MATERIALS or CONSTRUCTIONS if i try to open with IDF Editor and after that I launch the simulation from EP-Launch, I will see a lot of

[2022-04-11 14:09] santoshphilip commented on #380
The upper case should not create a problem.
Something else is going wrong.

Can you send me the error file (attach it in GitHub)

[2022-04-11 15:52] santoshphilip commented on #380
I see how the error is happening

    ! working file
    Construction,
        C000_Pavimento-terreno_G,    !- Name
        04_Cls_basamento_30,      !- Outside Layer
        03_Isolante_10,           !- Layer 2
        05_Sottofondo_10,         !- Layer 3
        06_Massetto_5,            !- Layer 4
        07_Piastrelle_1;          !- Layer 5

    ! not working file
    CONSTRUCTION,
        C00

[2022-04-11 16:01] cloubu commented on #380
ok, sorry maybe i made a stupid mistake

[code]

If I simply remove unused layer will be ok?

[2022-04-11 17:42] santoshphilip commented on #380
Please let me know if it worked.
And close the issue if there are no more problems.

[2022-04-12 07:24] cloubu commented on #380
Sorry for the delay. Yes it works!
Thank you very much :)

[2022-04-17 13:20] hxy1027 opened #381 "An error with “runIDFs”"
**Hello, I have a problem. My computer can't run “runIDFs”, and I'll simplify the input as follows:**
My original program was very long and could run in the laptop, but the laptop could not support a long time running, so I changed to the desktop, but the desktop kept reporting errors. I simplified it to the simplest form, and I hope you can help to check whether there is any problem

[code]

**Th

[2022-04-17 13:22] hxy1027 commented on #381
Besides, It is possible to run a separate EnergyPlus directly, but an error will be reported if it is used in parallel

[2022-04-18 04:44] santoshphilip commented on #381
I am not immediately seeing what the problem is. I need to work on it bit figure it out.

[2022-04-19 07:01] santoshphilip commented on #381
We may have to try different things out. Try this first

change

     'output_directory': r'D:\hxy_py0\3shiyingdu\code\csvout'

to

     'output_directory': "D:/hxy_py0/3shiyingdu/code/csvout"

change

    epwfile = r"D:\hxy_py0\3shiyingdu\code\weather\tianjin\tianjin1981.epw"
    idfname1 = r"D:\hxy_py0\3shiyingdu\code\idfout\0idfroom1981.idf"
    idfname2 = r"D:\hxy_py0\3shiyingdu\code\idfout\0i

[2022-04-19 09:04] hxy1027 commented on #381
Thank you for your reply, I have modified the expression of the file path according to your suggestion
But still the same error, I copied the entire output profile here
[code]

[2022-04-19 13:36] santoshphilip commented on #381
copy this line to the terminal and run it

    C:/EnergyPlusV9-2-0\energyplus.exe --weather D:\hxy_py0\3shiyingdu\code\weather\tianjin\tianjin1981.epw --output-directory D:\hxy_py0\3shiyingdu\code\csvout --expandobjects --readvars --output-prefix 0idfroom1981 --output-suffix C D:\hxy_py0\3shiyingdu\code\multi_runs\idf_0\in.idf

send me the error message, if any
FYI: this is the second line from yo

[2022-04-19 15:41] santoshphilip commented on #381
quite likely that the error may be coming from th `C:/`  and  `D:/` mismatch

I need to revisit the eppy code to find out how eppy is finding the EnergyPlus.exe
There is a chance that this is hardcoded. Which raises the question on how should eppy run E+ when E+ is installed in a non-standard location.

Can you install E+ in C:/
(Although I suspect you don't have admin access to the C drive)

What

[2022-04-19 15:42] santoshphilip commented on #381
OK ... I see in your message that you could not install E+ in C Drive.
I'll try to make a update for that will allow E+ to run if it is in a non-standard location.

[2022-04-19 16:02] santoshphilip opened #382 "will idk.run() work if E+ is in a non-standard location?"
This question is coming from the issue #381

Explore if it is possible to do this easily. It may require an API change or a wrapper function.

[2022-04-19 16:25] hxy1027 commented on #381
Great news! Instead of trying to re-download it, I just copied the Energyplus folder from the `D:/` drive to the `C:/`, re-ran it, and it ran correctly without errors!!!
（Even though this method doesn't solve the underlying problem, it can still solve an immediate problem if used in a hurry）

Once again, thank you very much!

[2022-04-19 17:10] santoshphilip commented on #381
That's a good hack.
Go ahead and close this issue.

I'll follow up on issue #382

[2022-04-20 02:10] #381 closed

[2022-04-21 17:50] amr-auf opened #383 "Adding EMS sensor objects to an IDF in EPPY"
Hi,

Thank you all for the amazing library. It is helping a lot!

I was trying to use Eppy to write EnergyManagementSystem idf objects. I used Eppy to declare global and internal variables, and they worked.
However, I could not add EMS sensors using the same workflow. I think the problem is attributed to the field names for a sensor object.

The EMS sensor name and field entries should be okay as

[2022-04-21 18:14] #383 closed

[2022-04-21 18:16] amr-auf commented on #383
I found out that I can access the field names for an IDF object using the .fieldnames.
The correct field names for EMS sensors in Eppy should be

['key',
 'Name',
 'OutputVariable_or_OutputMeter_Index_Key_Name',
 'OutputVariable_or_OutputMeter_Name']

 Thank you.

[2022-04-21 19:26] santoshphilip commented on #383
@amr-auf , Is everything working now ?

[2022-04-21 19:40] amr-auf commented on #383
Yes, Santosh. Everything is good now. Thank you very much!

[2022-04-21 21:29] santoshphilip commented on #383
How did you find the function .fieldnames().
It is a very useful function. I am sorry you did not know of it earlier.
I am trying to figure out where to put in in the documentation. Any thoughts ? Should it be in the tutorial ?

[2022-04-21 21:48] amr-auf commented on #383
Thank you Santosh for your attention here. I think the tutorials are great and very clear. They cover the basics of Eppy in a clear step by step approach. I was new to Eppy (and even to EnergyPlus), and the tutorials were enough to give me the confidence to get started.

You might just add a line that explains that if the field name of an IDF object includes a colon ( : ), this colon should be omi

[2022-05-03 18:07] VanroyKato opened #384 "surface.area is zero when the first 3 vertices of the surface are in one line"
I created a geometry in OpenStudio exported the .idf and wanted to edit some things in python using eppy.

When creating a geometry in OS apparently the floor vertices aren't simplified and if there are multiple zones adjacent to a wall, it will keep all the coordinates, creating situations where there's 3 or more vertices in one line.

This causes a problem when wanting to calculate the surface a

[2022-05-03 19:09] santoshphilip commented on #384
You may have identified the problem correctly. Let me see if the code can be updated to fix that issue.

[2022-05-04 00:04] santoshphilip commented on #384
I have fixed this in branch `i384_area`

Once I cleanup the code, I'll merge it into `develop` and `master` branch

Basically I try all the points in the polygon until it hits a non-linear sequence of points. Then it can finish the area calculation. If all points are linear, an area of zero is returned

[2022-05-04 18:35] santoshphilip commented on #384
I have made a new release in pipit and in github.
This issue is resolved

[2022-05-04 22:46] santoshphilip commented on #382
idf.run() may work if E+ is a a non-standard location
runIDFs will not run with a non-standard location for E+

Not easy to fix this.