[2016-09-04 20:52] jamiebull1 commented on #119
It's not totally critical for me. I can work around it by using the `six`
branch. It's not ideal for other people at UCL I'm hoping can use the
`geomeppy` package though. It would be great to get `pip install` working
properly. Do you need anything from me to get comfortable with what's
happening with `six`?

On Sun, 4 Sep 2016, 22:41 santoshphilip, <notifications@github.com> wrote:

[2016-09-04 21:10] santoshphilip commented on #119
ha!
If you reconfirm your confidence level in branch `i87_six`, I'll go with it and take steps to release on pypi
(I assume it is branch `i87_six`)

I spent enough time to be familiar with what you were doing in `i87_six`. That is good enough for me. Beyond that ... the tests are passing and in principle, the is what we should depend on.
I'll also test the install process before release.

So, awai

[2016-09-04 21:18] jamiebull1 commented on #119
Yep, I'm happy with it. Medium term, it would be good to get the
`improve_coverage` work merged in, but the `i87_six` branch is a much
lighter touch. I'm using it as my main branch, and have other people who
are on python 3 using it as their regular branch too.

On Sun, 4 Sep 2016, 23:10 santoshphilip, <notifications@github.com> wrote:

[2016-09-04 21:19] santoshphilip commented on #119
OK.  will release over the next day or so.

[2016-09-06 02:23] santoshphilip commented on #87
@jamiebull1 ,

I have some crude integration tests written to test writing files to the disk.
You can run them on a unix machine by `sh integration.sh`
(you might have to look inside `integration.sh` to see how to run them on a windows machine)

These tests are failing python3 in branch `i87_six`
when testing on a mac, they fail when writing a window line endings file to disk. it writes it with `\

[2016-09-06 05:49] jamiebull1 commented on #87
Great, I'll tidy that up then. That was also something I was concerned
about on the `improve_coverage` branch so I'll add the integration tests
there too.

On Tue, 6 Sep 2016, 04:23 santoshphilip, <notifications@github.com> wrote:

[2016-09-06 06:08] santoshphilip commented on #87
I may be mistaken on why it is failing.
In any case it is failing.

[2016-09-06 06:10] jamiebull1 commented on #87
No problem. I'm on it now.

[2016-09-06 22:55] santoshphilip commented on #122
Done.

[2016-09-06 22:55] #122 closed

[2016-09-06 22:56] #119 closed

[2016-09-07 07:52] lafrech opened #123 "should pytest be in install_requires?"
In setup.py:

[code]

I don't think `pytest` should appear in `install_requires`.

I was about to send a PR but I'm not sure whether it should be in `tests_require`, `extras_require['testing']` or both.

    tests_require=[
        'pytest>=2.3.5'
    ],

    extras_require={
        [...]
        'testing': [
            'pytest>=2.3.5'
        ],
    }

[2016-09-07 09:28] lafrech commented on #86
Notes:

- You may use `git branch -d iXX_dev_branch` to delete a branch. It will delete it only if it was merged. Doing this on all dev branches should only remove those that can be. Removing an unmerged branch takes a `-d --force` or equivalently `-D`. ([git-branch](https://git-scm.com/docs/git-branch))

- You may want to put the content of this issue in a `CONTRIBUTE` file so that it is displaye

[2016-09-08 03:00] santoshphilip opened #125 "Error in sphinx documentation generation"
see page:
http://pythonhosted.org/eppy/eppy_api.html
It is blank.

- Sphinx uses the function and class doc strings  to generate this page.
- There are lines in the doc string that sphinx is interpreting as sections in the page.
- sphinx uses restructured text to format a page
- any underlined string in the doc string is considered a heading by restructured text
- a heading is also section in a pa

[2016-09-08 09:23] jamiebull1 commented on #123
I think I prefer it in `tests_require`, based on the logic [here](http://stackoverflow.com/a/32513360/1706564).

[2016-09-08 12:32] lafrech commented on #123
The answer you point to rather suggests to put it in `extras_require`, doesn't it?

I don't mind and it may not be that important one way or another.

My point was that it did not have to be installed by default, so it shouldn't be in `install_requires`.

[2016-09-08 13:15] jamiebull1 commented on #123
On second reading, you're right. I think `extras_requires` is better. And certainly right that it shouldn't be in `install_requires`.

[2016-09-14 19:47] kostovmike opened #126 "Python 3.5 error in ex_loopdiagram.py"
File "/Users/kostovmike/anaconda/lib/python3.5/site-packages/eppy/ex_loopdiagram.py", line 553, in getedges
    data, commdct = readidf.readdatacommdct(fname, iddfile=iddfile)

ValueError: too many values to unpack (expected 2)

[2016-09-14 19:51] jamiebull1 commented on #126
@kostovmike @santoshphilip I know what this is. I'm away from my laptop for a couple of hours now so if you want to pick it up, Santosh, go ahead. Otherwise I'll raise a PR to fix later on today.

[2016-09-14 20:32] santoshphilip commented on #126
I may not be able to get to this today.

[2016-09-14 20:40] kostovmike commented on #126
Thank you both for the prompt response and compliments for the amazing work on eppy.

[2016-09-14 22:41] jamiebull1 commented on #126
@santoshphilip I've taken this as a cue to pull in the changes from `improve_coverage` which remove the various versions of `loopdiagram.py`, leaving just the one in `useful_scripts`, a well as adding both unit and integration testing for it.

If that's not the way you want to go, the simple fix is just to change both line 553 and 584 from:
```data, commdct = readidf.readdatacommdct(fname, iddfile

[2016-09-14 23:26] kostovmike commented on #126
@jamiebull1 Problem solved!

[2016-09-15 03:25] #126 closed

[2016-09-15 04:11] santoshphilip commented on #126
I have released this on pipit as version 0.5.41
So you can do a `pip install`

[2016-09-15 07:58] kostovmike opened #128 "Python 3.5 Error in creating .dot diagram"
Haven't installed 0.5.41 yet so the issue might be already resolved, however worth mentioning the above error when trying to create .dot diagram in 0.5.40 for viewing in graphviz
The error appeard before and after manually updating lines 553 and 584 to data, commdct, idd_index = readidf.readdatacommdct(fname, iddfile=iddfile)

kostovmike$ python /Users/kostovmike/anaconda/lib/python3.5/site-packag

[2016-09-15 08:04] jamiebull1 commented on #128
@kostovmike Let me know if upgrading to `0.5.41` doesn't work.

I'm not going to be in much of a hurry to fix a bug in a module that's already been removed from `eppy`, but if there's still a problem in `0.5.41` I'll get right on it.

[2016-09-15 08:37] jamiebull1 commented on #123
In the end, I think `tests_require` integrates better with `setuptools` so I've gone with that in the PR I just raised (#129 which also addresses some other CI issues).

[2016-09-15 15:03] kostovmike opened #130 "python 3.5, eppy 0.5.41 error when using getedges"
I've installed eppy 0.5.41 but again I'm finding difficulties using the 'getedges'  function.
I had to manually download usefull_scripts folder from github and copy it into the eppy folder.

#below is my code
from eppy.modeleditor import IDF
from eppy import hvacbuilder
from io import StringIO
from eppy import modeleditor
from eppy import walk_hvac
from eppy.useful_scripts import loopdiagram

iddf

[2016-09-15 16:04] santoshphilip commented on #130
I'll take a look.

Loop diagram was written along time back.
(Actually written in desperation, because I had to see the loop to fix my model :-)

If this is not an easy fix, it might take some time for me to get into the code.
Most of the system and loop code is written in an ad-hoc manner, because the documentation on how a loop is structured is poor or non-existent.  One has to look thru the exa

[2016-09-15 16:15] jamiebull1 commented on #130
This looks like the same issue where we're not picking up the third return
value. Not sure if fixing that will get back to the same problem though.

For what it's worth, I've used `loopdiagram` on some pretty complex layouts
without any trouble so you've obviously done a pretty good job of it,
Santosh!

On Thu, 15 Sep 2016, 18:04 santoshphilip, <notifications@github.com> wrote:

[2016-09-15 17:09] jamiebull1 commented on #130
@santoshphilip Yes, it's the same issue as the previous one. I should really have picked it up when I fixed that. I'll raise another PR once the last CI tests have passed on my fork.

As far as the ad-hoc nature of the `loopdiagram` script, I don't think it's too bad. I had to pick it apart a little, and DRY it out a bit to make it more testable but it's fairly clear what it's doing.

I'm happy to

[2016-09-15 18:36] santoshphilip commented on #130
yes ! I would be happy to work with you on `loopdiagram` and `hvacbuilder`

[2016-09-15 18:55] jamiebull1 commented on #130
It's a deal!

[2016-09-17 08:17] jamiebull1 commented on #128
@kostovmike Was this resolved when you upgraded to `0.5.41` or do we still need this issue open?

[2016-09-17 08:39] jamiebull1 commented on #99
Resolved in #120

[2016-09-17 08:39] #99 closed

[2016-09-17 08:40] jamiebull1 commented on #87
Resolved in #100

[2016-09-17 08:40] #87 closed

[2016-09-17 08:55] jamiebull1 opened #132 "Create a clean way of finding a specific IDD when creating a new IDF()"
@santoshphilip Cleaning up old issues, I can across this comment of yours and thought it deserved its own issue.

First thoughts are that the user could pass a version number when creating an IDF object. Eppy would then look first in the default install location (platform-specific), and failing that, in the `eppy/resources/iddfiles` folder, and failing that, raise an `Exception`. I think that's th

[2016-09-17 08:58] jamiebull1 commented on #132
I notice there's some overlap with #49 so tagging @daren-thomas in.

[2016-09-17 09:02] jamiebull1 commented on #106
Resolved in `i111_iddindex`

[2016-09-17 09:02] #106 closed

[2016-09-17 09:04] jamiebull1 commented on #105
Resolved in #127

[2016-09-17 09:04] #105 closed

[2016-09-17 09:08] jamiebull1 commented on #85
This is now handled by setting the environment variable `EPPY_INTEGRATION` to `TRUE` and decorating tests that should only be run as integration tests. It would nice to have set it up so that we could call `setup.py integration` and have `setuptools` automatically set the environment variable and run the tests.

[2016-09-17 09:09] jamiebull1 commented on #67
I think we can safely close this. We can always reopen if @andreabotti still has an issue.

[2016-09-17 09:09] #67 closed

[2016-09-17 09:11] jamiebull1 commented on #86
+1 for a `CONTRIBUTE` file

[2016-09-17 09:22] jamiebull1 commented on #86
Here's my suggested text for `CONTRIBUTE.md`

If you are a contributor, consider using the following workflow:

-     an issue is opened
-     the issue is assigned to you
-     you make a branch from `develop` with a meaningful name such as "i57_licence" where #57 is the issue number
-     once the coding is complete and the tests pass, raise a pull request against the `develop` branch and tag th

[2016-09-17 10:09] kostovmike commented on #128
Sadly not, I believe this somehow relates to the old issue with edges in loopdiagram.py

[2016-09-17 10:21] jamiebull1 commented on #128
Ok, let's have a look then.

Can you try replacing the `get_edges` function with this:

	def edges2nodes(edges):
		"""Gather the unique nodes from the edges and return as a sorted list.
		"""
		nodes = itertools.chain(*edges)
		unique_nodes = list(set(nodes))

		return sorted(unique_nodes)

And if that doesn't work, can you provide a simple example idf that reproduces your bug?

[2016-09-17 10:42] kostovmike commented on #128
Great! Just to double check that I understand correctly..
In useful_scripts/loopdiagram.py line 122 has already defined function 'edges2nodes'
In the same file, I can see the problematic 'getedges' function, line 492.
Do I need to replace 'getedges' line 492 with your code?

[2016-09-17 10:44] jamiebull1 commented on #128
No, you just need to replace `edges2nodes` and `import itertools`.

[2016-09-17 10:46] kostovmike commented on #128
I've got it!

[2016-09-17 10:58] kostovmike commented on #128
After I've run loopdiagram in terminal:
kostovmike$ python /Users/kostovmike/anaconda/lib/python3.5/site-packages/eppy/useful_scripts/loopdiagram.py /Users/kostovmike/Desktop/MY-PYTHON/eppy/myidf.idf
Couldn't import dot_parser, loading of dot files will not be possible.
Traceback (most recent call last):
  File "/Users/kostovmike/anaconda/lib/python3.5/site-packages/eppy/useful_scripts/loopdiagram

[2016-09-17 11:31] jamiebull1 commented on #128
I knew there would be a bug in there if I didn't unit test it. Note to self: it's not finished if it doesn't have 100% coverage!

You should be able to just remove the `required=True` arguments from the two `parser.add_argument` lines. Let me know if that works.

[2016-09-17 11:40] kostovmike commented on #128
after removing the last argument 'required=True' and re-run:
kostovmike$ python /Users/kostovmike/anaconda/lib/python3.5/site-packages/eppy/useful_scripts/loopdiagram.py /Users/kostovmike/Desktop/MY-PYTHON/eppy/PlantApplicationsGuide_Example2.idf
Couldn't import dot_parser, loading of dot files will not be possible.
usage: loopdiagram.py [-h] idd file
loopdiagram.py: error: the following arguments

[2016-09-17 11:44] kostovmike commented on #128
after removing required=True from the two parser.add_argument lines now looks like this:
    parser.add_argument('idd', type=str, action='store',
        help='location of idd file = ./somewhere/eplusv8-0-1.idd')
    parser.add_argument('file', type=str, action='store',
        help='location of idf file = ./somewhere/f1.idf')

[2016-09-17 11:57] jamiebull1 commented on #128
Ok, I've managed to get it to give me the same error as your original one now. Progress of a sort.

The argparse lines should read:

    parser.add_argument('file', nargs='?', type=str, action='store',
        help='location of idf file = ./somewhere/f1.idf')
    parser.add_argument('idd', nargs='?', type=str, action='store',
        help='location of idd file = ./somewhere/eplusv8-0-1.idd')

[2016-09-17 12:00] jamiebull1 commented on #128
If you revert `edges_to_nodes` to:

	def edges2nodes(edges):
		"""gather the nodes from the edges"""
		nodes = []
		for e1, e2 in edges:
			nodes.append(e1)
			nodes.append(e2)
		nodedict = dict([(n, None) for n in nodes])
		justnodes = list(nodedict.keys())
		# justnodes.sort()
		justnodes = sorted(justnodes, key=lambda x: str(x[0]))
		return justnodes

Does that fix it?

[2016-09-17 12:08] kostovmike commented on #128
I have a feeling we are almost there:
kostovmike$ python /Users/kostovmike/anaconda/lib/python3.5/site-packages/eppy/useful_scripts/loopdiagram.py /Users/kostovmike/Desktop/MY-PYTHON/eppy/PlantApplicationsGuide_Example2.idf
Couldn't import dot_parser, loading of dot files will not be possible.
Traceback (most recent call last):
  File "/Users/kostovmike/anaconda/lib/python3.5/site-packages/eppy/EP

[2016-09-17 12:13] jamiebull1 commented on #128
We may be close, but I'm afraid I have to leave this hanging for now as I have to go out. I'll have another look when I get a chance, probably tomorrow now.

[2016-09-17 12:20] kostovmike commented on #128
Thanks!

[2016-09-17 12:22] jamiebull1 commented on #128
Just to check, what's the terminal command you're calling? The error looks
like either you're not passing an IDD file, or its not getting picked up by
argparse.

On Sat, 17 Sep 2016, 14:20 Mihail, <notifications@github.com> wrote:

[2016-09-17 12:43] kostovmike commented on #128
In loopdiagram.py .. Do I need to change manually the location of the .idd file that I use?
This is under parser.add_argument ...?

[2016-09-17 15:16] jamiebull1 commented on #128
No, when you call from the command line it should just call `python
loopdiagram.py <the idf> <the idd>`

On Sat, 17 Sep 2016, 14:43 Mihail, <notifications@github.com> wrote:

[2016-09-17 15:22] jamiebull1 commented on #128
The one in `parser.add_argument` is just an example for the heldocumentation if you call `python loop diagram.py -h`

[2016-09-17 15:24] kostovmike commented on #128
I didn't know I need to call the idd :)
Give me a sec

[2016-09-17 15:34] kostovmike commented on #128
@jamiebull1  It worked! 👍
.dot and .png are now generated...
there is still this error "Couldn't import dot_parser, loading of dot files will not be possible." but that's pretty much everything, I can now move on - thank you so much!

kostovmike$ python /Users/kostovmike/anaconda/lib/python3.5/site-packages/eppy/useful_scripts/loopdiagram.py /Users/kostovmike/Desktop/MY-PYTHON/myeppy/PlantApplicat

[2016-09-17 15:40] jamiebull1 commented on #128
That isn't a problem. We don't use the dot_parser at any point. Glad we got
that fixed - and in the process found the bug in the argparser arguments.

@santoshphilip, when I get home I'll raise a PR which fixes the argparser.

On Sat, 17 Sep 2016, 17:34 Mihail, <notifications@github.com> wrote:

[2016-09-17 16:52] santoshphilip commented on #86
Looks good.
Will start to incorporate this.

Sent from my iPad

[2016-09-18 07:55] jamiebull1 commented on #128
Updated PR #130 with fixes

[2016-09-18 07:55] #128 closed

[2016-09-18 07:55] jamiebull1 commented on #130
Updated PR #130

[2016-09-18 07:55] #130 closed

[2016-09-18 11:59] jamiebull1 commented on #62
Closing as implemented in #101

[2016-09-18 11:59] #62 closed

[2016-09-18 12:05] jamiebull1 commented on #123
Closing as implemented/addressed in #129

[2016-09-18 12:05] #123 closed

[2016-09-19 07:52] jamiebull1 commented on #86
Closing. Discussion can continue on PR #133

[2016-09-19 07:52] #86 closed

[2016-09-23 17:03] jamiebull1 opened #134 "Refactoring and extending hvacbuilder.py and loopdiagram.py"
@santoshphilip, as suggested on #130, I've had a look at these two modules. It's been incredibly useful as I never really had a good handle on the `AirLoopHVAC` side of things, beyond using templates.

Anyway, I've done probably far more than is justifiable and broken backwards compatibility in a dozen different ways so please treat the code as a draft. I'm pretty pleased with the week's progress

[2016-09-23 19:54] jamiebull1 commented on #134
Just ironing out some CI kinks over on my fork, then I'll push it here.

[2016-09-24 00:06] jamiebull1 commented on #125
It's also out of date, referring to IDF0, IDF1, etc. That's if I'm looking in the right place: `eppy/docs/source/eppy_api.rst`?

[2016-09-24 15:29] santoshphilip commented on #134
color me impressed even before looking at the code.
This is good stuff.

[2016-09-24 15:57] santoshphilip commented on #134
I'll put down some design level thinking on both these routines. There are seeds of some very powerful functionality hidden in them. If written with some thought, they could develop into some very useful tools.

[2016-09-24 16:06] santoshphilip commented on #125
hmmm ... You may be right :-)
I'll take a look into this a little later.

[2016-09-27 16:39] jamiebull1 opened #135 "Eppy fails to read EnergyPlus 8.5 IDD"
Reported on UnmetHours [here](https://unmethours.com/question/20186/eppy-with-energyplus-85-and-charmap-codec-error/).

The error they're seeing is:

    UnicodeEncodeError: 'charmap' codec can't encode characters in position 26-27: character maps to <undefined>

Edited to remove a note about a similar error on my machine - I'd accidentally changed the encoding on the IDD file, fixed by reinstalli

[2016-09-27 21:02] santoshphilip commented on #135
I am tied up with another project right now.

Does this need a long term fix ?
(I see that we have a fix for the moment)

[2016-09-27 21:04] santoshphilip commented on #135
OK ... Let us wait and see if the problem resolves itself for Justin.

[2016-09-27 21:05] jamiebull1 commented on #135
I'm not sure. I saw the same error when I tried to create an `iddv850.py` for use by `iddcurrent.py` and didn't get to the bottom of it, so there's possibly something underlying worth looking into.

But yes, we at least need to see if Justin's problem is resolved by reinstalling.

[2016-09-29 16:13] jamiebull1 commented on #135
Closing as invalid. Turns out the problem was caused by accidentally trying to read a non-IDF file - [see comment](https://unmethours.com/question/20186/eppy-with-energyplus-85-and-charmap-codec-error/?comment=20250).

[2016-09-29 16:13] #135 closed

[2016-09-30 15:48] santoshphilip commented on #135
I wanted to post a few issues that came up in my mind when this issue was open.
See following two posts:

[2016-09-30 15:49] santoshphilip commented on #135
### Skipping some objects

When the idd parser was written, there were a couple of IDD objects that I could not parse (I suspect the IDD was malformed). My solution was to skip those objects. As long as the IDF did not use those objects, all would be fine.

This needs to be revisited. The newer version of E+ have less (maybe none) IDD objects that need to be skipped. I have not checked for some ti

[2016-09-30 15:49] santoshphilip commented on #135
### Will eppy break with new versions of E+ ?

eppy is dependent on reading and parsing IDD file. As long as the IDD file is read correctly, it should largely work in terms of reading the objects and fields and editing them.

One way to test this is to
- read the idf file with eppy and write it back to disk (without comments)
- now read the idf file with a simple python script and write it disk wi

[2016-09-30 21:21] MatthewSteen opened #136 "enhancement - performance curve visualization"
I recently added the charts from the [COMNET Equipment Performance Curves](http://www.comnet.org/reference-appendices) spreadsheet to the [EnergyPlus CurveFitTool](https://github.com/NREL/EnergyPlus/tree/develop/bin/CurveFitTools) spreadsheet as a quick way to visualize curves generated from manufacturer data, which would be a nice enhancement similar to Jamie's geometry and loopdiagram visualizat

[2016-10-01 16:49] jamiebull1 commented on #135
On the second one, that sounds like a relatively easy thing to tack onto the CI as a separate build. Version 8.6 came out three days ago so it's probably a good time to do that. I'll take a look at your script and see how we can run it on Travis,

[2016-10-01 17:03] santoshphilip commented on #135
The script is at:
- `eppy/useful_scripts/eppyreadtest_file.py`
- `eppy/useful_scripts/eppyreadtest_folder.py`

i had not yet documented it, although I did leave a placeholder at
http://pythonhosted.org/eppy/useful_scripts.html#eppyreadtest-folder-py

The code documentation seems OK.

[2016-10-01 17:10] santoshphilip commented on #136
dang ! I was sure I left a comment here. I must have just hit preview without hitting the comment button

[2016-10-01 17:13] santoshphilip commented on #136
this is worth doing.

@MatthewSteen Can you flesh out what the API would look like. It does not have to be perfect ... just a starting point. (Ignore the implementation - assume we can implement anything)

My first thought was:
`idfcurveobject.plotcurve(format='png')`

[2016-10-01 17:20] santoshphilip commented on #136
This is interesting to think of:
- it would be useful to have visualization object available within eppy
- when using `python notebook` (or `jupyter notebook`) one can interactively look at the visualization and then continue editing.
- the visualization can be:
    - performance curves
    - building envelope or part envelope
    - loop diagram or part loop diagram

Some implications:
- This is g

[2016-10-01 17:56] santoshphilip commented on #134
Some background to how loopdiagram and hvacbuilder came about.

The first diagrams were drawn by hand using paper and pencil and later drafted in CAD. this was simply to try to understand how on earth E+ was structuring the systems ond plants. In fact it was done on a tricky project - a glass hospital building with a double skin in the desert that had a very innovative HVAC system. (all credit to

[2016-10-01 18:29] jmarrec commented on #136
Make an implementation in pure python and have an optional argument in the API to use bokeh or plotly?

Envoyé de mon iPhone

[2016-10-02 14:44] santoshphilip commented on #136
I am not able to find pure python visualization libraries.
the ones that say pure python have dependencies that are not pure python.

[2016-10-02 17:16] santoshphilip commented on #134
@jamiebull1 took a look at the changes in `loopdiagram.py`
Very nicely done.

[2016-10-02 18:53] jmarrec commented on #136
I guess I never had to think about it, I was thinking matplotlib was, now that you're mentioning it I could definitely understand that it isn't.

Envoyé de mon iPhone

[2016-10-02 20:33] santoshphilip commented on #136
I was a little surprised by that too.
thinking about it, I can see the difficulty in developing a pure python visualization package.

We have to strategize so that `eppy` works with and without the visualization in a transparent manner.
@eayoungs did a great job regarding `numpy` in `eppy`.
`eppy` will use `numpy` if it is installed, but will use `tinynumpy` (pure python) if it is not installed.

[2016-10-04 14:43] JasonGlazer opened #137 "Support JSON file formats"
EnergyPlus is moving toward using JSON file formats to replace IDF and IDD. See this [recent pull request](https://github.com/NREL/EnergyPlus/pull/5893).

[2016-10-04 17:16] jamiebull1 opened #138 "Fix typo in the "simplesufrace" function name"
This should obviously be `simplesurface`.

[2016-10-04 18:37] santoshphilip commented on #138
yes. It should be so :-)
fixed it in the develop branch

[2016-10-04 18:37] #138 closed

[2016-10-04 18:43] santoshphilip commented on #137
Thanks for letting me know.
We'll keep on top of this.

I was going to write a function to export the IDD as a JSON file. Someone had made a request for this.
It would have been easy since `eppy` keeps the IDD internally in a JSON structure.

I am going to keep this issue open to remind us that work may be needed.

[2016-10-05 03:54] MatthewSteen commented on #136
@santoshphilip,

Here are some thoughts with the caveat that haven't used eppy much (I typically use the OpenStudio API for work).

`idfcurveobject.plotcurve(format='png')`

I think that's a good start. I would expect the kwarg might change.

    * performance curves
    * building envelope or part envelope
    * loop diagram or part loop diagram

All great ideas, suggest breaking up into separate

[2016-10-15 20:56] santoshphilip opened #139 "pip install broken"
Tried
`pip install eppy`
on my mac.

got an error:

[code]

[2016-10-15 20:57] santoshphilip commented on #139
I need this working.
Will probably fix it by tonight

[2016-10-16 01:36] santoshphilip commented on #139
I had an older version of setuptools
did
`pip install --upgrade setup tools`
everything worked after that

[2016-10-16 01:36] #139 closed

[2016-10-30 17:18] santoshphilip opened #140 "web interface using eppy"
This is more of an announcement than an issue.

I wrote a quick web interface to help me make a presentation on E+

it is at
https://github.com/santoshphilip/weppy

from the README.md

# weppy
toy web interface for eppy

You can view the files but cannot edit it yet.

Shows some of the interconnections between the idf objects

## Installation
clone weppy

git clone https://github.com/santoshphilip

[2016-11-02 19:09] santoshphilip opened #141 "loopdiagram.py failing"
this is in the develop branch.

running from ./eppy/useful_scripts folder I get

    python loopdiagram.py ../resources/iddfiles/Energy+V8_0_0.idd ../resources/idffiles/V8_0_0/5ZoneWaterLoopHeatPump.idf
    Traceback (most recent call last):
      File "loopdiagram.py", line 594, in <module>
        sys.exit(main())
      File "loopdiagram.py", line 579, in main
        data, commdct = readidf.rea

[2016-11-02 19:11] jamiebull1 commented on #141
Feels like something that we've fixed before. I'm just heading out for the night but I'll take a look tomorrow.

[2016-11-02 19:12] santoshphilip commented on #141
thanx.
I need to make a presentation with this next week to a delegation from Japan. Having it working would help

[2016-11-05 22:39] santoshphilip commented on #140
@jamiebull1 take a look at [weppy](https://github.com/santoshphilip/weppy). I think it would of significant help in writing the hvac and loop diagram code we are planning to do.

The code quality is not very good. I pretty much coded it "slash and burn" style :-) But if you use the application. you will see what I am getting at. The README tells you how to start off.

[2016-11-06 06:50] jamiebull1 commented on #140
@santoshphilip I'd been meaning to take a look. Looks very cool. Are you thinking of adding in things like a viewer for the HVAC diagram too?

It reminds me of @cmiller8 's use of codeflower to view the [EnergyPlus sourcecode](https://cmiller8.github.io/EnergyPlus-CodeFlower/). There could be way to use the d3 javascript library to produce some useful visualisations of the links within an IDF too.

[2016-11-06 16:25] santoshphilip commented on #140
I had not seen the codeflower app by @cmiller8 before. Opens up a lot of possibilites. Thanks for pointing it out.

Trying not to be too ambitious here, I have two primary motivations from this
- have a simple E+ viewer or editor I can use on the mac/linux
- use weppy as a way of understanding E+ HVAC, so that we can code the eppy HVAC API with greater clarity.

maybe some else with more skill in

[2016-12-26 10:20] wta12 opened #144 "Some objects have problems in fieldnames:"
[code]
There are some objects which field names have problem :

Which part has problem ? Energy+.idd or eppy module ?
Thank

[2016-12-26 11:08] santoshphilip commented on #144
Something looks really broken.
Which version of E+ are you using when you run into these problems.
I'll take a look.

[2016-12-26 18:42] wta12 commented on #144
the E+ 8.6 used,
Thanks

[2016-12-27 10:00] santoshphilip commented on #144
E+ !IDD_Version 8.6.0 has idfobjects that has fields with no field names.

eppy picks up the field names from the idd file. The  objects you have listed havefields that do not have field names. See the idd snippet below

    GroundHeatTransfer:Slab:XFACE,
             \memo This is only needed when using manual gridding (not recommended)
             \memo XFACE: X Direction cell face coordinates:

[2016-12-27 16:41] santoshphilip commented on #144
@wta12 Can you take a look at what these objects look like in the IDF Editor. Post a screen shot if you can. I am on a Mac without access to a Windows machine. I am trying to get a sense of direction as to how to handle this in eppy

[2016-12-27 19:41] wta12 commented on #144
![image](https://cloud.githubusercontent.com/assets/16380735/21506968/1cd11a7c-cc3a-11e6-9d9c-44cce3d995f7.png)
![Uploading image.png…]()

[2016-12-28 02:57] santoshphilip commented on #144
Thanks.

I'll have to update eppy function in the same way.
This will happen in the next release.

[2016-12-28 06:09] wta12 commented on #144
Thank a lot @santoshphilip : Please ask EP team about this object before because they seem new objects and have completely difference description in idd

[2016-12-28 06:29] santoshphilip commented on #144
Looks like the E+ team got those objects out in a hurry and did not make field names. In any case I'll update eppy so that it will work without field names. I would like eppy to work with all versions of E+.

Yes. I'll check with E+ team about this

[2016-12-28 10:11] santoshphilip commented on #144
@JasonGlazer @jwitte Looks like E+ version 8.6 has some objects with fields that have no field names (in the IDD file). What would be the best place to report this ? Should I open an issue at https://github.com/NREL/EnergyPlus/issues .

I can update the IDD  such that they have field names and any other missing attributes, so they can be incorporated into the next release.  Would it make sense to

[2016-12-28 14:16] JasonGlazer commented on #144
@santoshphilip @mjwitte The GroundHeatTransfer:Slab:ZFACE (as well as the XFACE and YFACE) do not have field names and haven't had them for a while (EnergyPlus 6.0 to 8.6 did not have field names). Given that, I presume this was an intentional decision to leave them out.

[2016-12-28 15:48] mjwitte commented on #144
@santoshphilip  These particular objects were copied almost verbatim from the SlabGHT.idd, and they don't have field names there either.  There are other places in the IDD where the first few groups of fields have field names, but then the remaining fields do not, such as ZoneProperty:UserViewFactors:bySurfaceName and Table:MultiVariableLookup.  So, field names are not required and I'm not sure it

[2016-12-28 16:03] jamiebull1 commented on #144
+1 for defaulting to N1/A1 etc.

[2016-12-28 23:33] santoshphilip commented on #144
Yes, I agree that eppy should use N1/A1 when there are no field names. I'll go ahead and update eppy to do so.

Having said that, some thinking aloud below.

I tested

    ZoneProperty:UserViewFactors:bySurfaceName
    Table:MultiVariableLookup
    Table:MultiVariableLookup

with eppy.

Eppy will automatically generate field names, if the first few names are give and the there is a note saying:

[2016-12-31 02:45] santoshphilip commented on #144
branch `i144_fieldnames` has been updated to have N1/A1 fields for idfobjects that have no field names.

I am on a bad internet connection. I'll merge this into master and make a new release once I get to a better connection.

[2017-02-06 17:03] grilloz89 opened #145 "IDF() - IOError "No such file or directory""
The error is relative to the .idd file which can't be found.

I keep getting this error while calling the IDF() function on the sample .idf file  (I am simply going through the tutorial, same exact steps).
At first I thought of some syntax error on the paths provided to the functions but that does not seem to be the case, I have also tried to give  absolute paths just to be sure.

I am using Anaco

[2017-02-06 17:05] jamiebull1 commented on #145
Can you provide the traceback?

[2017-02-06 17:05] santoshphilip commented on #145
Can you post a printout of the error message and the code that leads to it

[2017-02-06 17:07] grilloz89 commented on #145
`idf1 = IDF(fname1)
Traceback (most recent call last):

  File "<ipython-input-72-22664b307544>", line 1, in <module>
    idf1 = IDF(fname1)

  File "C:\Users\Andrea\Anaconda2\lib\site-packages\eppy\modeleditor.py", line 543, in __init__
    self.read()

  File "C:\Users\Andrea\Anaconda2\lib\site-packages\eppy\modeleditor.py", line 663, in read
    commdct=self.idd_info, block=self.block)

  File

[2017-02-06 17:08] santoshphilip commented on #145
what directory are you running the script from ?

[2017-02-06 17:10] grilloz89 commented on #145
[code]

I am working from a new empy folder on my desktop

[2017-02-06 17:16] santoshphilip commented on #145
the code you are running is designed to run from `./eppy/doc` folder. If you are running it from a different folder, you can give the full path name to the `idd` in your installed Energyplus (eppy will run with any version)

You code may look like this:

    iddfile = "c:/EnergyplusV-8/Energy.idd" # make sure this is right. I am on a Mac and don't have the right pathname

    IDF.setiddname(iddfil

[2017-02-06 17:37] grilloz89 commented on #145
this way I get the following error.

[code]

the path in the error returned from this code is the one I had previously set; which is also the same where python couldn't find the file (in the previously posted code).

[2017-02-06 17:48] santoshphilip commented on #145
Eppy allows you to set the IDD file only once.
Once it is set, you cannot change it.

run the script again (if you are on command line)
I am unfamiliar with Anaconda. I assume, you can restart the script

[2017-02-06 18:52] santoshphilip commented on #145
Hope this is working.
I am signing off for now - will not be online for some time

[2017-02-07 14:45] grilloz89 commented on #145
Restarting Anaconda I was able to reset the path to the .idd file. Everything works fine now. Thanks!!

[2017-02-07 14:45] #145 closed

[2017-02-09 17:13] santoshphilip commented on #144
This has been released as r0.5.43 and uploaded to pypi

[2017-02-09 17:13] #144 closed

[2017-03-02 17:40] grilloz89 opened #146 "assign while looping through fieldnames"
Hi,

I am trying to assign a set of values to all the fields in an object, specifically 24 temperature setpoint values to a Schedule:Day:Hourly object.

I wanted to do this with a for loop but I can't get the assign operation to work.  I know that .fieldnames method return a list of strings but I can't find a way to loop through the actual fields of the object.

I checked the documentation with th

[2017-03-02 18:02] lymereJ commented on #146
Hi -

If I understand your problem correctly the code below might work. It creates a blank idf file, creates a Schedule:Day:Hourly object, names it and loop through its fields and assign a value of 24 to each hourly field. Is that what you are trying to do?

`from eppy import modeleditor
from eppy.modeleditor import IDF

IDDFile = 'C:\EnergyPlusV8-6-0\Energy+.idd'
IDF.setiddname(IDDFile)

idf_file

[2017-03-07 16:31] santoshphilip commented on #146
@grilloz89 @lymereJ ,
   There is a more sneaky undocumented way of doing this.

continuing with @lymereJ code::

    from eppy import modeleditor
    from eppy.modeleditor import IDF

    IDDFile = 'C:\EnergyPlusV8-6-0\Energy+.idd'
    IDF.setiddname(IDDFile)

    idf_filen = open("blank.idf",'w+')
    idf_filen.close
    idf_file = IDF(idf_filen)

    hr_sch = idf_file.newidfobject('SCHEDULE:DAY

[2017-03-07 16:57] lymereJ commented on #146
This is great! Thank you @santoshphilip for sharing!

[2017-03-07 17:56] santoshphilip commented on #146
I realized that the above code is much clearer is you use fieldvalues:

    print hr_sch.fieldvalues

    ['SCHEDULE:DAY:HOURLY', u'', u'', 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

All that was coded with hr_sch.obj will work hr_sch.filednames

    hr_sch.fieldvalues[5] = 111
    print hr_sch.fieldvalues

    ['SCHEDULE:DAY:HOURLY', u'', u'', 1, 2, 111, 4, 5,

[2017-03-10 20:16] yiyuan1840 opened #147 "Issues when importing eppy in Ghpython editor of Grasshopper"
This post is cross-posted [here](https://unmethours.com/question/23188/importing-eppy-in-ghpython/)
I was trying to import eppy in the ghpython editor of Grasshopper, got the error:
[code]
The line 22 in my **modeleditor.py** is

I tried to comment line 22 and line 740 out in **modeleditor.py**, yet got another error:

[code]

[2017-03-10 22:02] santoshphilip commented on #147
let me see if I can get access to Grasshopper and recreate the problem.
I have followed the discussion  [on unmethours](https://unmethours.com/question/23188/importing-eppy-in-ghpython/)

[2017-03-11 00:51] santoshphilip commented on #147
I managed to get it running on Grasshopper.
Two lines have to commented out:

    Line 22 in eppy/modeleditor.py
    Line 23 in eppy/runner/runfunctions.py

Some functionality may not be available.
Can you run it in this way and tell me what happens
(I managed to crash Rhino - but that may be because I don't know that environment)

[2017-03-11 01:22] jamiebull1 commented on #147
Seeing as when I run blame, both those lines come back as mine, I guess I should put some time into figuring out the problem. I don't have IronPython installed so none of the below is tested, but might work. I'll have a look at feasibility of adding IronPython to the CI testing tomorrow.

Anyway, a couple of possible fixes:

Line 22 in eppy/modeleditor.py
```from py._log import warning```
Maybe sw

[2017-03-11 02:52] santoshphilip commented on #147
@jamiebull1 , You should add your name to modeleditor.py in the copyrights (at the top of the file). You have made substantial contributions to that file.

[2017-03-12 18:27] santoshphilip commented on #147
@yiyuan1840, The issue has been fixed in the develop branch.
We don't have access to the grasshopper environment. (not easily).
Can you test it for us to see if it works.

[2017-03-13 14:31] yiyuan1840 commented on #147
Of course. Thanks for the fix guys!
I actually had tested it according to @jamiebull1 's comments, the package and modules were imported successfully, while Rhino was crashed when bringing in a .idf file.
To test the develop branch, do you suggest me to copy the entire eppy folder and replace my current install, or only replace the .py files that @jamiebull1 had modified?

[2017-03-13 16:17] yiyuan1840 commented on #147
Looks like it is working well now! Thanks for the fix guys! @santoshphilip @jamiebull1

[2017-03-13 17:08] santoshphilip commented on #147
@yiyuan1840 , I assume Rhino is not crashing now, when you run eppy

[2017-03-14 22:19] yiyuan1840 commented on #147
@santoshphilip I have seen any issues after the fix as of now. The crashing problem is resolved after the updates.

[2017-03-15 00:38] santoshphilip commented on #147
thanks @yiyuan1840
I'll make a release with this version.

[2017-03-15 22:23] yiyuan1840 commented on #147
Guys, I have switched to anaconda python from my system python, after updating to the develop branch of eppy under anaconda python library, some errors show up again. Any ideas why? This might be irrelevant to eppy, as I had witnessed the fix working well before I made the change to the system...

[code]

[2017-03-16 01:00] jamiebull1 commented on #147
Looks like an `munch` bug. `unicode_escape_decode` definitely takes an argument as you can see if you try and call it without one.

    Traceback (most recent call last):
      File "<input>", line 1, in <module>
    TypeError: unicode_escape_decode() takes at least 1 argument (0 given)

I think the bug is related to the fact that all strings are unicode in IronPython, so the code in `python3_comp

[2017-03-16 03:14] yiyuan1840 commented on #147
Here are the results:
[code]
(line 15 is `codecs.unicode_escape_decode()`)

Then I updated `python3_compat.py` with the code in your comment and do:
[code]

[2017-03-16 08:09] jamiebull1 commented on #147
So is it not picking up that you're running under IronPython? can you add a `print(_IRONPYTHON)` or step through in a debugger and check the value of `_IRONPYTHON` after the line:
`_IRONPYTHON = platform.python_implementation == 'IronPython'`

And also maybe run `platform.python_implementation == 'IronPython'` from a python console.

[2017-03-16 14:29] yiyuan1840 commented on #147
In the Ghpython editor, I did:
[code]
returned `False`

In the Python console, I did:
[code]

[2017-03-16 14:32] jamiebull1 commented on #147
Can you try printing the `platform.python_implementation`?

[2017-03-16 14:34] yiyuan1840 commented on #147
[code]

[2017-03-16 14:39] yiyuan1840 commented on #147
OK, sure.
[code]

[2017-03-16 14:41] jamiebull1 commented on #147
So it's not running with IronPython? I think grasshopper requires
IronPython so that might be your problem.

I'm pretty sure you can't get IronPython under Anaconda either.

El jue., 16 mar. 2017 15:39, Yiyuan Jia <notifications@github.com> escribió:

[2017-03-16 14:50] yiyuan1840 commented on #147
I guess I was using Anaconda Python for the test:

[code]

[2017-03-16 19:58] yiyuan1840 commented on #147
Thanks to @dglassman, the bug is fixed inside munch library.
Basically, the conflicts are `python3_compat.py`. "The issue is that munch includes a shim for compatibility with Python3, but IronPython doesn't understand it." (@dglassman)

The line 14 of the original code was:
`return codecs.unicode_escape_decode(string)[0]`

Is replaced with:
`return unicode(string)`

And that fixed the errors!

[2017-03-16 22:02] santoshphilip commented on #147
reopening until resolution.

[2017-03-16 22:05] jamiebull1 commented on #147
It's resolved. The bug was in munch (see above).  Suggest we change the minimum version of munch in setup.py but that's all.

[2017-03-16 22:18] santoshphilip commented on #147
If I understand this right
- this was already fixed in munch
- we happen to be installing an older version of munch

[2017-03-16 22:22] jamiebull1 commented on #147
If I've understood right, it was fixed today in munch thanks to @yiyuan1840 raising an issue there. So whatever the new version number is should be what we require as minimum in `setup.py`.

[2017-03-16 22:32] santoshphilip commented on #147
@yiyuan1840 , I curious how this got resolved.
Did you open an issue in munch -> https://github.com/Infinidat/munch
(I was not able to locate this issue there.)
or
was it already fixed in the new version of munch (was released a few days back)

Some of this confusion is happening since we are trying to resolve this without having IronPython installed. So we are depending on you for this :-)

[2017-03-16 22:33] #146 closed

[2017-03-17 13:52] yiyuan1840 commented on #147
@santoshphilip @jamiebull1 Sorry for the confusion.
It is not fixed by `munch`, I have to manually change the code in `python3_compat.py` to get it work.

I think this might be what has happened, since I installed the newest version of Anaconda, the munch library has also been upgraded, the issue in `python3_compat.py` (complained by IronPython) raised after the updates.
It was working OK in my pr

[2017-03-17 13:59] jamiebull1 commented on #147
@yiyuan1840 You could just raise a pull request with them as you've already fixed it.

@santoshphilip Perhaps we need to patch munch when we import it until they make the fix?

[2017-03-17 14:18] yiyuan1840 commented on #147
Also, if you want to test IronPython and Grasshopper, there's a 90-day evaluation period for Rhino, and you install Grasshopper(plugin for Rhino) and GhPython(plugin for Grasshopper) freely.

[2017-03-17 14:22] jamiebull1 commented on #147
I'd be interested in any way we could add it to our continuous integration
process, but not at all in testing it manually. I'd rather say it's not
guaranteed to be supported since we don't have an automated way to check
whether changes made in eppy break under IronPython.

El vie., 17 mar. 2017 15:18, Yiyuan Jia <notifications@github.com> escribió:

[2017-03-18 02:24] santoshphilip commented on #147
@yiyuan1840 , I agree with @jamiebull1 about you making a pull request.
In case you have never done this before, here is a link that talks about it
https://yangsu.github.io/pull-request-tutorial/

[2017-03-18 02:29] santoshphilip commented on #147
@jamiebull1 , I am inclined not to make a patch and just wait for a fix to munch. Unless there is a huge demand for it :-)

[2017-03-18 02:51] santoshphilip commented on #147
regarding continuous integration we have the following python implementations:
- IronPython
- Jython
- Pypy
- Stackless Python
- Micropython
(from [Python alternative implementations](https://www.python.org/download/alternatives/)  )

I know that `eppy` is used with `IronPython` and maybe with`Jython`. @eayoungs wrote code to ensure that `numpy` was not a dependency and so `eppy` would likely run

[2017-03-18 15:14] jamiebull1 commented on #147
The main option for CI under Python implementations other than CPython is Jenkins. We'd need to provide our own Jenkins server for that though, rather than having the free AppVeyor and TravisCI services. I can take at look at hosting a CI server on Heroku maybe. I have a few spare dynos.

[2017-03-20 21:28] yiyuan1840 commented on #147
Looks like the bug with munch has been fixed [https://github.com/Infinidat/munch/issues/13].
And I just tested Gh with the new, it works well.
I'm working with Grasshopper and eppy with the hope to develop some re-useable modules(interface for eppy) in creating energy models. I'm not sure how that is in alignment with the eppy development.  If IronPython is no longer supported then this path is de

[2017-03-24 17:51] santoshphilip commented on #147
@jamiebull1 ,
I went to a talk yesterday and came across some interesting ideas.
The talk was "Testing in Layers" by Alex Martelli.
(he is the author of "Python in a Nutshell")

Alex told an interesting story about the release of python 3.6.1rc1.
As they were heading towards the release date, the lead maintainer asked the contributors to really test their contributions before pushing it into githu

[2017-03-24 17:52] santoshphilip commented on #147
@yiyuan1840, Thanks for following up on this.
Can you confirm that eppy works with a clean install from the bugfix branch of munch.

@jamiebull1,
I cloned munch and looked into it.
- the fix is in branch `bugfix/13`
- it has not yet been merged into the master
- They have not yet made a release with it.

I assume that at one point they will release a version with the bugfix. I am watching that rep

[2017-03-24 17:52] santoshphilip commented on #147
@yiyuan1840 , responding further to your comments.

IronPython is supported. I want your help in making that possible. Right now I am not sure everything in eppy runs on IronPython. To ensure this we have to confirm that all the tests for eppy pass on IronPython. I can help you with this if you choose to take it on (sounds like the line form "Mission impossible", but this is much easier)

Let me k

[2017-03-24 17:57] santoshphilip commented on #147
@yiyuan1840, some further thoughts, since you are thinking of working on reusable modules with eppy.

eppy is designed to build other modules. So you are on the right track. If you build some really useful modules, let us talk about integrating it into eppy.

[2017-03-24 20:47] yiyuan1840 commented on #147
@santoshphilip I think the fix has been committed to the master branch of munch. I had tried to uninstall and reinstalled munch (the master branch I suppose) from the command line, it works well in my little grasshopper-eppy test module (which calls eppy to extract zone area and volume from a given IDF file)

Yeah, I could take on the task to test eppy in IronPython. I guess there is a need to dev

[2017-03-24 23:45] santoshphilip commented on #147
@yiyuan1840 ,
In our usual testing we just run
`py.test`
in the command line

It will run all the unit tests - and show us where they pass or fail

Can you open a new issue. Call it "testing for IronPython". Assign it to yourself. We can continue this conversation there.

[2017-03-24 23:50] santoshphilip commented on #147
@yiyuan1840 ,
You are right about the `munch` release. The latest release has the bugfix.
I'll make a new release of `eppy` to reflect this change.

[2017-03-25 00:30] santoshphilip commented on #147
@yiyuan1840 , regarding testing, you can run it as
`py.test`
OR
`python -m pytest`

[2017-03-27 14:17] yiyuan1840 opened #150 "Testing for IronPython"

[2017-03-27 14:33] yiyuan1840 commented on #150
I found another problem when importing `modeleditor.py` in InronPython, this time it complains another python package called "py".
This is the second time I met this kind of issue that the error is caused by eppy but by a python package that was called by eppy. It sort of becomes a nested problem...

When I do `from eppy import modeleditor`
[code]

[2017-03-27 17:36] santoshphilip commented on #150
Can you check which branch you are working with.
use the `develop` branch - it has the updates that @jamiebull1 made.
I think you are in the `master` branch

[2017-03-28 16:55] yiyuan1840 commented on #150
I was using develop branch. Here is when I do `import py`

[code]

[2017-03-28 21:37] santoshphilip commented on #150
@yiyuan1840 ,
that does look like a problem.

eppy may still run - since eppy does not need py (pytest) to function.
But we will not be able to test it if pytest does not run. All our tests are written in pytest :-(

I did a google search and found this:

http://grokbase.com/t/python/ironpython-users/137a6pptxh/pytest-incompatible-unsupported-param-dictionary-type-ironpython-runtime-pythondictiona

[2017-03-29 16:21] santoshphilip commented on #150
@yiyuan1840 ,
with the present set up, it may be difficult to run all the tests in IronPython.

Can you try running through part of the tutorial in IronPython
http://pythonhosted.org/eppy/Main_Tutorial.html

Let me know where things break.

[2017-03-30 14:00] yiyuan1840 commented on #150
@santoshphilip Line 22 in modeleditor.py calls `py`, which causes the issue:
`from py._log import warning`

Shall I comment these out and run the test?

[2017-03-30 14:02] jamiebull1 commented on #150
I thought that was already fixed? Let me take another look if that's what's
causing the problems.

El jue., 30 mar. 2017 16:00, Yiyuan Jia <notifications@github.com> escribió:

[2017-03-30 16:44] santoshphilip commented on #150
The `develop` branch line 22 in modeleditor.py is:

    from six import iteritems

The `master` branch line 22 in modeleditor.py is:

    from py._log import warning

@yiyuan1840 , are you sure you are on the `develop` branch. It is possible that you are still on the `master` branch.

Git can be maddeningly obscure when you use it for the first time. Ask for us help if **git** is giving you troubl

[2017-03-30 17:09] yiyuan1840 commented on #150
@santoshphilip @jamiebull1 My apology guys, it was a false alarm.
I was on the master branch.
I will delete this issue and reopen to avoid future confusions.

Sorry.

[2017-03-30 17:20] santoshphilip commented on #150
Let us stay with this issue -**Testing for IronPython**
no need to close it, since we are still trying to test eppy on IronPython.

I don't think there will be any confusion.

It will be fine if we reopen this issue rather than start a new issue

[2017-03-30 18:06] yiyuan1840 commented on #150
@santoshphilip I'm OK with that.
Am I understanding right that since the py is not compatible with eppy,
we can't use the py.test to test but rather to follow the tutorial?

[2017-03-30 18:10] jamiebull1 commented on #150
It looks like there's a [fork of pytest](https://bitbucket.org/dahlia/pytest-ironpython) for IronPython. You could try installing that and running the pytests as usual.

[2017-03-30 20:52] santoshphilip commented on #150
good point about the fork.
If that works, that is the best. (we need no workarounds)

@yiyuan1840 , you may be doing all this for the first time. So do ask for help if you need it.

[2017-04-03 15:52] yiyuan1840 commented on #150
Guys @santoshphilip @jamiebull1, I might need your help to get this setup.
So far I had tried to download the `pytest-ironpython` package and saved in the site-packages folder of IronPython `C:\Program Files (x86)\IronPython 2.7\Lib\site-packages`
and then I tried to import `pytest-ironpython` in the IronPython editor, it complain about the "-" sign.
how should I proceed from here?

On a different

[2017-04-03 16:07] jamiebull1 commented on #150
I'm not 100% sure but I would expect that you run `pytest-ironpython` in the same way as you run `pytest`. That's also what the [documentation](https://bitbucket.org/dahlia/pytest-ironpython) seems to say.

You should just be able to import it as `pytest`, or run it from the command line using `py.test test_module.py`.

[2017-04-04 11:23] SriramK89 commented on #10
I am a user of eppy, new to Python and wanted this feature badly. As this issue was unsolved, I started to dig in myself. Found an attribute named **objls** for the instance of class EpBunch. This listed out all the attributes of an IDF object in unicode datatype.
Further drilling down, in an attempt to convert the unicode to string datatype, I came up with the below code which gave all the attrib

[2017-04-04 16:57] santoshphilip commented on #150
@yiyuan1840 ,
It makes sense to try things out with the regular python.

Regarding regular python

- I strongly recommend virtualenv (but it is not essential)
- I lets you isolate different enviorments
- take a look at
    - https://virtualenv.pypa.io/en/stable/
    - http://python-guide-pt-br.readthedocs.io/en/latest/dev/virtualenvs/
- also look at
    - https://virtualenvwrapper.readthedocs.io/e

[2017-04-04 17:07] santoshphilip commented on #150
to test in IronPython

- remove the pytest install
- install pytest-ironpython

Then test the same way as you did in regular python by running `py.test`. Actually there are 3 possible ways to run it. Try all to see if it works

- `py.test`
- `pytest`
- `python -m pytest`

[2017-04-05 04:13] santoshphilip commented on #10
@SriramK89 , This issue is so old that I have forgotten what I was trying to do with it.

In any case, if you want to look deeper into the code, take a look at http://pythonhosted.org/eppy/dev_docs/index.html. There is a lot of explanation of how the innards of`eppy` work. Some of the documentation is a little stale, but still useful. There is some interesting python tricks used, with links to sta

[2017-04-05 07:25] SriramK89 commented on #10
@santoshphilip, I am trying to create an API using Python and Eppy. So I would like to have the list of all attributes of an IDF object irrespective of the Energy+.idd being used. I got what I required and just wanted to inform this so that it can be helpful for others :-)

[2017-04-05 07:38] jamiebull1 commented on #10
@SriramK89 there is also `idfobject.fieldnames` which is a slightly easier to remember alias for `idfobject.objls`. Neither are particularly related to this issue though, which looks to me like it about documenting where we have added additional functions to objects, for example the ones which calculate U-values and other thermal properties of `Construction` objects.

As an aside, why do you want

[2017-04-05 08:59] SriramK89 commented on #10
@jamiebull1, Thanks for the much needed guidance.
* I did not notice the fieldnames attribute for listing of an IDF object's attribute.
* Sorry for diverging from the main issue's topic.
* I was trying to dynamically set the value of an IDF object's attribute using the _setattr_ method. I was into a wrong assumption that the field name must be of type str. Tried it out with unicode and it worked.

[2017-04-05 09:06] jamiebull1 commented on #10
@SriramK89 I wouldn't worry too much about hijacking this issue, it's not the most active... Glad you got things working. Does your project have a github page?

[2017-04-05 09:09] SriramK89 commented on #10
@jamiebull1, Not yet. I am planning to create an API wrapper for Energy Plus which must be done after I get to know about Django :-)

[2017-04-05 09:13] jamiebull1 commented on #10
It's perhaps worth taking a look at what @santoshphilip has done in `eppy.json_functions` then. Good luck with Django. It's a fun framework.

[2017-04-05 22:58] santoshphilip commented on #10
@SriramK89 , to add further to the comments. `Eppy` is designed to be used in the following ways:

- one-off scripting. There is something you want to get done just once.
- Scripts that are reusable
- Build an API on top of the `eppy` API.
- use the API to build an interface.
- and other stuff I haven't thought of.

if you are starting off with python, I would suggest that you start thinking about

[2017-04-05 23:07] santoshphilip commented on #10
@SriramK89 , I took a look at your profile on github. Looks like you are an experienced programmer, just new to python. Ignore my comment on unit testing, you are probably doing it anyways

[2017-04-06 03:32] yiyuan1840 commented on #150
Thanks for the notes. I think I was managed to install pytest(for IronPython) after removed pytest.
And here's when I was trying to test eppy:
[code]

[2017-04-06 04:14] santoshphilip commented on #150
quick question - can you get the tests to run in regular python with regular pytest ?

[2017-04-06 05:30] SriramK89 commented on #10
@santoshphilip Thanks a lot for taking so much time to help me out with learning Python.

The only hitch I had with eppy was listing out all the attributes of an IDF object, which has been solved. I hope there will not be any more hurdles with eppy (touch wood). Will get back to you and @jamiebull1 if I need anything.

[2017-04-06 14:06] yiyuan1840 commented on #150
Yes, I did test the standard pytest before removing it. It works fine, only one failure (something related weather file path).
I'm going to setup the virtualenv tool to test both.

[2017-04-08 04:01] MatthewSteen commented on #141
I'm getting a different error running this script on an 8.6.0 example file via a Jupyter 2.7 notebook:

[code]

[code]

[2017-04-10 02:46] yiyuan1840 commented on #150
While I did setup a separate python env for the test, using the `conda ` tool.
Here again are some reported errors:

[code]

[2017-04-11 19:00] santoshphilip commented on #150
I installed IronPython and started working with it.
I did not even get as far as you got.

I am having trouble even installing eppy :-(

[2017-04-15 02:45] katsuya0719 opened #152 "readhtml.py issue error to read result html file for EP v8.7"
Hi!
I have been using eppy to parse the result html file from EnergyPlus and it have been working without any problem.
However, since updating to v8.7, readhtml.py start to issue following error.
[code]
If anyone has idea how html file structure changed and how I can fit to it, I appreciate your advice.
Thank you!

[2017-04-15 15:07] santoshphilip commented on #152
I don't think the html reader is used much.

So you may be the expert and best positioned to fix it :-)
Would you like to try ?

[2017-04-17 03:46] katsuya0719 commented on #152
Could you explain me more detail? Do you mean that you guess error is not caused by readhtml.py? or generally, readhtml.py is not being used in eppy?

Sure. Let me try to fix this when I have time.

[2017-04-19 18:26] santoshphilip commented on #152
I am sorry I was not clear. The error is caused by readhtml.py
Since you are using it, I hope you can have a go at fixing it.

I wrote readhtml.py thinking that I would use it a lot. I discovered that I don't use it much at all. I just assumed that others are not using it either. Of course I am wrong, since you are using it.

[2017-04-19 18:27] santoshphilip commented on #150
@yiyuan1840 I am distracted by some other deadlines, I'll get back to this soon.

[2017-04-19 18:53] jamiebull1 commented on #150
I just finished something so I can take a look again. It would be nice to get this working reliably.

[2017-04-20 16:16] yiyuan1840 commented on #150
@santoshphilip @jamiebull1 It would be great if you guys could help me figure out some of the errors, I will have some time on the weekend to look into it.

[2017-04-20 22:54] jamiebull1 commented on #150
@santoshphilip I can't get `eppy` installed under IronPython either.

[code]

[2017-04-21 17:44] santoshphilip commented on #150
@yiyuan1840 My understanding is that you installed eppy ? How did you do this ? Did you do it within Grasshopper

[2017-04-25 15:15] yiyuan1840 commented on #150
@santoshphilip No, I didn't install eppy in IronPython. I did use grasshopper to import eppy (as a python module), and it was successful. (I would need to set "[Frames Enabled](https://unmethours.com/question/23188/issues-when-importing-eppy-in-ghpython-editor-of-grasshopper/)" in Rhino though).
So it seems your approach is to install eppy as an IronPython module and test it in IronPython env. I h

[2017-04-25 15:37] santoshphilip commented on #150
We have failed to directly install Eppy in iron python. Your approach shows more promise.

Sent from my iPad

[2017-05-03 07:48] SriramK89 opened #154 "Optional fields omission during IDF file read"
Hello team,

While doing IDF file read using Eppy, I am trying to list out all the attributes of an IDF object specified in the file along with the values. While doing so, I am getting all the attributes including the optional ones, which are not necessary. I am going to explain the process I used below, with example code in detail.

*Assumption:* I do not have any knowledge about the number of ID

[2017-05-04 10:10] jamiebull1 commented on #154
That's expected behaviour. However `idfobject.objidd` contains the field metadata so I think you should be able to use that to filter out fields which do not have the `required-field` comment.

[2017-05-16 07:07] SriramK89 commented on #154
Using `fieldnames` attribute, gives all possible attributes of an IDF object. Iterating through them and filtering out optional ones, takes a long time. Is there any way to get the required fields and the optional fields with values as specified in the input file, in less time?

[2017-05-16 08:49] SriramK89 commented on #154
I read the **JSON functions** of EPPy just now from [here](http://pythonhosted.org//eppy/newfunctions.html#using-json-to-update-idf). It will be really appreciable if there is a reverse way of this (i.e.) to read an IDF file and get the JSON.

[2017-05-19 23:39] dahdo1m opened #155 "eppy idf.run() error"
Hi!

I'm experiencing the following error whenever I'm trying to run an EnergyPlus simulation using eppy idf.run():

`
i=[0,1,2,3]

for i in i:

    OA.Economizer_Control_Type = ECT[i]

    idf1.saveas('C:/Users/mdahdolan/Dropbox/Work and Studies/Economizer Study/Python/1A_Small_Office.idf')

    print(OA.Economizer_Control_Type)

    idf1.run()
`

This is how the output looks:

NoEconomizer
-----

[2017-05-19 23:40] dahdo1m commented on #155
Would you please help me using it?
@santoshphilip @jamiebull1

Many Thanks,

[2017-05-20 00:17] santoshphilip commented on #155
is this failing because of an error in the idf file ?

Can you try running `1A_Small_Office.idf` from EPLaunch to see if gives any errors.

Also, the start of your code is not making sense:

    i=[0,1,2,3]
    for i in i:

That may not be working the way you think it should. More likely it should be:

    lst = [0,1,2,3]
    for i in lst:

[2017-05-20 20:33] dahdo1m commented on #155
The file works perfectly using EPLaunch, I don't think the loop part is the problem, I used idf.run() outside the loop and I received the same error.

[2017-05-20 20:41] santoshphilip commented on #155
OK,
Can you post your code and the the idf file somewhere I can get at it.
Maybe at https://gist.github.com

Let me see what I find out. Right now it is not clear to me.
There is a chance we might need @jamiebull1 to look into this. He wrote a lot of this code.

[2017-05-20 20:43] dahdo1m commented on #155
Is it possible to share with me an actual example of a simulation being run using eppy?

[2017-05-20 20:43] dahdo1m commented on #155
Sure

[2017-05-20 20:47] dahdo1m commented on #155
https://gist.github.com/dahdo1m/13db07c02c0bdbdaba51ca8182800732

[2017-05-20 20:54] dahdo1m commented on #155
Is it also possible to share an actual example of a Jupyter Notebook used to simulate an IDF file?

[2017-05-20 22:10] santoshphilip commented on #155
You can save the file in the notebook format and put it on gist. I can download and open it up. I think there are other ways, but don't know about them.

[2017-05-20 22:12] santoshphilip commented on #155
Can you put the 1A_Small_Office.idf on gist.
I'll probably get to this late tonight.

[2017-05-20 22:13] dahdo1m commented on #155
Absolutely

[2017-05-21 15:18] santoshphilip commented on #155
I did a few quick tests:
 - idf.run() works with `EnergyPlus-8-1-0`
- idf.run() throws an error with `EnergyPlus-8-6-0`

So there is a bug in eppy, your code may be fine. I'll start to look into the bug. I hope it is an easy fix.

## Long term note:
- There are no tests that check if eppy works with each new version of EnergyPlus
- It may be wise to set up such tests and run them with each release

[2017-05-21 15:31] jamiebull1 commented on #155
You mentioned this back [here](https://github.com/santoshphilip/eppy/issues/135), @santoshphilip

[2017-05-21 23:51] dahdo1m commented on #155
Good Evening,

I downgraded to versions 8.1.0 and 8.0.0 and I still got the same error.

[2017-05-22 19:30] santoshphilip commented on #155
Not working with 8.1 and 8.0 is unexpected. (I had tested with an example file)
Can you test with an example file just as a sanity check

[2017-05-22 19:32] santoshphilip commented on #155
@jamiebull1 , Is your `oCo Carbon` email broken? I sent you a non-critical email some time back. I got a feeling you did not receive it, or it hit your spam filter. Should I resend to your gmail account

[2017-05-22 19:34] jamiebull1 commented on #155
@santoshphilip it's working as far as I know, but I've not seen anything from you that I recall. Try the gmail though, it's always the most reliable way to get me.

[2017-05-22 23:18] dahdo1m commented on #155
![capture2](https://cloud.githubusercontent.com/assets/28791372/26332238/0541789e-3f1b-11e7-96e5-05254aa9417c.JPG)

[2017-05-23 00:10] santoshphilip commented on #155
I have been able to successfully run that file with both 8.0 and 8.1 in ipython

    IPython 4.0.0 -- An enhanced Interactive Python.
    ?         -> Introduction and overview of IPython's features.
    %quickref -> Quick reference.
    help      -> Python's own help system.
    object?   -> Details about 'object', use 'object??' for extra details.

    In [1]: from eppy import modeleditor

    I

[2017-05-23 00:11] santoshphilip commented on #155
Can you try your code with forward slash in the file names instead of the double-backslash

[2017-05-23 00:13] santoshphilip commented on #155
I just reviewed the outputs and noticed that the runs above are in version 8.5
Ok ... let me dig into this.

[2017-05-23 00:20] santoshphilip commented on #155
Looking into the code I see:

    try:
        VERSION = os.environ["ENERGYPLUS_INSTALL_VERSION"]  # used in CI files
    except KeyError:
        VERSION = '8-5-0'  # TODO: Get this from IDD, IDF/IMF, config file?

    if platform.system() == 'Windows':
        EPLUS_HOME = "C:/EnergyPlusV{VERSION}".format(**locals())
        EPLUS_EXE = os.path.join(EPLUS_HOME, 'energyplus.exe')
    elif platfor

[2017-05-23 00:27] jamiebull1 commented on #155
Yep, I just spotted that too. We have an outstanding issue somewhere about how best to deal with this.

[2017-05-23 00:30] dahdo1m commented on #155
V8.5.0 Worked!

[2017-05-23 00:33] santoshphilip commented on #155
OK ... So we know where the problem is.
May explain why 8.6 failed - although that needs to be confirmed.

[2017-05-23 00:35] jamiebull1 commented on #155
That's part of it, although I had issues trying to get things working with 8.6 as well. From memory it was just with setting up the test IDD though, so perhaps just running things would be fine.

[2017-05-23 00:42] dahdo1m commented on #155
Question...
After I run it using the code, I can't see any output tables in the directory of the example file, am I supposed to add another line to save outputs in a CSV file?

[2017-05-23 00:51] jamiebull1 opened #156 "Finding correct version of EnergyPlus for `idf.run`"
This is an issue for thoughts on design for the `IDF.run()` function, which is currently hard-coded to EnergyPlus version 8.5.

There's a todo note I left for myself:

    VERSION = '8-5-0'  # TODO: Get this from IDD, IDF/IMF, config file?

These seem like the obvious options. I lean towards the IDD, since it's the one that's guaranteed to have a version.

It should probably be set as a variable o

[2017-05-23 01:27] santoshphilip commented on #155
Look in the folder from where you ran your script.

Sent from my iPad

[2017-05-23 02:51] dahdo1m commented on #155
Found it, thanks.

[2017-05-23 02:53] dahdo1m commented on #155
So this is the first time for me using python in my work wit E+, will it be OK if I refer to you whenever I face a dead end?

[2017-05-23 04:07] santoshphilip commented on #155
You have three options for that:
- open an issue here - especially if you think eppy is doing something wrong.
- ask a question on https://unmethours.com
- ask a question on http://groups.yahoo.com/group/EnergyPlus_Support/

There are many knowledgeable python people on [unmethours](https://unmethours.com) . I'll see it there too. Also search to see if your question has been asked before.

[2017-05-23 04:12] santoshphilip commented on #156
I prefer the picking it up from the IDD. It makes logical sense, since you have to set the iddname before you do anything. I may be best positioned to write the code that will find the version from the IDD file. Let me take a stab at it.

[2017-05-23 06:05] santoshphilip commented on #156
Made a branch `i156_eplusversion`
Working thru the tutorial you get:

    # if you have not done so, uncomment the following three lines
    import sys
    # pathnameto_eppy = 'c:/eppy'
    pathnameto_eppy = '../'
    sys.path.append(pathnameto_eppy)
    from eppy import modeleditor
    from eppy.modeleditor import IDF
    iddfile = "../eppy/resources/iddfiles/Energy+V7_2_0.idd"
    fname1 = "../e

[2017-05-23 09:08] jamiebull1 commented on #156
Ok, this is working relatively well now, thanks for digging out that feature. The only problem is that when I run the integration tests with the `8.5.0` IDD, the `IDF` object has already had the `8.0.0.008` from `iddcurrent` attached to it and I can't see why it's persisting between test runs. This was the same issue I ran into when trying to set up a simple way of running integration tests agains

[2017-05-23 11:43] jamiebull1 commented on #156
Ok, got it working. I needed to reload the `modeleditor` module in the first test called in the `test_runner` module.

[2017-05-23 13:36] fsofelipe opened #157 "Problems using run() method"
Hello guys, first of all, I'm new to this project, I just heard about it last week and I'm so excited about the new possibilities this will open to my college project.

So, since I'm new using the Eppy environment I have being facing some difficulties.
The first of all I still cannot use the method run(). I have no idea why, but just importing the function cause me an error.
`Python 3.5.2 (default

[2017-05-23 14:29] jamiebull1 commented on #157
Hi @fsofelipe , glad you see some potential in this.

A couple of things:

First, at the moment we only support running EnergyPlus version 8.5, though hopefully that will be fixed in the next day or so.

Second, you should just be able to call `idf.run()` on your IDF object. `IDF5` doesn't exist any more in the current version. Do we have some out of date documentation somewhere that needs fixing?

[2017-05-23 15:01] fsofelipe commented on #157
Hello, @jamiebull1 ,
Thank you for your fast replay,
I will try the example that you just gave me, the only problem my IDF file is written using 8.4 version and I have no idea how to update it.
And about your question, there still is part of the documentation using IDF5 [http://pythonhosted.org/eppy/newfunctions.html](url), "Running EnergyPlus from Eppy".  Also I may have seeing IDF6 too somewhere

[2017-05-23 16:16] jamiebull1 commented on #157
To update it, install EnergyPlus 8.5 from [here](https://github.com/NREL/EnergyPlus/releases/tag/v8.5.0).

Then on Windows at least, you go to something `C:/EnergyPlusV8-5-0/PreProcess/IDFVersionUpdater` and launch `IDFVersionUpdater.exe` and follow the instructions. I'm not sure, but I would expect there's something similar on linux systems.

Thanks for pointing to the outdated docs. I'll get tha

[2017-05-23 16:29] santoshphilip commented on #157
@fsofelipe , if you wait a day or so. I'll release the new version with the fix that will run any version of E+
@jamiebull1 , I'll update the documentation. It is generated from a python notebook, so directly editing the *.rst file is not the way to go. (I have not yet documented how to go from notebook -> restructured text -> html/sphinx)

[2017-05-23 16:44] jamiebull1 commented on #157
@santoshphilip ok, great. Want me to write the words?

[2017-05-23 18:48] santoshphilip commented on #157
The original narrative is pretty good. I'll update it to match the new code. 

      From: Jamie Bull <notifications@github.com>
 To: santoshphilip/eppy <eppy@noreply.github.com>
Cc: santoshphilip <santosh_philip@yahoo.com>; Mention <mention@noreply.github.com>
 Sent: Tuesday, May 23, 2017 9:44 AM
 Subject: Re: [santoshphilip/eppy] Problems using run() method (#157)

@santoshphilip ok, great. Want

[2017-05-24 00:50] santoshphilip commented on #157
aargh !!! I am in merge hell with the documentation

[2017-05-24 01:42] santoshphilip commented on #157
released r0.5.44 fixing above issues. Available at pypi for pip install

[2017-05-24 01:42] #157 closed

[2017-05-24 01:42] santoshphilip commented on #156
released r0.5.44 fixing above issues. Available at pypi for pip install

[2017-05-24 01:42] #156 closed

[2017-05-24 01:43] santoshphilip commented on #155
released r0.5.44 fixing above issues. Available at pypi for pip install

[2017-05-24 01:43] #155 closed

[2017-05-24 01:46] santoshphilip commented on #150
@yiyuan1840 , I think I'll have to install rhino and grasshopper and work on this. I don't have time for this right now, since I'll be traveling. Will get to this in mid-June. Will need your knowledge of grasshopper once I start on it.

I am leaving this issue open until we fix it.

[2017-05-25 14:23] rodrigokl opened #159 "CSV output files with Eppy"
Hi everyone, firstly, thank you for continuing to work on this project. I'm a student, and in my project I need to manipulate the .csv output files from E+. Does eppy offer some functionality for manipulating output data that is not in HTML format?
Thank you again!

[2017-05-25 14:30] jamiebull1 commented on #159
Hi @rodrigokl Does it have to be the CSV outputs? I usually use `esoreader` to read the `sqlite` output.

[2017-05-25 14:38] rodrigokl commented on #159
Hi @jamiebull1, with the sqlite output I can get the results of the variables requested by the user in the output: variable? Thanks for your prompt response!

[2017-05-25 14:44] jamiebull1 commented on #159
Yes, exactly. You just need to specify the SQL output in your IDF.

    Output:SQLite, Simple;

[2017-05-25 14:45] jamiebull1 commented on #159
Sorry, I'm getting mixed up. As the name implies, it's the `.eso` file it parses, not the SQL. I'm muddling things up with jEPlus.

[2017-05-25 14:49] rodrigokl commented on #159
Thanks a lot, I'll try to use the esoreader for my problem. Have a nice day @jamiebull1!

[2017-05-25 18:08] rodrigokl commented on #159
Hello again, your help saved my day. Sorry, but I'll take this issue to ask one more thing.
Regarding the run() method, in cases with HVAC does it present problems? I ask this because all tests of ExempleFiles and this file with air conditioning in E+ 8.5 presented the following error:

EnergyPlus Starting
EnergyPlus, Version 8.5.0-c87e61b44b, YMD=2017.05.25 15:03
Processing Data Dictionary
Proces

[2017-05-25 18:31] jamiebull1 commented on #159
You need to tell Eppy to expand the objects, same as you would at the command line.

    run(idf, epw, expandobjects=True)

[2017-05-25 18:40] rodrigokl commented on #159
Sure, it makes sense! hahaha. Thanks again and again @jamiebull1

[2017-05-25 18:40] #159 closed

[2017-05-29 10:15] SriramK89 commented on #154
@jamiebull1 I tried to filter out the required fields using the `objidd` field. But it has some contradictions.

For example, in **Energy+.idd** file, for the IDF object _Connector:Splitter_, the field name "Outlet Branch 1 Name" is only specified as required. But in the information returned by objidd field, all 500 are coming as required.

Similarly, _Table:TwoIndependentVariables_, _OutdoorAir:N

[2017-05-29 16:13] santoshphilip commented on #154
@SriramK89 Can you post your code snippets for this.
It will help me to get at it quicker.

[2017-05-30 06:04] SriramK89 commented on #154
This is the code snippet I used to extract the required and not required attributes of every IDF object using EPPy:

[code]

The output of this code can be viewed [here](https://paste.ubuntu.com/24711893/)

[2017-05-30 22:14] santoshphilip commented on #154
I hope I am understanding your question correctly. Responding to your point about `Connector:Splitter`

A clipping from the idd file says the following::

    Connector:Splitter,
      \min-fields 3
           \extensible:1 Just duplicate last field and comments (changing numbering, please)
           \memo Split one air/water stream into N outlet streams.  Branch names cannot be duplicated

[2017-05-31 06:38] SriramK89 commented on #154
@santoshphilip just now noticed...

`Connector:Splitter,
  \min-fields 3
       \extensible:1 Just duplicate last field and comments (changing numbering, please)
       \memo Split one air/water stream into N outlet streams.  Branch names cannot be duplicated
       \memo within a single Splitter list.
   A1, \field Name
        \required-field
   A2, \field Inlet Branch Name
        \required-fie

[2017-05-31 06:48] jamiebull1 commented on #154
@santoshphilip @SriramK89 I'm also travelling but will get back later today so can take a look at implementing the min-fields thing.

[2017-06-12 19:24] rodrigokl opened #160 "UnicodeEncodeError: 'ascii' codec can't encode character u'\xe2' in position 3: ordinal not in range(128) on idf.save()"
Hi guys,
I tried using `idf.save(encoding = 'utf-8')` to avoid this error, but it did not work. Any idea?

Traceback (most recent call last):
  File "fluxos_simula.py", line 42, in <module>
    idf.save(encoding='utf-8')
  File "/usr/local/lib/python2.7/dist-packages/eppy/modeleditor.py", line 920, in save
    s = self.idfstr()
  File "/usr/local/lib/python2.7/dist-packages/eppy/modeleditor.py", l

[2017-06-14 13:23] #160 closed

[2017-06-15 17:22] santoshphilip commented on #160
So how did this get fixed.
I am traveling without my computer and cannot take a look.

Sent from my iPad

[2017-06-15 20:48] rodrigokl commented on #160
Hi @santoshphilip,
Actually, I was trying to manipulate a template generated by Design Builder, and they usually give problem with my codes. To make sure the model was the problem, I tested other files with characters used in the Portuguese vocabulary (Brazil), and all saved without errors when I passed the `encoding=utf-8` parameter.
Thanks for listening!

[2017-06-15 21:20] santoshphilip commented on #160
Ha. That is a coincidence.
I am traveling in Brazil and you have an apparent Portuguese problem.

Santosh.

Sent from my iPad

[2017-06-15 22:01] rodrigokl commented on #160
Haha. Cool! I'm from the south of the country, I hope you're enjoying the trip!

[2017-07-30 04:07] wta12 opened #161 "enchanment psychrometric chart on eppy"
I tried to create psychrometric chart by bokeh or matplotlib with CoolProp Module example. While psychrometric module/libs are pretty popular, the psychrometric chart on python is not such easy to find.
I have done some base template base on matplotlib and bokeh (better interactive capabilities). Would like to know if could have a method to call directly from eppy object (run result) to get export

[2017-08-10 02:54] mostaphaRoudsari opened #162 "Import to grasshopper fails"
@santoshphilip [this is](https://github.com/MahmoudAbdelRahman/GH_CPython) the project that I mentioned. @MahmoudAbdelRahman has been working on it and it has a great potential to get projects like eppy to Grasshopper with no pain. It uses CPython and not IronPython.

[2017-08-10 13:29] MahmoudAbdelRahman commented on #162
Thanks so much  @mostaphaRoudsari  !

[2017-08-10 15:02] santoshphilip commented on #162
@mostaphaRoudsari It was great talking to you yesterday.Triggered a lot of new ideas. Thanks for pointing me to [GH_CPython](https://github.com/MahmoudAbdelRahman/GH_CPython)

@yiyuan1840 this may resolve our problem tring to import eppy into Grasshopper (refered to in issue #147 ) GH_CPython uses CPython instead of IronPython. If you are still working on this can you try it out.

@MahmoudAbdelRah

[2017-08-10 15:03] santoshphilip commented on #147
take a look at issue #162 . There is a possible solution to this

[2017-08-10 15:58] MahmoudAbdelRahman commented on #162
Hi @santoshphilip ,
So far, it can run python 3.x if it is the only version installed, but I'll make a separated Gh_CPython3.x and upload it along.

[2017-08-11 21:18] santoshphilip commented on #161
@wta12 Sorry for the slow response. Simbuild 2017 was taking all my time. Here is my understanding

- You have functions to draw the psychrometric charts.
- it is possible to get the input data for the psychrometric chart from eppy.
- getting it directly from the csv files is simplest - so does not really need eppy.

I am really interested in the code that makes the psychrometric chart. Where did

[2017-08-11 22:08] santoshphilip commented on #162
@ncbrown  can you test by importing eppy into [GH_CPython](https://github.com/MahmoudAbdelRahman/GH_CPython). Post here if any issues arise.

[2017-08-11 23:06] wta12 commented on #161
Hi Santoshphilip,
1. i used example from CoolProp library [link](https://github.com/CoolProp/CoolProp/blob/master/wrappers/Python/CoolProp/Plots/PsychChart.py). However, it was broken at the time i checked so i decided to do it my selves. The key components are psychrometric functions (i use CoolProp lib but any equivalent lib is ok) and  a visualization library (matplotlib or bokeh etc...).  As f

[2017-08-12 15:16] santoshphilip commented on #152
I have fix this issue in branch i152_readhtml.
It was a lot more difficult that I anticipated.
The work is not complete, as the code still needs some cleanup.

I made two changes in the requirements.txt file

    pytest==3.0.2
    lxml>=3.8.0

some tests for eppy.modelmaker were failing with the latest pytest. So I had to use an older version of pytest. I'll open an new issue for this.

[2017-08-12 21:01] MahmoudAbdelRahman commented on #162
Hi @santoshphilip,
I have added a new feature for Gh_CPython, that is, choosing the favorite Python interpreter e.g. Python27, Python34, Python35 ... and so on. by clicking on the blue line at the bottom of any component a new window will popup, where you can specify the preferred python.exe . as shown below:
![image](https://user-images.githubusercontent.com/6969514/29244139-5b7eebd4-7fb1-11e7-9d

[2017-08-12 22:43] santoshphilip commented on #162
thanks @MahmoudAbdelRahman

We are a little slow on testing this, but we are getting there.
If this works out, it is quite a force multiplier.

[2017-08-13 05:21] santoshphilip opened #163 "tests fail with pytest (3.2.1)"
- tests fail with pytest (3.2.1) - the latest pytest
- They used to pass with pytest (3.0.2)

Failure is in
- eppy/tests/test_modeleditor.py:367:
- failure is in:
    - def test_newidfobject_warning():
    - the warning is not raised

[2017-08-13 05:30] santoshphilip commented on #163
- Created branch `i163_testfail` from `develop`
- pushed to remote repository
- test failure occurs on Travis CL, since it uses the latest pytest

[2017-08-13 06:25] santoshphilip commented on #152
@katsuya0719 I have fixed the issue and cleaned up the code.

Can you test it with a couple of files to see if it works. (test branch `i152_readhtml _1`)
Once you test it, I'll merge it into the `develop` branch and it will get into the next release

[2017-08-13 07:35] santoshphilip commented on #152
- tests are passing on python2
- python3 tests are failing

[2017-08-13 08:53] jamiebull1 commented on #163
@santoshphilip I'll pick this up if you like?

[2017-08-13 14:11] santoshphilip commented on #163
Yes please

[2017-08-13 14:40] santoshphilip commented on #163
I have commented out the failing test in `develop`

[2017-08-13 15:12] santoshphilip commented on #85
EPPY_INTEGRATION to TRUE is good for now.
Closing this issue

[2017-08-13 15:12] #85 closed

[2017-08-13 16:40] jamiebull1 commented on #163
Sorry, missed you'd already started a branch

[2017-08-14 01:30] santoshphilip commented on #163
@jamiebull1 's bug fix has been merged into develop

[2017-08-14 01:30] #163 closed

[2017-08-14 01:30] santoshphilip commented on #152
This has been fixed and merged into develop

[2017-08-14 01:30] #152 closed

[2017-08-14 08:11] MahmoudAbdelRahman commented on #162
Thanks so much @santoshphilip,
It will be my great pleasure to contribute to this.
![image](https://user-images.githubusercontent.com/6969514/29263420-f9995782-80d8-11e7-88cf-a5c673f5a1dd.png)

[2017-08-14 17:42] santoshphilip commented on #162
@MahmoudAbdelRahman , You are the man !

It clearly does work.

[2017-08-14 18:36] JasonGlazer opened #165 "Test if Eppy can be frozen to a stand alone application"
Test if eppy can be "frozen" to be a standalone exe using py2exe or cx_Freeze or pyinstaller. It would have to be able to widely distribute utilities based on eppy and not require typical uses to follow the installation process currently required for eppy.

[2017-08-14 20:11] santoshphilip commented on #165
I found
http://docs.python-guide.org/en/latest/shipping/freezing/

- Tested out pyinstaller on the mac.
- made a short script with the following code:

        from eppy import modeleditor
        from eppy.modeleditor import IDF
        iddfile = "/Applications/EnergyPlus-8-7-0/Energy+.idd"
        IDF.setiddname(iddfile)
        fname1 = "/Applications/EnergyPlus-8-7-0/ExampleFiles/4ZoneWithShad

[2017-08-15 10:47] jamiebull1 commented on #165
That deserves a wow! I've had so much trouble trying to do this so I'm really surprised it was so smooth.

[2017-08-15 19:45] ncbrown commented on #162
works for me too. thank you @MahmoudAbdelRahman and @mostaphaRoudsari !

[2017-08-15 20:19] santoshphilip commented on #162
I am going to leave this issue open until I add this to the documentation

[2017-08-15 20:44] santoshphilip commented on #165
Aha ! If @JasonGlazer thinks it is easy, he is likely to go off and build some amazing software for the rest of us :-)

My recollection is that freezing can be tricky at times. Usually problems are triggered by imported packages (like Numpy or imaging packages) and is dependent on the environment you are working in how those packages are installed on your machine.

Once you successfully freeze, th

[2017-08-15 20:44] #165 closed

[2017-08-15 20:46] santoshphilip commented on #147
this has been resolved issue #162
I am going to close it here. #162 is open for the moment

[2017-08-15 20:46] #147 closed

[2017-08-15 20:47] santoshphilip commented on #150
This has been resolved by avoiding IronPython altogether.
See issue #162

[2017-08-15 20:47] #150 closed

[2017-08-16 20:18] JasonGlazer commented on #165
Thanks @santoshphilip, that is great news.

[2017-08-16 23:08] santoshphilip commented on #137
The sample JSON files for this are in
https://github.com/ORNL-BTRIC/IBPSA-BuildingSim-2017-JSON

I have forked this to
https://github.com/santoshphilip/IBPSA-BuildingSim-2017-JSON

Will start start writing code to see how this can work with eppy

[2017-08-16 23:18] santoshphilip commented on #137
Some thoughts on moving to JSON formats (seen from the eppy perspective)

Pros:
- Makes the parsing of JDF(IDF) and JDD(IDD) files trivially simple
- lots of advantages for developers of E+. much easier to extend objects
- easier parsing for E+ tool developers.

Cons:
- JDF file is more verbose, making text editing more cumbersome.
- HVACTemplates are no longer supported.
    - This is a big probl

[2017-08-17 00:42] jamiebull1 commented on #137
No templates? That sounds like a great leap backwards... Do you a link to documentation/announcements on this?

[2017-08-17 15:57] santoshphilip commented on #137
It was from a presentation from Simbuild 2017 on this topic. I'll take a screenshot from the specific slide and post it here later today. (I cannot post the entire talk as it may be under copyright)

[2017-08-22 03:33] adChong opened #166 "HVAC loop attribute error with EnergyPlus V8.7"
Hi,

I just started using eppy and was going through the HVAC_tutorial http://pythonhosted.org/eppy/HVAC_Tutorial.html
However, the following code raised an attribute error and I believe it was because I was using the idd file for Version 8.7. It worked fine with the idd for Version 7.2
`# make the topology of the loop
idf = IDF(StringIO('')) # makes an empty idf file in memory with no file name
l

[2017-08-22 15:49] santoshphilip commented on #166
I'll take a look

[2017-08-24 15:49] santoshphilip commented on #166
work on this issue will be in branch `166_hvac`.

I am going to modify all the tests so that they run on the version 8.7 IDD. This may catch other errors too

[2017-08-24 20:49] santoshphilip commented on #166
renamed branch `166_hvac` to `i166_hvac`

[2017-09-03 22:21] santoshphilip commented on #166
Looks like somethings have changed since E+v7.0
To fix this I'll have to get my head back into E+ and it's HVAC :-(

In other words, This is going to take time.
I'll update the Documentation to indicate that hvacbuilder is broken for versions higher than v7.0

[2017-09-03 22:52] santoshphilip commented on #166
Updated the docs in `develop` branch indicate that hvacbuilder is broken for versions higher than v7.0

[2017-09-08 03:09] santoshphilip opened #167 "function to return the fan power in watts or BHP"
should work something like this:

    vavfan = """Fan:VariableVolume,
      Fan 2,                                  !- Name
      OfficeHVACAvail,                        !- Availability Schedule Name
      0.519,                                  !- Fan Total Efficiency
      164.3824832215,                         !- Pressure Rise {Pa}
      5.6633693184,                           !- Maximum Flow

[2017-09-08 03:39] santoshphilip commented on #167
This is now working as described in previous comment.

Conversions were written quick and dirty - someone more knowledgable than me should peer review them

I am having some trouble with circular reference in the import.
as a workaround the code in eppy/fanpower.py has the following lines:

    try:
        fan_tot_eff = ddtt.Fan_Total_Efficiency # from V+ V8.7.0 onwards
    except Exception as e:

[2017-09-08 20:27] santoshphilip commented on #167
fixed the circular dependency in previous comment

[2017-09-13 08:20] mLazicic opened #168 "MemoryError"
Hi,
i’am trying to make some changes on an IDF file (file size over 40MB) and would like to save it as new IDF file, but i get following error:

[code]

Python script:
[code]

With smaller files it works without problems. Is there any problem with IDF file size and memory?
Python 3.6.1
IDD Version 8.5.0

best regards, milorad

[2017-09-13 23:24] santoshphilip commented on #168
There should be no limitation on file size. So I am not sure why it failed. I need to look into this.

Is there a way to get the large file to me. (does github have some mechanism to do so ?)
Try attaching it to your next comment - it might work.

If you have changed the idd file, I'll need that too.

[2017-09-14 05:19] mLazicic commented on #168
The IDF is on google drive now: https://drive.google.com/drive/folders/0B4YKYm74MyCFT20tRldDQ3ZvMUk?usp=sharing

I didn't make any changes to the IDD.
when I split the file, then I get the new file without errors.

[2017-09-15 20:50] santoshphilip commented on #168
Wow ! I could not open it in the idfeditor, since even that ran out of memory.
This is an impressive file :-)

[2017-09-15 23:44] santoshphilip commented on #168
I renamed one of the objects:
gbXML Wärmedämmung: 015 [m] - aim103098_015
as
gbXML Warmedammung: 015 [m] - aim103098_015

eppy could not write it since it had non latin-1 characters.

Your script ran with no errors.

The script ended with:

    saving new file
    ('\n', '/Users/santosh/Dropbox/coolshadow/eppy/shared_files/test02_OUT.idf', '...saved')
    (eppy)Santoshs-MacBook-Pro:eppy santosh$

[2017-09-16 00:41] santoshphilip commented on #168
tested it with python3 (I also put a timer in it, to see how long it runs)
The script ends with:

    saving new file

     /Users/santosh/Dropbox/coolshadow/eppy/shared_files/test02_OUT.idf ...saved
    111.95428013801575 seconds
    1.8659046689669292 minutes

with python2, the script ends with:

    saving new file
    ('\n', '/Users/santosh/Dropbox/coolshadow/eppy/shared_files/test02_OUT.idf',

[2017-09-16 13:20] mLazicic commented on #168
I don’t thinks that there is any hardware limitations, the machine has i7-5500U CPU @2.40GHz (4 cores) processor and 16 GB RAM (only approximately 50% used by script)

The script runs on Ubuntu on the same machine without problems (with German letter “ä” in Wärmedämmung too), but on the Windows I get the same error without “ä” in material name.
I have tried to change the regional setting on Window

[2017-09-25 00:01] santoshphilip commented on #168
The German letter “ä” is a separate problem. I'll need to fix (or not fix) it as a separate issue.

You can run all the simulations on Ubuntu if you want to.  @jamiebull1  has written an excellent E+ runner for eppy. See <http://pythonhosted.org/eppy/runningeplus.html>

I am not sure why it is giving trouble in windows. I'll wait for someone to really needs it and then take steps to fix. it seems

[2017-09-25 00:04] santoshphilip commented on #168
This issue is not a deal-breaker for anyone yet. It works on Linux and Mac. Gives trouble on Windows.  Will not fix now. Will fix if opened again

[2017-09-25 00:04] #168 closed

[2017-09-25 08:03] mLazicic commented on #168
Hi Philip,
we are making the whole building simulations and have over 800 zones in one model (as you can see in that idf file). The models are built in Revit, than transferred via gbXML into DesignBuilder, than exported as idf and simulated in E+.

Use 01:
We have to input the whole interior gain for all zones – then the eppy and python comes into play. All interior gains for respective zones will

[2017-09-25 20:07] spencerdutton opened #169 "outputs reading html not working"
I followed the tutorial.

http://pythonhosted.org/eppy/Outputs_Tutorial.html

and I could not get it to run. It says..

from eppy.results import readhtml # the eppy module with functions to read the html
ImportError: No module named 'eppy.results'

[2017-09-25 20:12] santoshphilip commented on #169
thanks @spencerdutton
This is the result of a bug in the setup.py script. The results folder was not getting installed when using pip (which uses setup.py). I'll fix this in the develop branch.

[2017-10-01 16:43] santoshphilip opened #170 "Travis Cl and Appveyor CI failing"
I made a branch `i170_develop` from branch `develop` to illustrate the problem.
When branch `i170_develop` is pushed to GitHub, Travis Cl give the following message:
<https://travis-ci.org/santoshphilip/eppy/builds/280992265?utm_source=email&utm_medium=notification> indicating the failure

This used to pass earlier in Travis Cl. I think Travis has made some change in their setup, which is triggeri

[2017-10-01 16:45] jamiebull1 commented on #170
Sure, I'll take a look now

[2017-10-01 17:50] santoshphilip commented on #169
I have made two branches for this from the `develop` branch
1. `i169_readhtml` -> I am exploring how to test the installs before the release of master. Our present tests test check the code, and do not test the install
2. `i169_readhtml1` -> the setup.py is corrected here. If you install with `pip install https://github.com/santoshphilip/eppy/archive/i169_readhtml1.zip`, all will be well

[2017-10-01 17:53] jamiebull1 commented on #170
[349.2](https://travis-ci.org/santoshphilip/eppy/jobs/280992268) looks like an intermittent error that we see sometimes when the EnergyPlus dowenload fails for whatever reason.

The other two are failing because there's some problem installing (or finding) `pydot3k` on the linux build. It's not even trying to find it. Not sure if it's related but it looks like Travis is using Python 3.4 although w

[2017-10-03 14:04] santoshphilip commented on #170
we can live with 349.2 error

Do you see a way around the `pydot3k` issue on linux. Can we open an issue with Travis Cl?
Even if we go that route, I think we are unlikely to get support, since we are using a free service.

[2017-10-03 14:08] jamiebull1 commented on #170
I'm fairly sure if you rerun it, the 349.2 one will go away.

On the `pydot3k`, I'm not 100% sure what the issue is and I don't have linux machine with me to see if I can reproduce it outside of Travis (I'm in the Czech Republic for a couple of weeks). If I get time to set up an AWS instance I'll try it that way but not sure when that will be.

[2017-10-03 15:16] santoshphilip commented on #170
Enjoy the Czech republic. Hope it is a vacation.

I'll putz with this a bit, either on a local VM or on AWS and see what comes up.

[2017-10-03 15:19] jamiebull1 commented on #170
Thanks. Mainly work (new job), with a bit of play when I can fit it in.

Update here if you find anything so if I get time I can follow up.

[2017-10-08 22:59] santoshphilip commented on #170
I did some quick tests on a local virtual machine with Ubuntu. Some observations:
- it had an old version of setuptools
- pydot3k gave an error while attempting to install
- once setuptools was upgraded, pydot3k installed

[2017-10-08 23:57] jamiebull1 commented on #170
Cool, good find. I'll update the CI script tomorrow and see if that fixes it.

[2017-11-06 16:38] jamiebull1 commented on #170
This is fixed. The issue was where the python version was being downgraded to 3.4 by Travis, while we were only installing pydot3k for versions >=  3.5. I've changed that to >= 3.0 and it's fixed the issue.

We're still having the issue with Appveyor though. I've got it fixed on Python 2.7 by using Miniconda to handle the libxml dependencies, but getting issues with Miniconda3 for Python 3.5. I've

[2017-11-06 18:41] jamiebull1 commented on #170
Ok, I'm happy this is fixed now and ready to merge into `develop`.

I've also added EnergyPlus 8.8 and Python 3.6 to the CI matrices as an added bonus.

[2017-11-17 17:57] santoshphilip commented on #169
comment on unmethours says that this still does not work.

https://unmethours.com/question/27980/python-eppy-readhtml-table/?answer=27987#post-id-27987

I will follow up here

[2017-11-17 18:38] giorgiolupato commented on #169
I just realised I did not uninstall the 'eppy standard version' before installing 'i169_readhtml1.zip'.
So: I unistalled eppy with
 `pip uninstall eppy` and then installed it again with pip install `pip install https://github.com/santoshphilip/eppy/archive/i169_readhtml1.zip`.
I think it works fine now! Thank you!

[2017-11-18 01:12] santoshphilip commented on #169
got it.
Once make a new release in the master branch, this problem will go away.

[2017-11-24 13:25] #170 closed

[2017-11-24 15:04] santoshphilip commented on #169
`i169_readhtml1 `has been merged into develop

[2017-11-27 01:23] santoshphilip commented on #169
merged into master and released on pypi as version r0.5.45

[2017-11-27 01:23] #169 closed

[2017-11-27 01:25] santoshphilip opened #172 "documentation not uploading to http://pythonhosted.org/eppy/"
The API used to upload has been deprecated. Take steps to use new API and upload

[2017-12-05 19:44] orcunkoraliseri opened #173 "geomeppy does not accept idf file"
i was trying to modify idf file with eppy but the code does not accept.

`# import eppy to run energyplus
import geomeppy
from geomeppy import IDF
from eppy.results import readhtml
import random as rd
import pprint

#import idd / idf / epw file to run simulation
IDF.setiddname("C:/EnergyPlusV8-8-0/Energy+.idd")
#idfname =  "C:/Users/orcun/Desktop/eppy/energy_model_for_eppy/EnergyPlus/energy_model_

[2017-12-05 21:23] santoshphilip commented on #173
Can you check what version of eppy are you using ?

My guess is that geomeppy was designed with an older version of eppy.
The author of geomeppy is @jamiebull1 (he is also an eppy developer)

He may be able to get at the issue quicker.
Or he can tell me what needs to be done in eppy.

I'll wait for his response

[2017-12-06 10:04] orcunkoraliseri commented on #173
I am currently using latest verison of eppy. Probably i will upload older version and try it. Thank you for your answer.

[2017-12-06 10:24] jamiebull1 commented on #173
@orcunkoraliseri Actually, it seems like I need to update some more things to match with the current version of Eppy. I'll try and take a look in the next few days.

[2017-12-06 12:00] jamiebull1 commented on #173
@orcunkoraliseri try reinstalling from pip now. The problem should be fixed as of geomeppy v0.2.19

[2017-12-06 12:28] orcunkoraliseri commented on #173
Thank you so much returning that fast. It worked well.

[2017-12-06 14:37] #173 closed

[2017-12-10 18:42] santoshphilip commented on #172
The documentation is now hosted at http://eppy.readthedocs.io/en/latest/

[2017-12-10 18:42] #172 closed

[2017-12-11 15:02] santoshphilip commented on #162
Documentation has been added to show how to run eppy in grasshopper (in the Installation section of the documentation)

This update is now in the develop branch. It will come out in the next release

[2017-12-11 15:02] #162 closed

[2017-12-11 17:27] santoshphilip commented on #167
This has been merged into develop

Documented in ./docs/source/newfunctions.rst

[2017-12-11 17:27] #167 closed

[2017-12-19 12:15] orcunkoraliseri opened #174 "Geomeppy and wwr function problem"
While setting WWR with geomeppy, i faced the problem of 'Called Process Error'. Can you propose me a solution to close subprocess of wwr ?

When i checked the idf file with set_wwr() function, it changed the structure of idf.

[code]

[2017-12-19 12:51] jamiebull1 commented on #174
@orcunkoraliseri Can you post the full traceback please?

[2017-12-19 12:59] orcunkoraliseri commented on #174
CalledProcessError                        Traceback (most recent call last)
<ipython-input-1-ad86d9bbcde8> in <module>()
     78 #idf.set_default_constructions()
     79 #idf.printidf()
---> 80 idf.run()
     81
     82 '''

C:\Users\orcun\Anaconda2\lib\site-packages\eppy\modeleditor.pyc in run(self, **kwargs)
   1002         self.saveas('in.idf')
   1003         # run EnergyPlus
-> 1004         r

[2017-12-19 13:03] jamiebull1 commented on #174
Thanks. It looks like EnergyPlus is having trouble running the IDF. Is there a `.err` file produced?

Also, in future can you raise issues with Geomeppy on the [geomeppy github](https://github.com/jamiebull1/geomeppy)? I'm sure @santoshphilip doesn't need to be bothered by them.

[2017-12-19 13:04] orcunkoraliseri commented on #174
You are right. Sorry about it.

[2017-12-19 13:06] jamiebull1 commented on #174
No problem. I can handle this one here.

[2017-12-19 13:36] orcunkoraliseri commented on #174
This is the produced .err file.

Program Version,EnergyPlus, Version 8.8.0-7c3bbe4830, YMD=2017.12.19 16:34,IDD_Version 8.8.0
   ************* Beginning Zone Sizing Calculations
   ** Warning ** ProcessScheduleInput: Schedule:Constant="ALWAYS ON DISCRETE", Blank Schedule Type Limits Name input -- will not be validated.
   ** Warning ** ProcessScheduleInput: Schedule:Constant="ALWAYS OFF DISCRETE",

[2017-12-19 13:45] jamiebull1 commented on #174
[code]

Were these materials in your IDF before you set the WWR?

[2017-12-19 14:00] orcunkoraliseri commented on #174
Actually, this is the part i did not understand because when i print window material and window construction, i am facing with this output. On the contrary, the .err file extract 'ECREF-2 COLORED 6MM' that material as a window material.

     Construction,
        Exterior Window,          !- Name
        Clear 3mm,                !- Outside Layer
        Air 13mm,                 !- Layer 2

[2017-12-19 14:16] jamiebull1 commented on #174
Do you have any windows in the model before running `IDF.set_wwr()`? If so could you post an example, and also of the ones created by Geomeppy.

[2017-12-19 14:37] orcunkoraliseri commented on #174
I am currently new for coding and energy plus because of that i used grasshopper/honeybee to produce idf file but when i checked the idf file that honeybee gave it to me there is 'Clear 3mm' material as a glazing. Also i worked eppy with this idf file.

Besides, i searched the material of 'ECREF-2 COLORED 6MM' as a glazing material, i found that in energyplus window materials of idf file. But i di

[2017-12-19 14:45] jamiebull1 commented on #174
My guess is that grasshopper is creating windows using `ECREF-2 COLORED 6MM` but I can't tell this for sure unless you post the examples.

The other thing I would like to know from the examples I asked for is what type of window object is in the IDF. Geomeppy currently assumes `FENESTRATIONSURFACE:DETAILED` which might not be the case.

[2017-12-20 16:08] liqi08thu commented on #62
Hi Jamie, I recently started to use Eppy and it is really awesome! I noticed some issues in running E+ from Eppy and thought it might be helpful to mention them in the documentation.
1. I've installed E+ in a different directory rather than the default and then encountered an error running E+ from Eppy. It turns out that the E+ directory is hard-coded in run_functions.py. It might be helpful to me

[2017-12-20 19:00] jamiebull1 commented on #62
@liqi08thu

1. We did do some work towards this at some point. I've just had another look and will raise an issue as I have a solution in place.

2. I'll leave that up to @santoshphilip to decide how much spoon-feeding is appropriate. I'd say quite a lot, since lots of people come to `eppy` with little to no experience of Python.

[2017-12-20 19:06] jamiebull1 opened #175 "Find install directory from IDD for IDF.run()"
This is in response to a comment on the closed issue https://github.com/santoshphilip/eppy/issues/62#issuecomment-353105746

[2017-12-20 22:52] jamiebull1 opened #177 "Speed up continuous integration"
This issue discusses ways we can speed up continuous integration by being a bit selective about what we include. This seems like it would particularly useful for @santoshphilip while developing the `py90dot1` project, as well as for any other contributors. Continuous integration is great, but when it's slow it becomes a lot less useful as immediate feedback.

My suggestions:

1. Remove the OSX bui

[2017-12-20 22:53] jamiebull1 commented on #174
@orcunkoraliseri did you manage to resolve your issue?

[2017-12-20 23:02] jamiebull1 commented on #154
@santoshphilip I forgot I said I'd take a look at this. It's now back on my radar.

[2017-12-20 23:38] jamiebull1 commented on #141
@MatthewSteen I'm forever fixing this one in a hurry just to get something working so I'll make an effort to get it merged.

[2017-12-21 17:10] orcunkoraliseri commented on #174
Thank you for asking. Sadly, i did not. As you said i removed all the fenestration surfaces before applying wwr and keeping the same glazing material but still it did not work maybe because of grasshopper/honeybee tool. Therefore, i am currently working on to create an idf file from zero with geomeppy and eppy. I think it is better that way.

In addition to that, i decided to start learn structure

[2017-12-21 17:35] jamiebull1 commented on #174
I'm interested in what's going wrong at the geomeppy side. Would you be able to share the IDF that you were passing in as `C:/Users/orcun/Desktop/eppy/E_eppy01/OpenStudio/E_eppy01/ModelToIdf/in.idf`?

As for IDF structure, that's a big question. I'd recommend looking at the example files in your EnergyPlus install directory. There's a lot of good stuff in there that you should be able to use to gu

[2017-12-22 07:40] orcunkoraliseri commented on #174
As you said i changed the idf file with energyplus directory. there is another problem has occured. I updated the geomeppy to 0.3.9 but `from geomeppy import IDF` does not work.

[2017-12-22 07:53] orcunkoraliseri commented on #174
By the way thank you for close support. I am sharing with you the files that i extracted from grashopper/honeybee.  The second one contains glazing and first one does not. File names are different from the one you mentioned but they are the same idf file.

[E_eppy03_noWWR.zip](https://github.com/santoshphilip/eppy/files/1581787/E_eppy03_noWWR.zip)
[E_eppy03_WWR.zip](https://github.com/santoshphili

[2017-12-23 10:21] jamiebull1 commented on #174
@orcunkoraliseri This should be resolved as of geomeppy `0.3.12`. Thanks for your help.

[2018-01-13 20:14] #174 closed

[2018-01-14 09:56] katsuya0719 opened #180 "Error when I try to import modeleditor"
I wrote script to extract data from idf file importing IDF class from modeleditor in version 0.5.44 and working without any problem. However, updating the version from 0.5.44 to 0.5.46, I get following error.
Basically, I get the error when I try to import modeleditor module. Does anyone know why?
[code]

[2018-01-14 16:41] jamiebull1 commented on #180
@katsuya0719  I can't reproduce this on a fresh virtualenv Python 3.5 on mac. At least not by just running `from eppy import modeleditor`.

Can you give us a bit more to go on? What exactly are you trying to do when this error occurs? And can you provide a code sample that reproduces the error.

[2018-01-15 11:19] katsuya0719 commented on #180
@jamiebull1 Thank you for your reply. Please find the code I tried to run below.
I also added my environment.

**The code I tried to run**
[code]

**Environment**
[code]

[2018-01-15 17:20] jamiebull1 commented on #180
I still can't reproduce this. Everything imports fine for me in a new `venv`. The only difference in the installed packages is that `decorator==4.2.0` is not available, so had to use `4.2.1`.

Can you try setting up a new virtualenv and see if the problem persists?

[2018-01-15 17:57] jamiebull1 commented on #180
By the way, looking at what you're doing with this script, these functions might be useful. It's something I'm looking to add to geomeppy to copy geometry and constructions between IDFs.

    def extract_constructions(source_idf, fname=None):
        group = 'Surface Construction Elements'
        objects = extract_group(source_idf, group)

    def extract_geometry(source_idf, fname=None):

[2018-01-16 15:55] orcunkoraliseri opened #181 "Multiprocessing or multithreading of idf file?"
While trying to execute batch process with multithreading by using idf, there is this problem occured. Main object of processing was sensitivity analysis of parameters for the defined output. Could you offer a solution for multiprocessing or multithreading?

To explain better the issue, we divide the process with two thread and while first thread executing the idf, second thread did not start.

Tr

[2018-01-16 16:11] jamiebull1 commented on #181
Have a look at the `runIDFs` function in `eppy.runner.run_functions`. It uses the `multiprocessing` module.

[2018-01-17 04:04] katsuya0719 commented on #180
@jamiebull1 When I update `decrator==4.2.0` to 4.2.1, it worked!!
Thank you!

[2018-01-17 08:09] jamiebull1 commented on #180
Great!

[2018-01-17 08:09] #180 closed

[2018-01-17 21:18] jamiebull1 opened #182 "Compatibility with the new JSON format for EnergyPlus"
I'm opening this issue as it seems like at some point we're going to need to consider Eppy's implementation of JDF/epJSON, the new json fomat for IDFs.

http://web.eecs.utk.edu/~new/presentations/2017_IBPSA_JSON.pdf

On the surface, this looks like it will enable us to massively simplify Eppy, since json is very similar to Python dicts. It should enable us eventually to remove a lot, if not all of

[2018-01-18 09:34] jamiebull1 commented on #181
@orcunkoraliseri did this help at all?

[2018-01-18 20:07] orcunkoraliseri commented on #181
This is the first time i am using multirunner and there an issue about job list? Are we dividing each idf object and parameters separately?

Is it possible to share a small example?

[2018-01-18 20:22] jamiebull1 commented on #181
Sure. This is based on the example in the eppy test suite.

        runs = []

        for fname in [list of IDF files]:
            runs.append([modeleditor.IDF(open(fname, 'r'), '/path/to/weatherfile.epw'),
                         {'output_directory': 'results_%i' % i,
                          'ep_version': '8-8-0'}])
        num_CPUs = 2
        runIDFs(runs, num_CPUs)

[2018-01-19 11:33] #177 closed

[2018-01-19 11:42] santoshphilip commented on #177
@jamiebull1 , this is a good testing design. I have merged into `develop` and `master`

[2018-01-19 12:01] santoshphilip commented on #62
@jamiebull1 , I can update the documentation when this feature is added.

[2018-01-19 12:09] jamiebull1 commented on #182
Ah, I see we already have a thread for this. #137

[2018-01-19 12:09] #182 closed

[2018-01-19 15:58] JasonGlazer commented on #137
I think at this point the expectation is that the existing preprocessors would be used but then the IDF would be translated to JDF. Not a perfect solution but it still works if IDF is being used and the input format.  Here is the slide that @santoshphilip was referencing:

![capture](https://user-images.githubusercontent.com/2582150/35159085-c2bf1ace-fcfe-11e7-8b32-3b6f76272b20.PNG)

[2018-01-19 16:06] JasonGlazer commented on #137
Seems like a few option are possible.
- If JDF to IDF and IDF to JDF tools are made available and if so just put ExpandObjects into the chain.
- Add JSON processing to ExpandObjects (see [here](https://github.com/jacobwilliams/json-fortran))
- Rewrite ExpandObjects using Python with Eppy
- Contribute to [this Python effort ](https://github.com/Myoldmopar/py-expandobjects)to replace ExpandObjects.

[2018-01-20 09:57] orcunkoraliseri commented on #181
Thank you for your quick answer.

[2018-01-22 15:16] santoshphilip commented on #175
This has been updated by @jamiebull1 and merged into develop

[2018-01-22 15:16] #175 closed

[2018-01-22 15:25] santoshphilip opened #183 "Docstring does not reflect new arg run_functions.run()"
`run_functions.run()` has a new arg `iddname`. It needs to be added to the docstring with a description

[2018-01-22 17:43] jamiebull1 commented on #183
Looking at this I have no idea why I didn't use the existing `idd` parameter. I've made a couple of very small changes, so now we don't need the new parameter, and so don't need to change the documentation.

[2018-01-22 21:55] santoshphilip commented on #183
I'll merge once you give me the OK

[2018-01-22 21:57] santoshphilip commented on #183
Ignore my previous comment. I just saw your pull request

[2018-01-22 22:00] santoshphilip commented on #183
merged

[2018-01-22 22:00] #183 closed

[2018-01-28 14:38] orcunkoraliseri commented on #181
Hi again,

I'm working on Windows and trying to invoke the `runIDFs` with the below code. Nonetheless I am facing an error that states 'RuntimeError: An attempt has been made to start a new process before the current process has finished its bootstrapping phase.' Is this related with the library or Windows (i.e. multithreading issue on Windows).

Thanks in advance.

[code]

[2018-01-28 14:43] jamiebull1 commented on #181
You need to have an `if __name__ == '__main__': block when using multiprocessing on windows.

https://stackoverflow.com/a/18205006/1706564

[2018-01-28 15:01] orcunkoraliseri commented on #181
Thanks for the quick response again here's another thing where should I write this block? In the beginning of my script?

[2018-01-28 15:10] jamiebull1 commented on #181
Usually it goes at the bottom, with your script moved into a `main()` method.

[2018-02-13 16:52] orcunkoraliseri opened #185 "Memory Error with 'runIDFs'"
Hi, i am currently working with eppy to apply batch simulations of EnergyPlus. The reason that i am choosing the batch simulation technique, to use sensitivity analysis for the physical building parameters impacts on annual energy demand, such as WWR, orientation of the unit. Actually, these are the methods that belong to 'geomeppy' but currently i am doing simulations with runIDFs method so i tho

[2018-02-13 17:30] praftery opened #186 "Remove unused objects in an idf"
I am currently working with an idf for a parametric simulation study. That idf contains all of the schedules needed (for convenient reference) and EMS objects needed across that whole parameter space. Depending on the parameter values for any particular case, the resulting idf can include numerous schedules and EMS objects that may not be used in that model. This throws out (trivial) warnings when

[2018-02-13 17:40] jamiebull1 commented on #185
Try using a generator?

[2018-02-13 17:48] jamiebull1 commented on #186
This would be pretty easy as a two-pass operation. EnergyPlus can output a report of unused objects [Output:Diagnostics](https://bigladdersoftware.com/epx/docs/8-5/input-output-reference/group-simulation-parameters.html#inputs-11-018), so we could add this to the IDF, set the `DisplayUnusedSchedules` and `DisplayUnusedObjects` keys, use the resulting output to remove the unused objects, then retur

[2018-02-13 17:51] #181 closed

[2018-02-13 20:48] orcunkoraliseri commented on #185
Thank you for your quick answer. That is worked.

I want to ask another question but i am not sure do i have to open an another issue?

Can we arrange EnergyPlus outputs?
For instance, a simulation produce several type of files but just '.html' is enough to read out objective, such as heating demand.

[2018-02-13 22:47] jamiebull1 commented on #185
Yes, there are a lot of results produced. I'd suggest using the `output_directory` keyword arg, copying out the file or files you want to keep (the error file is often handy), then deleting the output directory.

[2018-02-14 21:36] orcunkoraliseri commented on #185
That is right. I am doing it, thank you. You could close that issue.

[2018-02-14 21:40] #185 closed

[2018-02-14 21:41] jamiebull1 commented on #186
One for the useful tools that use eppy repository, @santoshphilip ?

[2018-02-15 07:26] santoshphilip commented on #186
for some reason I am not getting email notifications. I just saw this issue.

@jamiebull1 Your strategy is unexpected. Did not think of that.
My initial thought was to search thru the input file and find them using the reference object list relationship. From the IDD file:

    !  \reference       Name of a list of names to which this object belongs
    !                     used with "\type objec

[2018-02-16 14:39] santoshphilip commented on #186
my spam filter was catching all GitHub notifications. Sorry about the slow response :-(

So there are two ways to remove/identify unused objects:

1. @jamiebull1 suggestion of using `DisplayUnusedSchedules` and `DisplayUnusedObjects` keys in `Output:Diagnostics`
2. searching for `reference`  and `object-list` as defined in IDD

I'll take a stab at 2. searching for `reference`  and `object-list`

[2018-02-17 05:01] santoshphilip commented on #186
This code will find the orphaned idfobjects that have the `\reference` tag
(does not work for mechanical components like PIPE:ADIABATIC)

    for idfkey in idf.idfobjects.keys():
        for idfobject in idf.idfobjects[idfkey]:
            for fieldname in idfobject.fieldnames:
                ref = idfobject.getfieldidd_item(fieldname, u'reference')
                if ref:
                    pri

[2018-03-20 21:45] santoshphilip opened #187 "open IDF by automatically setting IDD if needed"
easyopen(filename) function that can open and IDF by automatically setting the IDD based on the verison number in IDF file.

[2018-03-22 02:38] santoshphilip commented on #187
this is complete and merged into develop.

You call it in the following manner::

    from eppy.easyopen import easyopen

    fname = './eppy/resources/idffiles/V8_8/smallfile.idf'
    idf = easyopen(fname)

The Doc String:

    def easyopen(fname):
        """automatically set idd and open idf file. Uses version from idf to set correct idd
        It will work under the following circumstances:

[2018-03-22 02:38] #187 closed

[2018-03-25 00:28] santoshphilip opened #188 "even though some fields are number, eppy keeps them as strings"
This happens only spordically

The IDD file declares the "type" of a field. From the IDD file::

    !  \\type            Type of data for the field -
    !                     integer
    !                     real
    !                     alpha       (arbitrary string),
    !                     choice      (alpha with specific list of choices, see
    !                                 \\key)

[2018-03-25 00:35] santoshphilip commented on #188
This can be resolved using the following logic from the IDD file::

    ! Object Description
    ! ------------------
    ! To define an object (a record with data), develop a key word that is unique
    ! Each data item to the object can be A (Alphanumeric string) or N (numeric)
    ! Number each A and N.  This will show how the data items will be put into the
    ! arrays that are passed to the

[2018-03-25 22:33] santoshphilip commented on #188
All tests pass. This has been merged into branch `develop`

[2018-03-25 22:33] #188 closed

[2018-03-30 14:09] santoshphilip opened #189 "let easyopen explicitly set the IDD file"
**Problem:** idf=easyopen(fname) does not work if E+ is not installed

**Solution:** pass idd file as an arg to easyopen. So it becomes idf=easyopen(fname, idd=None) OR idf=easyopen(fname, iddname). When E+ is not installed idf=easyopen(fname, iddname) will work

[2018-03-30 15:52] orcunkoraliseri opened #190 "Is it possible define r-value of construction as a decision variable?"
In eppy library, as i checked r-value method is available both materials and constructions. I am currently
working on a project to how sensitive the r-values of building materials in terms of energy demand of unit.
Related with it, I also tried to arrange r-values for envelope constructions. But, I could not.

Is it possible? And if it is possible how can i do it?

[2018-03-30 17:34] santoshphilip commented on #190
What do you mean by  arrange, "I also tried to arrange r-values for envelope constructions". Did you mean sort it ? Do you have a code snippet you can post ?

[2018-03-31 18:54] orcunkoraliseri commented on #190
Actually, I don't have any code snippet, I just think if it is possible?

[2018-04-01 16:17] santoshphilip commented on #190
@orcunkoraliseri , sorry about the delayed response. For some reason I am not getting notification on this post. So I just saw it.

I am not understanding what you are trying to do. Can you explain in a different way, or give an example

[2018-04-02 06:28] orcunkoraliseri commented on #190
Sorry about mistelling. I am currently working on a project for early design architectural energy modelling. Related with this, I prepared a sensitivity analysis framework to analyse decision variables (building height, orientation, u-value of glazing, etc.) influence on total energy demand. I also have intention to analyse for building envelope for r-value of materials (brick, concrete, etc.) in

[2018-04-02 15:05] santoshphilip commented on #190
OK ... I got what you are trying to do.
I ran into a similar problem while writing code for [py90dot1](https://github.com/pyenergyplus/py90dot1). The model needed  constructions that had a particular r-value as defined in the ASHRAE tables. One way of doing this was to use a `Material:NoMass` in the construction. See an example of this [here](https://github.com/pyenergyplus/py90dot1/blob/master/py

[2018-04-02 16:54] adChong opened #191 "WINDOWMATERIAL:SIMPLEGLAZINGSYSTEM object not returning expected values"
Hi,

I was trying to add a WindowMaterial:SimpleGlazingSystem object to an EPlus file and wasn't able to do it because it the object seems to be missing the fields. Just a guess that the field "U-Factor" might be giving problems in the code but I might be wrong.
[code]
gives
`WINDOWMATERIAL:SIMPLEGLAZINGSYSTEM,;`

when according to the idd it should be
[code]

If I am doing something wrong, would

[2018-04-02 17:39] santoshphilip commented on #191
try this:

    w = idf.newidfobject('WindowMaterial:SimpleGlazingSystem'.upper(), Name="gumby", UFactor=0.2)
    print w
    w.Solar_Heat_Gain_Coefficient = 0.3
    print w

    # also try:
    w1 = idf.newidfobject('WindowMaterial:SimpleGlazingSystem'.upper(), Visible_Transmittance=0.9)
    print w1

I looked at the IDD file. The fields do not have default values, so eppy does not know what to pu

[2018-04-03 00:41] adChong commented on #191
Thank you for the tip! That solved my problem. I was trying to change the "UFactor" using the key "U-Factor"

[2018-04-03 00:41] #191 closed

[2018-04-03 04:28] santoshphilip commented on #191
yup.  You cannot use U-Factor because python thinks the 'dash' is a negative sign. There are other fields the have these "illegal" characters. IdfObject.filenames will tell you what eppy is using for the field

[2018-04-04 00:10] santoshphilip commented on #190
Did my explanation make any sense ?
Can we close this issue ?

[2018-04-04 09:30] adChong opened #192 "Daylighting:Controls object not running"
Hi,

I am trying to add daylight sensors to an EnergyPlus example file (5ZoneAirCooled.idf) using eppy. This is carried out using EnergyPlus version 8.6

[code]
What eppy wrote to the idf was as follows. Notice that default values were written for reference points 2 to 10. However, this caused errors when i tried to run the idf file because reference points 2 to 10 were not specified using the Day

[2018-04-04 12:08] santoshphilip commented on #192
no easy way of not getting the default values in the idfobject. The only way is to remove it after you have it. Here is an easy way to remove it.

    day = idf.newidfobject('DAYLIGHTING:CONTROLS', Name='SPACE1-1_daylCtrl',
        Zone_Name='SPACE1-1', Daylighting_Reference_Point_1_Name='SPACE1-1_DaylRefPt1')
    print day
    print day.obj
    # the data for day is held in day.obj. Everything el

[2018-04-04 13:52] adChong commented on #192
I think the default value is not needed because as how I understand it as well, EnergyPlus will use a default value when it runs.
I think for the object, the error is due to the presence of default values even though reference points Names are not provided.
Not to sure how it might affect other objects but what about removing fields that exists after fields that are tagged with "\begin-extensible"

[2018-04-04 15:27] adChong commented on #192
Thinking back, Perhaps what you proposed might work (i.e., not have default values)

[2018-04-04 16:27] #190 closed

[2018-04-05 16:33] santoshphilip commented on #192
@adChong , I am going to code this functionality in a branch. Imy need your help in doing some testing.

[2018-04-05 17:17] santoshphilip commented on #192
I made a new branch `i192_nodefault `

You can install it using
`pip uninstall eppy`
`pip install https://github.com/santoshphilip/eppy/archive/i192_nodefault.zip`

or you can down download the branch from
`https://github.com/santoshphilip/eppy/tree/i192_nodefault`
(not sure if this is actually possible)

or clone eppy and switch to the branch `i192_nodefault `

try this code:

    day = idf.newid

[2018-04-07 03:03] adChong commented on #192
Yes it works. I tested the following code they all ran with no errors. Any plans to merge this branch to the main branch?

[code]

[code]

[code]

[2018-04-07 09:41] santoshphilip commented on #192
I need to update documentation on this.
Then I'll merge into the development branch.

By end of the month into the master branch and into pypi.

[2018-04-16 23:54] oroojlooy opened #193 "IOError with calling ex_inits in ubuntu"
When in Ubuntu, I call `from eppy import ex_inits`, I am getting:

[code]

[2018-04-17 15:40] santoshphilip commented on #193
I have not used ex_inits in a while.
I'll take a look

[2018-04-17 15:42] oroojlooy commented on #193
Thanks,

[2018-04-17 15:47] santoshphilip commented on #193
OK ... I recall what is going on.

The documentation is built using `python notebook`
In `python notebook` I use ex_inits as a way of displaying an image.
this works only if you are in the `docs` folder, since the path name for the image is hard coded.

You don't need to use `ex_inits` at all.  Comment out that line and everything should continue working.
OR
if you really want that line to run, th

[2018-04-17 15:55] oroojlooy commented on #193
well, the problem is that I could not find `docs` folder, and I thought maybe there is a way to find the file `idf.png` and move it in the current folder.
Anyway, thanks for letting me know and I appreciate if you could let me know where I can find the `png` file.

[2018-04-17 16:29] santoshphilip commented on #193
use this link to download the master branch of the repository
https://github.com/santoshphilip/eppy/archive/master.zip

When you unzip it, you will find the docs folder inside it.

[2018-04-17 18:32] oroojlooy commented on #193
Thank you very much.

[2018-04-17 19:27] santoshphilip commented on #193
@oroojlooy , please close this issue whenever you think it is resolved.

[2018-04-17 19:29] #193 closed

[2018-04-19 22:56] oroojlooy opened #194 "eppy outputs in ubuntu"
I use this example from eppy documentation to run a simulation:

`iddfile = "/usr/local/EnergyPlus-8-9-0/Energy+.idd"
IDF.setiddname(iddfile)

idfname = "/usr/local/EnergyPlus-8-9-0/ExampleFiles/BasicsFiles/Exercise1A.idf"
epwfile = "/usr/local/EnergyPlus-8-9-0/WeatherData/USA_IL_Chicago-OHare.Intl.AP.725300_TMY3.epw"
idf = IDF(idfname, epwfile)
idf.run()`

The document says that I should get an o

[2018-04-19 23:27] oroojlooy commented on #194
Can you please let me know how did you add them?
I am using
[code]
and still get same error.

[2018-04-19 23:28] santoshphilip commented on #194
Your method for adding idfobjects in eppy is incorrect. Use the function

     idf.newidfobject()

It is documented at http://eppy.readthedocs.io/en/latest/newfunctions.html#making-an-idf-object-with-named-arguments. (the heading is incorrect in the documentation - saying renaming)

The code to add html table will look like this:

    idf.newidfobject('Output:Table:SummaryReports'.upper(), Report_

[2018-04-19 23:31] santoshphilip commented on #194
quickly read thru the tutorial to get a feel for how eppy works
http://eppy.readthedocs.io/en/latest/Main_Tutorial.html

Then look thru new functions:
http://eppy.readthedocs.io/en/latest/newfunctions.html

It is simpler that it seems :-)

[2018-04-19 23:36] oroojlooy commented on #194
Thanks for letting me know how to set the new objects. I skimmed those links and those examples were fine. But I am stocked in the new stuff. BTW, with

[code]
I am still getting same error.

[2018-04-20 02:05] zhenglaishen opened #195 "No module named 'munch'"
I am trying to follow the tutorial of Eppy and when I run 'from eppy import modeleditor' in the Jupyter Notebook, it ended in ModuleNotFoundError: No module named 'munch'.

Does anyone know how to fix this problem? I tried different computers and this problem is still there.

Thank you,

[2018-04-20 02:09] santoshphilip commented on #194
You are doing that wrong:

    idf.newidfobject('OUTPUTCONTROL:TABLE:STYLE'.upper(), Column_Separator='HTML')
    idf.newidfobject('OUTPUTCONTROL:TABLE:STYLE'.upper(), Unit_Conversion='None')
    # creates two new table objects. You want only one

It should be

    idf.newidfobject('OUTPUTCONTROL:TABLE:STYLE'.upper(), Column_Separator='HTML', Unit_Conversion='None')

OR

    tableobject = idf.newi

[2018-04-20 02:29] santoshphilip commented on #195
I need more information to understand what is going on

how did you install `eppy`
did you do `pip install eppy`

OR

did you do `pip install -r requirements.txt` ?

Are you in a virtualenv ?

[2018-04-20 02:29] oroojlooy commented on #194
That works  now, Thanks,
I'll check the function and back yo you latter. Returning all information through html is time consuming. I'll look for a quicker implementation to grab few variable value.

[2018-04-20 02:31] zhenglaishen commented on #195
I used pip install eppy.

[2018-04-20 02:41] santoshphilip commented on #195
very mystifying.
I did the same thing and everything works on my end.

somehow `munch` is not getting installed on you machine.
Let me try a few things and get back to you on this.

Are you using a virtualenv ?
Do you know what that is ?

[2018-04-20 02:47] santoshphilip commented on #195
Can you do `pip install munch`
and try again ?

[2018-04-20 02:48] zhenglaishen commented on #195
Thanks for your kindly help. I am trying. I do not know what is virtualenv. Could you please explain how I can fix it?

I just installed the ANACONDA Python 3.6 version to substitute my previous ANACONDA Python 2.7.

[2018-04-20 07:52] zhenglaishen commented on #195
It already works right now and that problem was fixed. Thanks for your great help!
Right now, I have another question in setting the idd file directory.  I put the download eppy file and the ipython code in the same folder and I guess this is what required.

However, when I run this script "IDF.setiddname(iddfile)", it ends in "No such file or directory: '../eppy/resources/iddfiles/Energy+V7_2_0.i

[2018-04-20 13:24] santoshphilip commented on #195
use the IDD of your installed EnergyPlus. It may be at `c:/EnergyplusV8-9-0/E+.idd` or something like that.

[2018-04-20 14:28] eloneill opened #196 "Readvars does not produce hourly CSV outputs"
When running a simulation and setting readvars=True, ReadVarsESO does not seem to process the eplusout.eso file into a CSV.

[2018-04-20 14:42] santoshphilip commented on #196
I am unfamiliar with eplusout.eso being converted into a csv file.
Can do you do this with EpLaunch ?
Can you point me to the documentation on this.

@ncbrown , are you familiar with this ?

I might have to experiment a bit to figure this our.

[2018-04-20 14:50] eloneill commented on #196
When you run EPLaunch, this is done automatically. To be honest, I'm not even sure I see readvars=True doing anything in run_functions.py, but I'm far from an expert on the coding side of things. Could the problem be that that argument isn't running RunVarsESO at all?

https://bigladdersoftware.com/epx/docs/8-0/input-output-reference/page-090.html

[2018-04-20 15:14] zhenglaishen commented on #195
Yes, it works. Thanks!!!

[2018-04-20 15:14] #195 closed

[2018-04-20 15:41] santoshphilip commented on #196
- idf.run() is a python wrapper around the EnergyPlus command line interface
- so in principle it should be able to do anything that the command line does. (and cannot do something that the command line cannot do)

In any case, I am a little curious now and will look into this.

[2018-04-20 19:44] santoshphilip commented on #196
I found two issues related to this
- https://github.com/NREL/EnergyPlus/issues/5058
- https://github.com/NREL/EnergyPlus/issues/5898

I tested it with `idf.run(readvars=True)` with `EnergyPlus-8-9-0` and `ReadVarsESO` is running on that version
From the above issues, it seems like the earlier versions (need to check which versions) are not running `ReadVarsESO`

I'll update the documentation to re

[2018-04-20 22:14] santoshphilip commented on #196
Ok I tested `idf.run(readvars=True)` with

- EnergyPlus-8-3-0 - DOES NOT make CSV
- EnergyPlus-8-4-0 - makes CSV
- EnergyPlus-8-5-0 - makes CSV
- EnergyPlus-8-6-0 - makes CSV
- EnergyPlus-8-7-0 - makes CSV
- EnergyPlus-8-8-0 - makes CSV
- EnergyPlus-8-9-0 - makes CSV

[2018-04-23 15:32] santoshphilip commented on #196
I'll update the documentation in eppy to reflect this and then close this issue

[2018-04-23 21:15] santoshphilip commented on #192
- These changes have been tested and documented.
- They have been merged into the develop branch

[2018-04-23 21:15] #192 closed

[2018-04-23 21:25] santoshphilip commented on #196
documentation has been updated in the `develop` branch

[2018-04-23 21:25] #196 closed

[2018-04-25 00:49] santoshphilip commented on #107
this has been fixed in  and closed in issue #188

[2018-04-25 00:49] #107 closed

[2018-04-27 00:13] ExeterUniversity opened #197 "readvars=True doesn't convert to CSV file"
**Dear all,
I hope you don't mind but I've typed this message out a few times because of a poor internet collection have lost my progress, so I shall keep this message concise.
I am using Eplus for a research project and the simulations are running well from eppy.**
**Here is my code:**
_idf.run(expandobjects=True, output_directory='C:\Final Report\Python', readvars=True, output_suffix="L")_
**Unf

[2018-04-27 09:55] ExeterUniversity commented on #197
**Thanks
Extra details:
EnergyPlusV8-9-0
Eppy-0.5.46
Python 3.6**

**Output directory after run**
![image](https://user-images.githubusercontent.com/38771338/39356954-44f5112c-4a09-11e8-92d2-782f241123e7.png)

[2018-04-27 18:29] santoshphilip commented on #197
- working on this in branch `i197_readvars`
- try to set up unit tests for this

[2018-04-27 19:15] ExeterUniversity commented on #197
![image](https://user-images.githubusercontent.com/38771338/39380715-784f3f7c-4a57-11e8-93df-d2eaf05444a3.png)
**I've just screenshot-ed the run. I'm clear that this is central to the problem, but I cannot interpret it or solve it.**

[2018-04-27 19:26] jamiebull1 commented on #197
Looks like an unquoted path for the input file somewhere

[2018-04-29 05:18] katsuya0719 opened #198 "unknown field U-Factor for WindowMaterial:SimpleGlazingSystem"
I am having error when I try to extract information from `U-Factor` attribute as below.  I tried "U_Factor", but also got same error. Does anyone know how I can specify `U-Factor`?

  File "C:/Users/obakatsu/Documents/Python_scripts/EnergyPlus/PostprocessEP/EPengine/parseidf.py", line 90, in <module>
    json = parsed.readidf(objdict)
  File "C:/Users/obakatsu/Documents/Python_scripts/EnergyPlus/P

[2018-04-29 06:12] santoshphilip commented on #198
try `UFactor`

You can get all the filenames by `simplglazing.fieldnames` where `simpleglazing` is the `WindowMaterial:SimpleGlazingSystem`idfobject

[2018-04-30 04:00] santoshphilip commented on #198
@katsuya0719 , any luck with `UFactor`.
Let me know if it is working or not working.

I'll close the issue if it is working.

[2018-05-02 18:42] hydrangea009 opened #199 "Error in modifying RunPeriod"
Hi~ I have a question as the following. Thank you very much.
1.	I tried to change the values of elements in the object named RunPeriod.
For example, I changed the element named Start Month, when I printed the whole object, it didn’t show the change, but when I printed only this element, it changed. I saved this file as another copy file and opened this copy, it didn’t show the changes(shown in the

[2018-05-02 21:27] santoshphilip opened #200 "easyopen.easyopen() needs an argument for the weather file"
for  idf.run() to work, it needs the weather file.
right now easyopen() does not pass the weather file.

modify so that it is `easyopen(fname, idd=None, epw=None)`

[2018-05-02 22:01] santoshphilip commented on #200
- added epw arg to easyopen()
- unit tested it
- updated documentation in `newfunctions.rst`

[2018-05-02 22:01] #200 closed

[2018-05-02 22:15] hydrangea009 commented on #199
# manage E+ file
import sys
# pathnameto_eppy = 'c:/eppy'
pathnameto_eppy = '../'
sys.path.append(pathnameto_eppy)
#
from eppy import modeleditor
from eppy.modeleditor import IDF

iddfile = "../eppy/resources/iddfiles/Energy+V8_5_0.idd"# for revision

try:
    IDF.setiddname(iddfile)
except modeleditor.IDDAlreadySetError as e:# ?
    pass

fname1 = "../eppy/resources/idffiles/V8_5/tr1.idf"# for re

[2018-05-02 22:16] hydrangea009 commented on #199
Do I need to provide more？ Thank you very much.

[2018-05-02 22:54] santoshphilip commented on #199
I made some changes to your code (I have marked it with `# *****CHANGE*****`)

    pathnameto_eppy = '../'
    sys.path.append(pathnameto_eppy)

    from eppy import modeleditor
    from eppy.modeleditor import IDF

    iddfile = "../eppy/resources/iddfiles/Energy+V8_5_0.idd"# for revision

    IDF.setiddname(iddfile)

    fname1 = "../eppy/resources/idffiles/V8_5/tr1.idf"# for revision
    idf1 =

[2018-05-03 14:33] hydrangea009 commented on #199
It worked. Thank you very much.

[2018-05-03 14:34] #199 closed

[2018-05-16 03:35] hydrangea009 opened #201 "import eppy error"
Hi~ I have a question as the following. Thank you very much.
I cannot import eppy shown in the following picture.
![q1](https://user-images.githubusercontent.com/38921798/40095178-37a0b02c-5890-11e8-8bb8-5ed4c4c5fd19.JPG)

[2018-05-16 18:12] liqi08thu commented on #62
Total GitHub newbie here and just saw your response. Thank you so much, Jamie!

[2018-05-16 19:18] santoshphilip commented on #201
How did you install eppy
- did you do `pip install eppy`
- OR
- did you clone or download the repository
- something else ?

[2018-05-16 19:27] hydrangea009 commented on #201
I used pip instal eppy.

[2018-05-16 19:28] ZixiaoShi commented on #201
Are you using Anaconda? You need to install eppy inside your anaconda environment.

________________________________
From: hydrangea009 <notifications@github.com>
Sent: Wednesday, May 16, 2018 3:27:32 PM
To: santoshphilip/eppy
Cc: Subscribed
Subject: Re: [santoshphilip/eppy] import eppy error (#201)

I used pip instal eppy.

—
You are receiving this because you are subscribed to this thread.
Reply

[2018-05-16 19:33] hydrangea009 commented on #201
Yes, I did inside  anaconda environment. But it didnot work.

[2018-05-16 19:46] hydrangea009 commented on #201
Is there any other method that I can use to install eppy and import it in ipython?

[2018-05-16 19:56] hydrangea009 commented on #201
I used Anaconda 3.6 and python 3.6.5.

[2018-05-16 20:24] hydrangea009 opened #202 "ModuleNotFoundError"
Hi~ I have a question as the following. Thank you very much.
I have used this code succesfully before, but now it shows error. as shown in the piture.
![q2](https://user-images.githubusercontent.com/38921798/40141975-05547058-591d-11e8-84ad-d71581381ab2.jpg)

[2018-05-16 21:58] santoshphilip commented on #202
Try

    pathnameto_eppy = "C:/Users/shens/Desktop/eppy-master/"

see it it works

[2018-05-16 22:54] santoshphilip commented on #201
@hydrangea009 , Is this issue the same as  same #201 ?
I have posted a response in #201, that may get your code to work.

Although if you do `pip install eppy` you should be able to successfully `import eppy` without using `sys.path.append( ... )`. Meaning, you should be able to import eppy from any folder.

I am unfamiliar with the anaconda environment, so I can't advice you on that. @ZixiaoShi c

[2018-05-16 23:13] hydrangea009 commented on #201
issue #201 was a problem in another computer which had succesfully run the code. For this issue, I just try to import eppy by ipython but it did not work. I will check whether I installed pip properly. Thank you.

[2018-05-16 23:53] santoshphilip commented on #202
this is clearly an eppy installation issue
If eppy had been installed, `munch` have been installed.

see @ZixiaoShi 's comment in #201 on installing eppy with Anaconda

Another alternative you can try is
- `pip install -r requirements.txt`. munch is in requrements.txt and it will get installed

[2018-05-22 23:04] santoshphilip commented on #202
Any luck on this.
Can I close this issue ?

[2018-05-22 23:04] santoshphilip commented on #201
Did you get it to work ?
Can I close this issue

[2018-05-23 13:40] santoshphilip commented on #201
In line 10 of your code, I see  a double slash `espy-master//eppy`. That typo may be causing a problem. Replace it with a single slash and see if it works.

[2018-05-23 14:17] hydrangea009 commented on #201
I changed that. I can run the previous steps but I cannot run the last step(shown in the following picture).
![q6](https://user-images.githubusercontent.com/38921798/40430167-20c1b61e-5e6a-11e8-98c7-d5093523c5a9.JPG)

[2018-05-24 19:10] hydrangea009 commented on #201
I change the working directory and move it to directory of eppy and it worked.  Thank you very much.

[2018-05-24 19:40] santoshphilip commented on #201
I still think something is wrong here. It should work from any directory.

- you have given the full path name to the iddfile.
- `iddfile = c:/Users/user/De .....Energy+V8_5_0.idf`
- the error message has the partial pathname `../eppy/res.......Energy+V8_5_0.idf`
- The error message should give the full pathname `c:/Users/users .......Energy+V8_5_0.idf`

I don't know why that is happening and I ca

[2018-05-24 19:40] #201 closed

[2018-05-24 19:40] #202 closed

[2018-05-29 17:32] adChong opened #203 "Unable to run idf with HVACTemplate"
Hi,

I am trying to run an EnergyPlus idf file that contains the HVACTemplate objects in EnergyPlus. The file runs when using EP-launch but when I tried running it with eppy with `idf.run()`, I got the following error message.

`FATAL:Program Terminates: The ExpandObjects program has not been run or is not in your EnergyPlus.exe folder.`

Therefore, I was wondering if anyone has encountered simila

[2018-05-29 17:35] lymereJ commented on #203
Are you using the `expandobjects` parameter?
http://eppy.readthedocs.io/en/latest/runningeplus.html

[2018-05-30 01:44] adChong commented on #203
Works now! Thank you

[2018-05-30 01:44] #203 closed

[2018-06-05 13:49] oroojlooy opened #204 "returned non-zero exit status 1 Error"
Hi,

I can run the following model in command line using the energyplus, but I get `returned non-zero exit status 1` error in Eppy.

`./energyplus-8.9.0 -i PreProcess/IDFVersionUpdater/V8-9-0-Energy+.idd  -w USA_IL_Chicago-OHare.725300_TMY2.epw ExampleFiles/AirCooledElectricChiller.idf`
which returns me:

[code]

In Eppy I set

[code]
and `idf.run()` returns:
[code]

[2018-06-05 14:14] jamiebull1 commented on #204
@oroojlooy does EnergyPlus create a `.err` file?

[2018-06-05 14:16] oroojlooy commented on #204
yes,
these are the list of the output when I directly run energyplus:
[code]
which the error file is empty.

[2018-06-05 14:17] jamiebull1 commented on #204
Ok. So what's in the `.err` file? That should give us a clue

[2018-06-05 14:23] oroojlooy commented on #204
That is empty. These are the results when I use `./energyplus-8.9.0 -i PreProcess/IDFVersionUpdater/V8-9-0-Energy+.idd -w USA_IL_Chicago-OHare.725300_TMY2.epw ExampleFiles/AirCooledElectricChiller.idf`, which runs fine and as a result the `.err` file is empty.
When I call eppy, the same `sqlite.err` file is generated and it is also empty.

[2018-06-05 14:28] jamiebull1 commented on #204
Sorry, I meant the `eplusout.err` file

[2018-06-05 14:50] jamiebull1 commented on #204
Ok. Can you check if all these paths/files actually exist on your system then? Usually if EnergyPlus doesn't get as far as producing an `eplusout.err` file it's because of some path error.

'/usr/local/EnergyPlus-8-9-0/energyplus'
'/home/afshin/Eplus'
'/usr/local/EnergyPlus-8-9-0/USA_IL_Chicago-OHare.725300_TMY2.epw'
'/home/afshin/Eplus/in.idf'

[2018-06-05 14:55] oroojlooy commented on #204
They exists.
I think I found the problem.
When I commented
[code]
it works fine. It is strange, since it gives error for this model file. For example if I select
`"/usr/local/EnergyPlus-8-9-0/ExampleFiles/BasicsFiles/Exercise1A.idf"`, it runs fine.

[2018-06-05 15:00] jamiebull1 commented on #204
That is strange. I'll see if I can reproduce the error this evening, and look into it further.

[2018-06-05 15:05] oroojlooy commented on #204
Thanks

[2018-06-19 20:15] hydrangea009 opened #205 "Problem with idf.run()"
Hi~ I have a question as the following. Thank you very much.
When I use idf.run(), it showed that "The system could not find the specified file".
I used the newest version 8.9.0 for E+.
![q7](https://user-images.githubusercontent.com/38921798/41621878-8e1f9450-73d3-11e8-8617-459df8875265.png)

[2018-06-20 15:06] jamiebull1 commented on #205
Have you added the files in the locations you're passing? It looks like you're looking in the `eppy.resources` directory rather than the EnergyPlus install directory.

[2018-06-20 15:09] hydrangea009 commented on #205
Yes, I put the file in the directory that I typed in.

[2018-06-20 15:24] jamiebull1 commented on #205
Can you run using those files from the command line, or by using EP-launch?

[2018-06-20 15:33] hydrangea009 commented on #205
I can run the file by using EP-launch.

[2018-06-20 15:48] jamiebull1 commented on #205
How about from the command line?

`C:/EnergyPlusV8-9-0/energyplus.exe --weather C:/Python36/Lib/site-packages/eppy/resources/weatherfiles/USA_CA_Los.Angeles.Intl.AP.722950_TMY3.epw C:/Python36/Lib/site-packages/eppy/resources/idffiles/V8_9/tr1.idf`

[2018-07-04 11:45] katsuya0719 commented on #198
Sorry for late reply. It worked! Thank you!
Can I assume that any attribute with "-" can be ignored to specify using eppy API?

[2018-07-06 13:17] santoshphilip commented on #198
"-" cannot be used because it is a symbol for subtraction. I'll make an update to the documentation to make this clear

[2018-07-06 13:17] #198 closed

[2018-07-06 17:45] yzhou601 opened #206 "EXPIDF not automatically overwritten when I rerun simulation with eppy"
When I was dealing with the Ideal Air Loads model to figure out the load of the building. I could not generate the Zone component load summary report with Eppy while it worked well with EP- Launch, and raised this problem on UnmetHours, the link is:
https://unmethours.com/question/32049/zone-component-load-summary-not-generated-with-eppy-scripts/

And finally I found it was because the .expidf fil

[2018-07-15 23:46] hydrangea009 commented on #205
The command line did not work. I tried the command **idf.run()** again and it seemed that the function cannot obtain **cmd** correctly (shown in the following picture).
And there were a slash and backslash in one line (shown in the following picture): “'C:/EnergyPlusV8-9-0\\energyplus.exe'
![0715-1](https://user-images.githubusercontent.com/38921798/42739531-9c09f214-885e-11e8-80ec-5966711e46b4.JP

[2018-07-16 08:13] jamiebull1 commented on #205
In what way didn't it work?

[2018-07-16 17:08] hydrangea009 commented on #205
I changed the idf file and close all the antivirus programs. Now I can run the code successfully in ipython and command line（shown in the following picture for the records） But I did not find the results or any output file in my computer. Could you tell me the default path for the output files? Thank you very much.
The record for ipython:
![0716-1](https://user-images.githubusercontent.com/3892179

[2018-09-20 22:30] santoshphilip commented on #55
fixed and merged into branch develop

[2018-09-20 22:30] #55 closed

[2018-09-21 22:52] santoshphilip opened #207 "loopdiagram.py not working with E+ 8.8 or higher"
Looks like something about the return node has changed in the idd file.
First task is to update the documentation to reflect this.

[2018-09-25 21:02] hydrangea009 commented on #205
I have fixed it. Thank you very much. Sorry for that I forgot to close the issue.

[2018-09-25 21:02] #205 closed

[2018-10-02 00:08] Wbec opened #208 "[Bug] Working directory is changed when runnning an invalid idf"
If I run an idf with any invalid values, the `.run()` command has the side effect of changing the current working directory:
[code]
The calls to `os.getcwd()` will display `/home/civil/Documents/Eppy/` and `/tmp/tmphqz6xpk1` respectively.
This appears to be due to the end of the run function in eppy/eppy/runner/run_functions.py changing the current working directory, and then not always changing i

[2018-10-02 06:29] jamiebull1 commented on #208
Thanks for the report. I'll get it fixed. By the way, a pull request would be tested on the CI platform, so no need to run the tests locally, but since this ought to be a quick fix I'll make the change myself today.

[2018-10-03 18:52] santoshphilip commented on #208
@jamiebull1 ,
I merged your changes into the `develop` branch
cleanup after running the tests not removing some of the files generated in the tests. See below:

    (eppy)Santoshs-MacBook-Pro:eppy santosh$ git status
    On branch develop
    Your branch is up-to-date with 'origin/develop'.

    Untracked files:
      (use "git add <file>..." to include in what will be committed)

    	eppy/tests/

[2018-10-03 19:30] liq2519 opened #210 "Memory usage issue in using runIDFs() with many jobs"
As I've mentioned to @santoshphilip previously, `runIDFs()` can cause memory usage issues when the number of jobs is huge, for example in a parametric analysis. This may be because every job in the list passed to `runIDFs()` is an active IDF instance that consumes considerable memory.

I am now able to bypass this issue by writing all the .idf files and using E+ command line interface and Python `

[2018-10-03 23:19] jamiebull1 commented on #208
Yep, I'll look tomorrow. I think I know where the problem is.

On Wed, 3 Oct 2018, 20:52 santoshphilip, <notifications@github.com> wrote:

[2018-10-03 23:48] santoshphilip commented on #137
- Energyplus 8.9 is starting to use JSON internally (called EPjson).
- So we have the real jsons used in E+
- I am starting to look at what it would take to make eppy work with the json.
- I'll post any progress notes here.

[2018-10-04 00:24] santoshphilip opened #211 "Use Cookiecutter on eppy"
I have been using cookiecutter on many projects (eg. pyephem_sunpath). It has been very useful. The help command shows the functionality:

    $ make help

    clean                remove all build, test, coverage and Python artifacts
    clean-build          remove build artifacts
    clean-pyc            remove Python file artifacts
    clean-test           remove test and coverage artifacts

[2018-10-04 06:06] #208 closed

[2018-10-04 06:12] santoshphilip commented on #211
got this working except for `make docs`
open a new issue to make `make docs` work

This branch has been merged into master and released as a new version

[2018-10-04 06:12] #211 closed

[2018-10-04 12:49] jamiebull1 opened #212 "Clean up artifacts after failed test IDF run"
After fixing #208, the following test artifacts are being left behind and should be cleaned up.

	eppy/tests/eplusout.end
	eppy/tests/eplusout.err
	eppy/tests/in.idf

[2018-10-05 04:44] santoshphilip commented on #210
@liq2519 the code has been changed to work with less memory when running many jobs. This change is in the `develop` branch.
Can you test it with a number of jobs and let us know how it goes.
I'll close this issue once I hear back about your tests

[2018-10-05 07:08] jamiebull1 commented on #210
@liq2519 the important thing is to pass a generator to `runIDFs`, rather
than a list. The docstring wasn't clear that this was possible before.

On Fri, 5 Oct 2018, 06:44 santoshphilip, <notifications@github.com> wrote:

[2018-10-05 13:15] #212 closed

[2018-10-05 18:06] santoshphilip commented on #210
@liq2519 if you don't know about generators, we'll make an example file for you.

[2018-10-08 11:50] zhengzhuang3 opened #215 ""CalledProcessError: returned non-zero exit status 1." when runing EnergyPlus from python"
Dear santoshphilip,
An error is thrown when I ran EnergyPlus from python. ("CalledProcessError: returned non-zero exit status 1." )
The strange thing is that it succeeds when I run idf file with no hvac system assigned.
However, when I assign VRF hvac system to above idf file through IDF editor or through eppy, the error is always given when using idf.run(). ("CalledProcessError: returned non-zero

[2018-10-09 16:58] santoshphilip commented on #215
@jamiebull1 , I am in the innards of epJSON trying to make it work with eppy (epJSON being the new file format for idf and idd files)
Also working with functions for building up plants and systems (I have some experienced people helping on this)

I don't have the band width to look at this issue.

If you have the time, can you take a look ?

[2018-10-09 17:09] santoshphilip opened #216 "Make extensible fields work like python lists"
Right now if you have branch list, it is difficult to remove an item from the middle of the list. The other items in the list have to move up to fill the gap made by the removed item. As similar issue occurs with vertices of a surface such as `BuildingSurface:Detailed`

You can see this when using  idfEditor too. It is much easier to do this in the text editor.

The objective here is to design and

[2018-10-10 02:32] zhengzhuang3 commented on #215
Thank you so much. And I attached the two idf files below for your convenience.
 The two files can both be simulated by EP_luanch directly. However, the idf file named "single_block_withhvac" cannot be simulated through idf.run() while the other can. The only difference is that the "single_block_withhvac" idf is assigned a VRF hvac system.

[single_block.txt](https://github.com/santoshphilip/eppy/

[2018-10-10 07:28] zhengzhuang3 commented on #215
I tried to simulate two .idf files  above in EnergyPlus from the command line.
But "single_block.idf" completed successfully while "single_block_withhvac.idf" thrown a mistake "EnergyPlus Terminated--Error(s) detected".
Then, I simulated the two files manually by clicking buttons in EP-launch. They both gave several warnings but they completed successfully.
Is it because that I assigned the VRF sy

[2018-10-10 08:45] jamiebull1 commented on #215
@santoshphilip sure, I'll take a look

[2018-10-10 08:59] jamiebull1 commented on #215
@zhengzhuang3 The file contains HVAC templates so you need to call `idf.run` with `expandobjects=True`.

[2018-10-10 08:59] #215 closed

[2018-10-10 10:22] jamiebull1 opened #217 "Add more helpful error messages when IDF.run fails"
At the moment, error messages are not returned to the python process when an exception occurs. This makes it difficult for users to debug problems.

It would be useful to add:
- contents of std out
- contents (or summary) of the `.err` file
- path to the `.err` file

[2018-10-10 14:03] jamiebull1 commented on #204
I can't reproduce this on my Windows machine. It runs fine. Can you post the IDF and EPW files you're using when you hit the error?

[2018-10-11 07:34] zhengzhuang3 opened #218 "problems of CSV files generation in idf.run(readvars=True)"
Dear all,
     I meet the same problem as #197 but I have changed all the path style to "forward slash" or use "r". The problem still exists. I cannot generate csv files for the most time and very rarely csv files can be generated through idf.run() but with information loss. For example, I added an output: variable "zone mean air temperature" to a idf with 2 thermal zones  and used idf.run() to ge

[2018-10-13 07:53] #141 closed

[2018-10-13 07:58] jamiebull1 commented on #218
@zhengzhuang3 We really appreciate all your bug reports, here and on `geomeppy`, and I hope we can resolve this so you can get on with your research. Can you post the input files so I can take a look into this?

[2018-10-13 15:18] zhengzhuang3 commented on #218
@jamiebull1  I think I have fixed my problem. I found "output_prefix='filename' "must be added when using idf.run() in eppy, otherwise the simulation result got  at the first time from one console will be presented again and again even when you change the idf files. As for the csv generation problem, it just works today and I don't know why csv files cannot be generated several days ago.
Thank you

[2018-10-13 18:01] jamiebull1 commented on #218
Glad to hear it. Feel free to reopen if the problem reoccurs.

[2018-10-14 03:06] zhengzhuang3 commented on #218
@jamiebull1 Can you help me reopen this issue please? I don't have the right...

[2018-10-14 05:16] santoshphilip commented on #218
reopening ...

[2018-10-14 11:34] jamiebull1 commented on #218
@zhengzhuang3 Are you sure you have any `Output:Variable` objects in your IDF? There are none in the file you uploaded above. Without those, no `eplusout.eso` file is generated, and so the `ReadVarsESO` program terminates without generating a CSV.

[2018-10-14 11:40] jamiebull1 commented on #218
By the way @santoshphilip , the new code in #217 makes debugging this kind of issue so much easier

[2018-10-14 11:52] zhengzhuang3 commented on #218
@jamiebull1 Sorry. You can try this idf file.
[Testing.txt](https://github.com/santoshphilip/eppy/files/2476340/Testing.txt)

[2018-10-14 15:19] santoshphilip commented on #217
reviewing now

[2018-10-14 15:59] santoshphilip commented on #217
@jamiebull1 I have merged your pull request into `develop` branch.

Can you make add a section to ./docs/runningeplus.rst, on debugging the run function when things go wrong and where to find the error information.

This will make it more likely for users to include the error information when they report a run() issue

[2018-10-14 18:37] jamiebull1 commented on #218
@zhengzhuang3 I set this up in the new debugging test and it passes fine.

        idf.run(output_directory="test_dir", expandobjects=True, readvars=True)
        # Add any tests for expected/unexpected outputs here
        assert "eplusout.csv" in os.listdir("test_dir")  # check CSV file is created
        with open(os.path.join(THIS_DIR, "test_dir", "eplusout.csv"), "r") as f:
            header

[2018-10-14 19:34] #217 closed

[2018-10-17 02:29] zhengzhuang3 commented on #218
@jamiebull1  Sorry for the delay reply.
What is your computer configurations? I tried again using idf.run() as yours and the same tesing file above. But the csv file still cannot be generated. The code I used and the ouput files are pasted below.
![image](https://user-images.githubusercontent.com/32953951/47058365-5b148980-d1f7-11e8-9c2c-75c97e52e4e0.png)
![image](https://user-images.githubusercon

[2018-10-18 02:12] zhengzhuang3 commented on #218
@jamiebull1 The eplusout.err file is attached.
[eplusout.err.txt](https://github.com/santoshphilip/eppy/files/2489948/eplusout.err.txt)

[2018-10-23 01:55] liq2519 commented on #210
Sorry wasn't able to respond earlier - just realized to turn on email notification. I'll check the documentation about generators and give it a try in the next few days.

[2018-11-07 01:34] santoshphilip commented on #210
I have been struggling to recreate this error.

Can you try it again, but make sure that the folder `output` exists before you run.
I mean the folder `output` in the code snippet `'output_directory': 'output\\out{}'.format(i)`

[2018-11-07 22:11] liq2519 commented on #210
@santoshphilip Just noticed that I made a mistake in the weather file extension: it should be `'wtr{}.epw'.format{i}` rather than `'wtr{}.idf'.format{i}`. I believe this caused the previous error.

Now I've been able to run the toy problem as well as my own simulations of 100 idfs on 4 cores, and both of them worked well without any memory issues. Thank you very much for your help!

[2018-11-08 19:36] santoshphilip commented on #210
I am glad that this is working. Starting up a 100 or 1000 runs and having it run with no problem is great. Very useful function.

I must say that it took me a while to get it working. It is pretty finicky about the arguments it gets and is not clear telling you what went wrong. I had to look at the test functions to figure out how to run it correctly.

It may be worth updating the documentation to

[2018-11-08 19:36] #210 closed

[2018-11-08 22:12] jamiebull1 opened #222 "Travis CI builds are failing for Mac"
https://travis-ci.org/santoshphilip/eppy/builds/436974919

Looks like issues around changes to default installed version of Python on the test platform.

[2018-11-09 23:38] Wbec commented on #113
It appears that `__dir__` for is broken for EpBunch objects in python 3.
[code]
The above will raise a type error:
[code]
It looks like this is caused by `dict.keys()` returning a view instead of a list in python 3. Changing the line to `func_names = list(self['__functions'].keys())` should fix it.

[2018-11-22 15:59] santoshphilip opened #223 "idf.copyidfobject() does not return the copied object"
Right now `idf.newidfobject()` returns the new idfobject.
`idf.copyidfobject()` should return the copied object for consistency.

Also, it is a very useful return value, since you may want to change a field soon after copying. If you don't have the newly copied object, you have to go looking for it to make any updates

[2018-11-22 16:30] santoshphilip commented on #223
issue have been fixed in the develop branch

[2018-11-22 16:30] #223 closed

[2018-11-24 17:00] santoshphilip opened #224 "Need a better error message when easyopen cannot find the IDD file"
**Problem:** Right now if easyopen cannot find the the idd file, the error message looks like this:
- IOError: [Errno 2] No such file or directory: u'/Applications/EnergyPlus-9-0-0/Energy+.idd'

**Solution:** The error message should look like this:
- input idf file says E+ version 9.0, I cannot find the corresponding idd file '/Applications/EnergyPlus-9-0-0/Energy+.idd'

[2018-11-24 21:38] santoshphilip commented on #224
completed and merged into develop branch

[2018-11-24 21:38] #224 closed

[2018-11-25 15:41] santoshphilip opened #225 "update useful_scripts/idfdiff.py to make the IDD file optional"
**Problem:** useful_scripts/idfdiff.py needs the idd to run.
The help looks like this

    usage: idfdiff.py [-h] (--csv | --html) idd file1 file2

    Do a diff between two idf files. Prints the diff in csv or html file format.
    You can redirect the output to a file and open the file using as a spreadsheet
    or by using a browser

    positional arguments:
      idd         location of idd f

[2018-11-25 15:43] santoshphilip commented on #225
throw exceptions if the version in file1 and file2 do not match

[2018-11-25 15:48] santoshphilip commented on #225
fixed and committed to develop

User Documentation updated to reflect changes

[2018-11-25 15:48] #225 closed

[2018-11-27 15:31] santoshphilip commented on #222
has this problem gone away ?
I have been pushing to the `develop` branch with all test passing

[2018-11-27 15:37] jamiebull1 commented on #222
It works fine on `develop`. We removed the mac tests unless pushing to `master` as they were always such a bottleneck

[2018-11-27 16:12] santoshphilip commented on #222
you are right.
I did not notice that the error occurred on the master.

too busy now. I am going to ignore this until I am ready to push into master

[2018-12-04 16:27] santoshphilip opened #227 "easyopen.easyopen should throw exception when no version number"
If the idd file has no version number, easyopen.easyopen() gives the following error

          4
          5 fname = "../addmissingzones/addtions.idf"
    ----> 6 idf = easyopen(fname)

    /Users/santoshphilip/.virtualenvs/eppy_develop/lib/python2.7/site-packages/eppy/easyopen.pyc in easyopen(fname, idd, epw)
        115     ver_blocks = [block for block in bblocks1
        116

[2018-12-20 02:02] santoshphilip opened #228 "function to convert from (bhp,cfm) to (pascal, m2/sec)"
eppy.fanpower.bhp2pascal(bhp, cfm):
        return pascal m2persec

    eppy.fanpower.watts2pascal(watts, cfm):
        return pascal m2persec

[2018-12-20 02:56] santoshphilip commented on #228
Coded:
    - fanpower.bhp2pascal(bhp, cfm, fan_tot_eff)
    - fanpower.watts2pascal(watts, cfm, fan_tot_eff)

[2018-12-20 02:56] #228 closed

[2018-12-20 16:39] santoshphilip opened #229 "eppy.fanpower is a mess - clean up"
make two modules:
- eppy.fluidcalcs
- eppy.powercalcs

as helpers to eppy.fanpower
also write eppy.pumppower

[2019-01-09 10:07] Begri commented on #204
Hello, I am experiencing the same problem on Mac OS. I have an idf that can be run without problems on EP-Launch, but when I try to run it through eppy I get the following error:

Traceback (most recent call last):
  File "<input>", line 1, in <module>
  File "/Users/ben/virtualenvs/EDINET/lib/python2.7/site-packages/eppy/modeleditor.py", line 1014, in run
    run(self, weather=epw, idd=idd, **kwa

[2019-01-09 14:57] santoshphilip commented on #204
Begri,    I am not seeing your comment on GitHub (in issue #204). I am replying from my email to see if it pops up on the GitHub page.
Santosh
    On Wednesday, January 9, 2019, 2:07:18 AM PST, Begri <notifications@github.com> wrote:

Hello, I am experiencing the same problem on Mac OS. I have an idf that can be run without problems on EP-Launch, but when I try to run it through eppy I get the fol

[2019-01-09 15:33] Begri commented on #204
Hey, I deleted the comment because I found a solution shortly after. The problem was that the schedule files I called in the idf were not in the current work directory of python.

[2019-01-09 18:33] santoshphilip commented on #204
got you.

[2019-01-09 18:34] santoshphilip commented on #204
Next time, add an additional comment saying that you found the solution. That will keep the comment trial on the issue clear. I spent some time thinking the the gihub issues code was broken :-)

[2019-01-11 22:15] dahdo1m commented on #218
I'm currently facing a similar issue, I'm trying to run my idf using eppy:
(idf1.run(readvars=True,outputprefix='1A_'))

I can see the 1A_zsz.eso generated, but I would like to export my output variables to a csv file.

Would you please help?

[2019-01-12 05:17] zhengzhuang3 commented on #218
No... I think this problem do exist. My solution is to use EP-launch manually . you can use EP-launch group simulation if you need run many idf files at one time.

[2019-03-06 00:00] nheeren opened #230 "Why does idf.idfobjects['WINDOW'] have no area attribute?"
OK. This is probably a total noob question which is due to a lack in knowledge in energyplus and eppy, but why does `idf.idfobjects['BuildingSurface:Detailed'.upper()][0].area` return a value and `idf.idfobjects['Window'.upper()][0].area` cause an error?

    eppy.bunch_subclass.BadEPFieldError: unable to find field area

Thank you very much for any pointers.

[2019-03-07 14:44] jamiebull1 commented on #230
The reason is that only these fields have the `area` property added by Eppy.

        "BuildingSurface:Detailed",
        "Wall:Detailed",
        "RoofCeiling:Detailed",
        "Floor:Detailed",
        "FenestrationSurface:Detailed",
        "Shading:Site:Detailed",
        "Shading:Building:Detailed",
        "Shading:Zone:Detailed"

I think this is because the way we calculate area for surfac

[2019-03-07 19:38] nheeren commented on #230
Dear Jamie. This question / issue actually goes back to an [answer of yours on UnmetHours](https://unmethours.com/question/15574/how-to-list-and-measure-area-surfaces/?answer=15604#post-id-15604). Thank you for the help. I will multiplying height times width.

[2019-03-08 22:40] nheeren commented on #230
Unfortunately, this did not work, because there are no length and height attributes. I had to use something like this:

[code]

Maybe eppy should have some way to make this easier in the future. Please close the issue as you see fit.

[2019-03-09 17:03] santoshphilip commented on #230
Niko,    I suspect that did not work because `Length` and `Height` need to start with caps.
Try this

    window = idf.idfobjects['Window'.upper()][0]
    window_area = window.Length * window.Height

[2019-03-09 17:08] santoshphilip commented on #230
Niko,    It should be fairly easy to add the `area` function to `WINDOW` object. Would you like to take a stab at doing that? If you need any help doing that, I'll be happy to assist.

If you make a pull request after coding it. I'll merge it in to `eppy`

[2019-03-10 12:44] jamiebull1 commented on #230
Sorry about that!

[2019-03-10 18:10] santoshphilip commented on #230
to get the correct field names do this:

    window = idf.idfobjects['Window'.upper()][0]
    window.fieldnames

you will get:

    [u'key',
     u'Name',
     u'Construction_Name',
     u'Building_Surface_Name',
     u'Frame_and_Divider_Name',
     u'Multiplier',
     u'Starting_X_Coordinate',
     u'Starting_Z_Coordinate',
     u'Length',
     u'Height']

[2019-03-10 18:19] santoshphilip opened #231 "implement idf = eppy.newidf()"
it is a pain to open a file in eppy. The standard way of doing this is

    from eppy import modeleditor
    from eppy.modeleditor import IDF
    iddfile = "../eppy/resources/iddfiles/Energy+V7_2_0.idd"
    fname1 = "../eppy/resources/idffiles/V_7_2/smallfile.idf"
    IDF.setiddname(iddfile)
    idf1 = IDF(fname1)\

an easier way is:

    from eppy.easyopen import easyopen
    fname = './eppy/reso

[2019-03-10 18:22] santoshphilip commented on #230
I was having a hard time testing the code before posting comments here.
So I opened a new issue to make it easier to open a idf file or create a new one. it is  issue in #231

[2019-03-10 19:19] santoshphilip commented on #231
implemented and pushed to the develop branch.
- has unit tests
- need to add this function to the documentation
- make numpy style docstrings
- there are some common helper functions in test_eppy and test_easyopen. Move these to idf_helpers or idd_helpers

[2019-03-10 19:59] santoshphilip commented on #231
completed the TODO items in the previous comment.

Should consider writing:

    import eppy
    idf = eppy.openidf("samplefile.idf")

[2019-03-10 20:26] santoshphilip commented on #231
- coded openidf
- tested and documented

[2019-03-10 20:26] #231 closed

[2019-03-13 12:33] myndtrust opened #232 "Energy+V8_9_0.idd.idd breaks the makeplantloop function"
This appears to work in Energy+V7_0_0_036, in Energy+V8_9_0.idd the following error is thrown. I am new and can not pin point the problem.

---------------------------------------------------------------------------
BadEPFieldError                           Traceback (most recent call last)
<ipython-input-78-c7448af7ea4c> in <module>()
      4 sloop = ['sb0', ['sb1', 'sb2', 'sb3'], 'sb4'] # supply

[2019-03-15 08:07] nheeren commented on #230
Oops - you are absolutely right! Thank you very much for tuning into this.

Sorry, I am not sure why you mention this here.

I'll look into it.

[2019-03-15 21:02] santoshphilip commented on #230
python does give you a way to introspect the attributes of a class

    window = idf.idfobjects['Window'.upper()][0]
    print dir(window)

will give you the attributes.

Having said that, eppy overrides a some of the built-in fuctionality of python. So it may not always behave the ways in which standard python code behaves. Although it should be fine for this example.

Ignore my comment on issue

[2019-03-15 21:02] santoshphilip commented on #230
Niko,
    I'll let you close this issue, if you are done with it.

[2019-03-15 21:05] santoshphilip commented on #230
dammit, my finger slipped and I closed it again :-(

[2019-03-19 18:38] santoshphilip commented on #232
yes, you are right. It is broken.
It is a little difficult to fix for a couple of reasons

I am rethinking how to design this part of the API. So this may take some time before this is working again :-(
In the meantime I'll update the docs to reflect the fact that it is broken

I'll close this issue once I update the documentation.

[2019-03-31 15:26] nheeren opened #233 "eppy documentation on parallel processing missing?"
In the eppy [documentation on parallel processing](https://eppy.readthedocs.io/en/latest/runningeplus.html#running-in-parallel-processes) it says:

Am I missing something very obvious here or is the example somehow missing? Would this be easy to fix?

Also the link to "View on Github" is dead. Is the documentation on readthedocs not being maintained anymore?

[2019-04-01 18:38] santoshphilip commented on #233
@nheeren , I totally agree with your that the documentation is not up to snuff. Reading it right now, even I could not understand what it was saying.
Take a look at the (closed) issue #210. Look towards the end of the comnent stream. See if that helps you to get started on runIDFs(). Post any comments here that can lead to improving the documentation.

I am not understanding what you mean when you

[2019-04-01 20:13] nheeren commented on #233
Ok. Will have a closer look in that issue. Thank you!

Sorry for not being more precise before. Here a screenshot that should explain it:

![Screenshot 2019-04-01 at 22 10 37](https://user-images.githubusercontent.com/5136954/55356507-28233100-54cb-11e9-8bb5-abefaea1e8e8.png)

[2019-04-01 23:14] santoshphilip commented on #233
That link "View" is:

        https://github.com/santoshphilip/eppy/blob/develop/home/docs/checkouts/readthedocs.org/user_builds/eppy/checkouts/latest/docs/source/conf.py/index.rst

something in readthedocs is generating that link. I am not sure how or what that is. I am considering it low priority at the moment.

Regarding the runIDF, also take a look the test code in https://github.com/santoshph

[2019-04-06 18:41] danielmcquillen commented on #81
Just a note : this error also shows up if you're using pathlib and accidentally pass in a PosixPath instance rather than the string representation of it. Hope that saves someone some time.

[2019-04-18 14:02] lymereJ opened #234 "List.extend() vs list comprehension"
Why does `type([idf_file.idfobjects[rule_type] for rule_type in ["GLOBALGEOMETRYRULES"]][0])` returns `eppy.idf_msequence.Idf_MSequence` but
[code]
returns `geomeppy.patches.EpBunch`
The two methods seems similar, I don't understand why the type of object changes. What am I missing? I came across [this page](https://github.com/santoshphilip/eppy/blob/c04db34eec35fefc8c32d6336f2d4b42a87b9c94/docs/s

[2019-04-18 15:18] santoshphilip commented on #234
I'll take a look.
It's been a while since I worked on that part of the code, but I think I know what is going on

[2019-04-18 18:55] santoshphilip commented on #234
@lymereJ , Take a look at the code snippets I have pasted below
If I have understood your question corrrectly, this should explain what is happening
I am copying and pasting from my ipython console. So you can see the outputs too.

Start

    In [2]: %paste
    idf = idf_file
    rule_type = 'GLOBALGEOMETRYRULES'
    ## -- End pasted text --

grules and grule are different types

    In [3]: %past

[2019-04-19 00:59] lymereJ commented on #234
That makes a lot of sense, thank you!

[2019-04-19 01:39] #234 closed

[2019-04-23 23:27] #230 closed

[2019-05-07 16:26] santoshphilip opened #236 "idf.run(weather=wfile) fails if weather file was not set when idf file was opened"
The following code does not work:

    idd = "/Applications/EnergyPlus-8-5-0/Energy+.idd"
    fname = "eppy/resources/idffiles/V8_5/smallfile.idf"
    weatherfile = "/Applications/EnergyPlus-8-5-0/WeatherData/USA_CA_San.Francisco.Intl.AP.724940_TMY3.epw"

    from eppy import modeleditor
    from eppy.modeleditor import IDF
    IDF.setiddname(idd)

    # this code works
    idf1 = IDF(fname, epw=w

[2019-05-07 16:32] santoshphilip commented on #236
The bug fix is easy

in eppy.modeleditor.py change lines 551 and 552

from

        if epw != None:
            self.epw = epw

to

       #  if epw != None:
        self.epw = epw

What is need here is unit test to confirm that its is working

[2019-05-21 15:12] yahyasheikhnejad opened #237 "Running EnergyPlus from Eppy"
after importing all required modules:

import os
import sys
import numpy as np
from eppy import *
from eppy import modeleditor
from eppy.modeleditor import IDF

EPPY Code [from https://pythonhosted.org//eppy/runningeplus.html]:

    iddfile = "C:/EnergyPlusV8-9-0/PreProcess/IDFVersionUpdater/V8-3-0-Energy+.idd"
    IDF.setiddname(iddfile)
    idfname = "C:/EnergyPlusV8-9-0/ExampleFiles/BasicsFiles

[2019-05-21 15:19] santoshphilip commented on #237
see @jasonglazer comment at

https://github.com/santoshphilip/eppy/commit/55410ff7c11722f35bc4331ff5e00a0b86f787e1#commitcomment-33621430

[2019-05-21 16:46] yahyasheikhnejad commented on #237
@santoshphilip thanks, but running .idf file still is the main problem remaining unsolved!
Please help! Thank you so much for your support.

[2019-05-21 16:54] jamiebull1 commented on #237
You can pass an output directory to the `run` method.

    idf.run(output_directory="somewhere/you/can/write/to")

[2019-05-21 17:03] yahyasheikhnejad commented on #237
TypeError: run() takes 1 positional argument but 2 were given

which means this method takes only "self" as its sole argument and will not accept path!
I am right?

[2019-05-21 17:38] yahyasheikhnejad commented on #236
Windows 10 will not allow us to save the changes that have been made on the .py files corresponding to installed eppy program!
I tried and got an error: Access is denied.

[2019-05-21 18:45] yahyasheikhnejad commented on #237
@santoshphilip @jamiebull1
I appreciate your time spending on my question,
I tried suggested format but still running .idf file still is the main problem remaining unsolved!
idf.run(output_directory='c:/') will again results in PermissionError: [Errno 13] Permission denied: 'in.idf'
Please help!

[2019-05-21 19:19] jamiebull1 commented on #237
Try setting your current working directory with `os.chdir("somewhere/you/can/write/to")`. It looks like the offending line is in `IDF.run()`:

    def run(self, **kwargs):
        ....
        # write the IDF to the current directory
        self.saveas('in.idf')

If your cwd isn't writeable then this line will fail.

[2019-05-27 14:09] santoshphilip opened #238 "eppy truncates idf files when there are insufficient fields in the idd"
The IDD files defines all the fields that can be in the IDF file. Some objects have extensible fields. On installation of Energplus, the IDD file will have a certain number of fields.

From the documentation in the IDD file:

    !  \extensible:<#>  This object is dynamically extensible -- meaning, if you
    !           change the IDD appropriately (if the object has a simple list
    !

[2019-05-28 17:05] yahyasheikhnejad commented on #237
Dear @santoshphilip and @jamiebull1
I do appreciate if you could help me with this new type of error saying there is an indentation problem inside modeleditor.py!!!

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\Users\yahya\AppData\Local\Continuum\anaconda3\lib\eppy\modeleditor.py", line 28, in <module>
    from eppy.runner.run_functions import run
  File "C:\

[2019-05-28 17:41] yahyasheikhnejad commented on #237
Dear @santoshphilip and @jamiebull1
first, I want you to know that I am grateful for your help and support till now.
I have copied all the required files to where I can write and save. now another problem is arisen from command run():

Code:

import os
from eppy import *
from eppy import modeleditor
from eppy.modeleditor import IDF

os.chdir("C:/Yahya/EP")
iddfile = "Energy+V7_2_0.idd"        # th

[2019-05-28 17:46] jamiebull1 commented on #237
Can you try adding a breakpoint or a print statement and see what the value of `cmd` is here:

    File "C:\Users\yahya\AppData\Local\Programs\Python\Python36\lib\site-packages\eppy\runner\run_functions.py", line 238, in run
    check_call(cmd)

[2019-05-28 19:52] yahyasheikhnejad commented on #237
cmd =  ['C:/EnergyPlusV7-2-0\\energyplus.exe', '--output-directory', 'C:\\Yahya\\EP', '--weather', 'C:\\Yahya\\EP\\USA_IL_Chicago-OHare.Intl.AP.725300_TMY3.epw', 'C:\\Yahya\\EP\\in.idf']

[2019-05-28 19:53] jamiebull1 commented on #237
And do all of those paths actually exist?

[2019-05-28 20:17] JasonGlazer commented on #237
Don't use \ it will think that is and the next character is an escape character. Use / instead or else \\

[2019-05-29 14:56] santoshphilip commented on #238
This has be completed and merged into master

[2019-05-29 14:56] #238 closed

[2019-05-29 17:13] yahyasheikhnejad commented on #237
of course they do!
this complicated problem is going to kill me! everything looks fine, I have checked everything.
the error seems unreasonable!

[2019-05-29 17:17] yahyasheikhnejad commented on #237
I didn't...!
I presented my code above, as you may see, all directories are written with "/".
"\" appeared as a result of printing variable "cmd" in the file of "run_functions.py" as recommended by @jamiebull1 .

[2019-05-29 17:46] jamiebull1 commented on #237
Sorry, I should have said "which one of those paths doesn't actually exist?" The error tells us that one of them doesn't for one reason or another, at least at the point when the subprocess is looking for it.

Some ideas:

- Check @JasonGlazer 's point about \ vs / by setting a breakpoint just before the subprocess is called, and checking you can access the files from the Python shell with `os.pat

[2019-05-30 08:59] yahyasheikhnejad commented on #237
Dear @jamiebull1
first of all, thank you so much for being so nice to me and step by step helping me to solve my problem. I do appreciate.
second, I checked all the files inside "cmd" value, except "C:/EnergyPlusV7-2-0/energyplus.exe" all of the files exist.
the problem with this file is the version of EP!!
correct file address is: "C:\EnergyPlusV8-9-0/energyplus.exe"
while EP V8-9-0 is installed

[2019-05-30 14:39] jamiebull1 commented on #237
Now we're getting somewhere. Here is the offending line in your code:

`iddfile = "Energy+V7_2_0.idd" # this file is in specified directory`

You need to set the IDD for the version of EnergyPlus you're using, and also be sure that it matches the version in the IDF you're using.

[2019-05-30 14:53] santoshphilip commented on #237
OK .. I think I know where the problem is coming from. I am not at a computer yet. So I can't test anything. Here are my thoughts:

don't use this:
iddfile = "Energy+V7_2_0.idd" # this file is in specified directory
Use:

iddfile = C:/EnergyPlusV8-9-0/Energy+.idd
IDF.setiddname(iddfile)

make sure your IDF file has the lines::

    version,
    8.9;

See if it works now

[2019-05-30 14:58] santoshphilip commented on #237
didn't see @jamiebull1 reply when I posted. Looks like we are saying the same things :-)

[2019-05-30 15:03] yahyasheikhnejad commented on #237
Dear @santoshphilip and @jamiebull1
thank both of you for all your help and support. I appreciate the time you were spending to solve my problem. I will try and write the result here.

[2019-05-30 16:03] yahyasheikhnejad commented on #237
Dear @santoshphilip  and @jamiebull1
the problem is solved!
Thanks a million!
I truly appreciate your help and support.

[2019-05-30 17:56] santoshphilip commented on #237
@yahyasheikhnejad ,

I have been writing some code that will make what you are doing easier.

this code is in the project [witheppy](https://github.com/pyenergyplus/witheppy)

- You need to install witheppy
    - pip install witheppy
- You also need the latest eppy >= 0.5.49
    - pip uninstall eppy
    - pip install eppy

The documentation for the function is is [here](https://witheppy.readthedoc

[2019-05-31 09:55] yahyasheikhnejad commented on #237
Dear @santoshphilip
Thank you so much for being so kind and for your high responsibility.
you, @jamiebull1 and @JasonGlazer are nice scientific guys who help me in my problem and I extremely appreciate it.

[2019-05-31 09:58] yahyasheikhnejad commented on #237
Dear @santoshphilip
would you please do me a favor and explain this command line: witheppy.runner.eplaunch_run(idf)
what does this line do?
or
what is the role of this line?

[2019-05-31 14:23] santoshphilip commented on #237
It will run the simulation.

Same as idf.run()
except that it has some default arguments. See the links:
- https://witheppy.readthedocs.io/en/latest/userdocs.html#ep-launch-functionality-with-eppy
- https://witheppy.readthedocs.io/en/latest/_modules/witheppy/runner.html#eplaunch_run

Santosh

[2019-05-31 18:04] santoshphilip commented on #237
@yahyasheikhnejad , dont worry about the witheppy stuff if you got everything working.
I am going to consider this issue resolved and I'll close it

[2019-05-31 18:04] #237 closed

[2019-05-31 18:14] samuelduchesne commented on #113
I just found out about this quick fix by @Wbec. It is definitely annoying that whenever I open an EpBunch in the variables viewer of PyCharm (while debugging), I get a `TypeError: can only concatenate list (not "dict_keys") to list`.

Does changing from a `dict_key` to a `list` break Python2?

[2019-06-01 13:15] jamiebull1 commented on #113
Why not try it? If you open a pull request, the CI will run the tests against py 2.7.

[2019-06-01 13:31] jamiebull1 commented on #222
For what it's worth, the issue is this https://github.com/travis-ci/travis-ci/issues/9929 and Travis now officially state they don't support Python on OSX. I'll give some of the suggested workarounds a try.

[2019-06-01 14:44] jamiebull1 opened #240 "Dropping legacy Python"
Given that Python 2 end of life is only 7 months away, we should probably consider dropping official support for legacy Python versions. Not saying we should actually do it, but certainly consider it.

Pros:
- speed up CI by reducing the number of versions to test against
- allow us to use newer features like f-strings, type hints, and `Pathlib`
- remove ugly compatibility workarounds with `six`

[2019-06-02 12:30] santoshphilip commented on #240
I am comfortable moving to python3.
This is an odd thing to say, but one of the issues with eppy is that, "It simply works". So we don't hear back from people who are using it.

It would be good to hear back from other users (stake holders) see if we are missing anything. I see a couple of ways of doing that:

- bldg-sim@lists.onebuilding.org
- EnergyPlus_Support@yahoogroups.com
- unmethours - see

[2019-06-02 13:18] santoshphilip commented on #240
I am inclined to do the following:

- make an announcement that we are moving to python3 on future versions of eppy on:
    - bldg-sim@lists.onebuilding.org
    - EnergyPlus_Support@yahoogroups.com

Ask for feedback

Most likely we'll move to python3 at this point.

flagging @jasonglazer for any input

[2019-06-02 13:42] santoshphilip commented on #113
@samuelduchesne pull request has been merged

[2019-06-02 13:42] #113 closed

[2019-06-03 09:55] jamiebull1 commented on #240
Agreed that an announcement/request for comments would be a good idea, and in the spirit of keeping the community involved. Also agree that this isn't really an UnmetHours type of question.

Half-way house option would be to continue to support a cross-platform version (bugfixes, responding to issues), but only add new features, changes for new EnergyPlus version compatibility) to the py3 version.

[2019-06-07 23:01] santoshphilip opened #241 "documentation error in eppy.newidf"
the error is here
https://eppy.readthedocs.io/en/latest/newfunctions.html#more-easy-functions

It should be
idf = eppy.newidf()

[2019-06-10 15:03] JasonGlazer opened #242 "Allow mixed case for specifying objects"
Currently getting objects requires using the form:

        objs = idf.idfobjects['ElectricEquipment'.upper()]

It would be convenient to just allow this form to work

        objs = idf.idfobjects['ElectricEquipment']

And apply this to all other functions that take an argument of the name of an object.

It looks like case insensitive dictionaries are described here:

https://stackoverflow.com/qu

[2019-06-10 16:20] jamiebull1 commented on #242
+1 from me. I've had this on my todo list for ages, right down to that StackOverflow post, but not got around to it!

[2019-06-10 19:17] santoshphilip commented on #242
I am reluctant to change the default behavior of dict.
Having subclassed EpBunch from Munch (which is subclassed from dict), I have experienced how difficult it can be

When you have a bug, dict stops working and debugging was a nightmare, since it would start failing in mysterious ways
people will use EpBunch in ways we don't expect, meaning idf.idfobjects['ElectricEquipment'] is not the only thi

[2019-06-10 21:55] jamiebull1 commented on #242
I've done some testing on this and added the best-looking implementation from that StackOverflow answer, along with a set of tests for the get, set, in, and del operations. It actually only needed swapping in in one place, `makebunches_alter`. Well, two if we count `makebunches` which we don't actually use in the codebase.

Nothing in the test suite breaks, but that's not exactly comprehensive. If

[2019-06-10 23:02] santoshphilip commented on #242
I was just writing some code snippets for @JasonGlazer
I have this line

    idf.newidfobject("BranchList".upper(), Name='Branchlist1')

would this line work with your updates (i see your pull request)

    idf.newidfobject("BranchList", Name='Branchlist2')

I think it would work. Now we have a key that is "BranchList", an older key that is "BRANCHLIST"
Is my understanding correct ?

[2019-06-10 23:27] santoshphilip commented on #242
I did some tests with it.
My previous comment is incorrect

It does work correctly. The keys are always in caps.

[2019-06-11 07:05] jamiebull1 commented on #242
Yes, keys are all normalised to caps. Doesn't have to be that way. It's also possible to have them keep the case they were passed in with. There's an implementation of that in `requests` that we could replicate, but I lean towards keeping it simple, and all caps is the way it's been in `eppy` up to now.

[2019-06-11 16:28] santoshphilip commented on #242
I agree about caps and keeping it simple

[2019-06-11 16:30] santoshphilip commented on #242
I removed all the .upper() in the tests
(most of the .upper() - some are needed for other reasons)

All test pass without the uppers()
I'll merge soon

[2019-06-11 16:30] #242 closed

[2019-06-11 16:38] santoshphilip opened #244 "update user docs to reflect key in idf.idfobjects is not case-sensitive"
issue #242 has been resolved

The documentation does not reflect this.
update documentation to match the code

[2019-06-11 16:40] JasonGlazer commented on #242
Thanks @jamiebull1 and @santoshphilip! This has always been an annoyance.

[2019-06-11 16:43] santoshphilip commented on #242
more thanks to @jamiebull1
He did the heavy lifting

[2019-06-11 16:43] santoshphilip commented on #242
this change has been merged into master.
I'll do a new release when I get a moment

[2019-06-24 11:31] yahyasheikhnejad commented on #204
Dear @santoshphilip and @jamiebull1
the same error (returned non-zero exit status 1) I have encountered recently and I do not know what is its origin. The eppy module is updated and I am using EnergyPlus, Version 9.1.0-08d2e308bb.
These files are in the same directory (C:/Yahya/EP/Yahya Model):
1- Energy+.idd     [copy and paste from C:\EnergyPlusV9-1-0]
2- USA_CA_San_Francisco.epw     [copy and p

[2019-06-24 11:49] jamiebull1 commented on #204
@yahyasheikhnejad Can you try running with the verbose option set? `idf.run(verbose="v")`

[2019-06-24 11:52] jamiebull1 commented on #204
It looks like an error in the IDF though. Can you run it directly from EPLaunch?

[2019-06-24 13:00] yahyasheikhnejad commented on #204
First of all, I acknowledge your kindness to respond to me rapidly.
yes! with no error! I attached the error file generated by EP-Launch in the first comment.

Simulation Error Summary:
EnergyPlus Warmup Error Summary. During Warmup: 0 Warning; 0 Severe Errors.
   ************* EnergyPlus Sizing Error Summary. During Sizing: 3 Warning; 0 Severe Errors.
   ************* EnergyPlus Completed Success

[2019-06-24 13:35] yahyasheikhnejad commented on #204
Code:

import os
import sys
from eppy import *
from eppy import modeleditor
from eppy.modeleditor import IDF
os.chdir("C:/Yahya/EP/Yahya Model")
iddfile = "Energy+.idd"
IDF.setiddname(iddfile)
epwfile = "USA_VA_Sterling-Washington.Dulles.Intl.AP.724030_TMY3.epw"
fname = "RoomVRF_Fanger.idf"
idf = IDF(fname, epwfile)
idf.run(verbose="v")

Result:

cmd =  ['C:/EnergyPlusV9-1-0\\energyplus.exe', '--o

[2019-06-24 13:47] yahyasheikhnejad commented on #204
@jamiebull1 @santoshphilip

In fact, I do not understand the meaning of "returned non-zero exit status 1"
while all files are available in the specified directory, which kind of mistake can result in this error?

[2019-06-24 13:55] jamiebull1 commented on #204
Could be related to postprocessing, or could be a bug in the `IDF.run` code. I can try to reproduce the error if you can share the input files.